@charset "utf-8";
/* CSS Document */

.split {
	height: 100%;
	width: 100%;
	/*position: fixed;*/
	z-index: 1;
}
.left {
	left: 0;
	background-repeat: no-repeat;
}
.right {
	right: 0;
	background-repeat: no-repeat;
	padding-top: 10%;
}

/*.left {
	left: 0;
	background-image: url("../../img/bg1.png");
	background-repeat: no-repeat;
}
.right {
	right: 0;
	background-image: url("../../img/bg2.png");
	background-repeat: no-repeat;
}

.footer {
	margin-top: 39%;
	position: Fixed;
	width: 100%;
	left: 0px;
}
* {
	margin: 0px;
	padding: 0px;
}
*/

.circular-sb {
	width: 331px;
	border: 3px solid #959595;
	margin: -100px auto;
	text-align: center;
	font-size: 12px;
	font-weight: 900;
	position: relative;
	margin-left: 45.5%;
	border-top-left-radius: 25px;
	border-bottom-left-radius: 25px;
	border-right: 8px solid #77dd77;
	padding-top: 20px;
	padding-bottom: 20px;
}
.circle3 {
	position: absolute;
	width: 25px;
	padding: 15px 15px;
	border-radius: 50%;
	left: -42px;
	bottom: 11px;
	background-color: #77dd77;
}
.circle4 {
	position: absolute;
	width: 5px;
	padding: 10px 10px;
	border-radius: 50%;
	left: -64px;
	bottom: -2px;
	background-color: #77dd77;
}
.circle5 {
	position: absolute;
	width: 5px;
	padding: 5px 5px;
	border-radius: 50%;
	left: -80px;
	bottom: -11px;
	background-color: #77dd77;
}
.sb {
	background-color: #fff;
	border: 3px solid #5ad0e5;
	border-radius: 10px;
	font-size: 14px;
	margin-bottom: 2%;
	/*margin-left: 11%;*/
	padding: 10px 10px 0 60px;
	position: relative;
	text-align: left !important;
	width: 100%;
}
.num {
	/* background-color: #5ad0e5; */
	/*  */
	/* bottom: 25px; */
	/* font-size: 18px; */
	/* left: 2px; */
	/* position: absolute; */
	/* width: 40px; */
	/* text-align: center !important; */
background-color: #5ad0e5;

font-size: 18px;
left: 0px;
position: absolute;
width: 7%;
text-align: center !important;
height: 100%;	
bottom: 0px;	
	
}
.sb2 {
	width: 400px;
	border: 3px solid #5ad0e5;
	text-align: center;
	font-size: 14px;
	position: relative;
	margin-left: 11%;
	border-radius: 10px;
	padding: 10px;
	padding-left: 60px;
	background-color: #fff;
	margin-bottom: -27%;
	text-align: left;
}
.num2 {
	position: absolute;
	padding: 8px 8px;
	left: 2px;
	font-size: 30px;
	bottom: 1px;
	background-color: #5ad0e5;
	width: 56px;
	border-bottom-left-radius: 20px;
	border-top-left-radius: 20px;
}
.sb3 {
	width: 400px;
	border: 3px solid #5ad0e5;
	text-align: center;
	font-size: 14px;
	font-family: Corporate S Pro;
	position: relative;
	margin-left: 11%;
	border-radius: 10px;
	padding: 10px;
	padding-left: 60px;
	background-color: #fff;
	margin-bottom: -230%;
}
.num1 {
	position: absolute;
	padding: 17px 18px;
	left: 2px;
	bottom: 1px;
	font-size: 31px;
	background-color: #5ad0e5;
	width: 56px;
	border-bottom-left-radius: 20px;
	border-top-left-radius: 20px;
}
.questionTextWidth {
	padding: 0px !important;
	display: flex;
	justify-content: center;
}
.questionTextWidth:hover {
	cursor: pointer;
}
.circle-icon {
	background: #f68972 none repeat scroll 0 0;
	border-radius: 50%;
	height: 40px;
	line-height: 45px;
	text-align: center;
	vertical-align: middle;
	width: 40px;
}
.col-md-6.progressbar.progress {
	padding-left: 0 !important;
	padding-right: 0 !important;
}
.loadQuesImg {
	left: -100px;
	position: absolute;
	width: 100px;
	margin-top: -50px;
}
.imgsize {
	position: fixed;
	bottom: 0px;
	right: 0px;
	z-index: 999 !important;
}
.imgsize img {
	width: 80%;
}

.heightsc { margin-top:10px;}


.female{ position:fixed; left:0; bottom:-100px !important; background:url(../../img/av1.png) no-repeat; width:206px; height:547px;}
/*#resMessage{ float:left; display:block; clear:both; width:500px !important;}*/

/*.heightsc { overflow-y: scroll; width: calc(50% - 240px); min-width: 330px; }*/

:root { font-size: 1.125rem; }
@media (min-width: 600px) { :root { font-size: 1.5rem; } }
@media (min-width: 900px) { :root { font-size: 1.75rem; } }
@media (min-width: 1200px) { :root { font-size: 2rem; } }
*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.messages {
  overflow: auto;
  /*width: 100vw;
  max-height: 100vh;*/
  padding: 1rem .9rem; 
}
.message .loading p{ display:none;}
.bubble.is-loading{ width:150px !important; height:70px !important;}
.bubble.is-loading p{ visibility:hidden;}
.bubble {
  /*overflow: hidden;*/
  display: block;
  margin: 0 0 .125rem 0;
  padding: .5rem .85rem;
  line-height: 20px !important;
  border-radius: 0.25rem;
  transform-origin: 0 100%;
  vertical-align: middle;
  transition: border-radius .25s ease-out .075s; width:100% !important; min-height:50px; height:auto !important;
}
.bubble.left.cornered {
  border-bottom-left-radius: 0;
}
.bubble.left {
  background: rgba(206,206,206,0.50);
}
.bubble:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: -.5rem;
  width: auto;
  height: .5rem;
  background-image: url(../../img/corner.svg);
  background-size: .5rem .5rem;
  background-position: .5rem 0;
  background-repeat: no-repeat;
  transition: background-position .15s ease-in;
}
.bubble.cornered:after {
  background-position: 0 0; 
}
.bubble span {
  /*display: block;*/
}
.bubble .message {
  opacity: 0; width:500px !important; height:auto !important;
}
.bubble a {
  color: #0076FF;
}
.loading {
  position: absolute;
 /* width: 8rem;*/
  font-size: 2rem;
  line-height: 1rem;
}
.bubble .loading b {
  display: inline-block;
  color: rgba(0,0,0,.5);
}

#onloadpopup { background-color: rgba(4, 4, 4, 1);	}




 @media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px) {
.split {
	height: 100%;
	width: 100%;
	/*position: fixed;*/
	z-index: 1;
}
.left {
	left: 0;
	background-repeat: no-repeat;
}
.right {
	right: 0;
	background-repeat: no-repeat;
	padding-top: 10%;
}

/*.left {
	left: 0;
	background-image: url("../../img/bg1.png");
	background-repeat: no-repeat;
}
.right {
	right: 0;
	background-image: url("../../img/bg2.png");
	background-repeat: no-repeat;
}

.footer {
	margin-top: 39%;
	position: Fixed;
	width: 100%;
	left: 0px;
}
* {
	margin: 0px;
	padding: 0px;
}
*/

.circular-sb {
	width: 331px;
	border: 3px solid #959595;
	margin: -100px auto;
	text-align: center;
	font-size: 12px;
	font-weight: 900;
	position: relative;
	margin-left: 45.5%;
	border-top-left-radius: 25px;
	border-bottom-left-radius: 25px;
	border-right: 8px solid #77dd77;
	padding-top: 20px;
	padding-bottom: 20px;
}
.circle3 {
	position: absolute;
	width: 25px;
	padding: 15px 15px;
	border-radius: 50%;
	left: -42px;
	bottom: 11px;
	background-color: #77dd77;
}
.circle4 {
	position: absolute;
	width: 5px;
	padding: 10px 10px;
	border-radius: 50%;
	left: -64px;
	bottom: -2px;
	background-color: #77dd77;
}
.circle5 {
	position: absolute;
	width: 5px;
	padding: 5px 5px;
	border-radius: 50%;
	left: -80px;
	bottom: -11px;
	background-color: #77dd77;
}
.sb {
	background-color: #fff;
	border: 3px solid #5ad0e5;
	border-radius: 10px;
	font-size: 14px;
	margin-bottom: 2%;
	/*margin-left: 11%;*/
	padding: 10px 10px 0 60px;
	position: relative;
	text-align: left !important;
	width: 100%;
}
.num {
	/* background-color: #5ad0e5; */
	/*  */
	/* bottom: 25px; */
	/* font-size: 18px; */
	/* left: 2px; */
	/* position: absolute; */
	/* width: 40px; */
	/* text-align: center !important; */
background-color: #5ad0e5;

font-size: 18px;
left: 0px;
position: absolute;
width: 7%;
text-align: center !important;
height: 100%;	
bottom: 0px;	
	
}
.sb2 {
	width: 400px;
	border: 3px solid #5ad0e5;
	text-align: center;
	font-size: 14px;
	position: relative;
	margin-left: 11%;
	border-radius: 10px;
	padding: 10px;
	padding-left: 60px;
	background-color: #fff;
	margin-bottom: -27%;
	text-align: left;
}
.num2 {
	position: absolute;
	padding: 8px 8px;
	left: 2px;
	font-size: 30px;
	bottom: 1px;
	background-color: #5ad0e5;
	width: 56px;
	border-bottom-left-radius: 20px;
	border-top-left-radius: 20px;
}
.sb3 {
	width: 400px;
	border: 3px solid #5ad0e5;
	text-align: center;
	font-size: 14px;
	font-family: Corporate S Pro;
	position: relative;
	margin-left: 11%;
	border-radius: 10px;
	padding: 10px;
	padding-left: 60px;
	background-color: #fff;
	margin-bottom: -230%;
}
.num1 {
	position: absolute;
	padding: 17px 18px;
	left: 2px;
	bottom: 1px;
	font-size: 31px;
	background-color: #5ad0e5;
	width: 56px;
	border-bottom-left-radius: 20px;
	border-top-left-radius: 20px;
}
.questionTextWidth {
	padding: 0px !important;
	display: flex;
	justify-content: center;
}
.questionTextWidth:hover {
	cursor: pointer;
}
.circle-icon {
	background: #f68972 none repeat scroll 0 0;
	border-radius: 50%;
	height: 40px;
	line-height: 45px;
	text-align: center;
	vertical-align: middle;
	width: 40px;
}
.col-md-6.progressbar.progress {
	padding-left: 0 !important;
	padding-right: 0 !important;
}
.loadQuesImg {
	left: -100px;
	position: absolute;
	width: 100px;
	margin-top: -50px;
}
.imgsize {
	position: fixed;
	bottom: 0px;
	right: 0px;
	z-index: 999 !important;
}
.imgsize img {
	width: 80%;
}

.heightsc { margin-top:10px;}




.female {

    position: fixed;
    left: 0;
    bottom: -201px !important;
    background: url(../../img/av1.png) no-repeat;
    width: 157px;
    height: 157px;
    border-radius: 50%;
    margin-left: -31%;
    margin-bottom: 30%;
    border: 2px solid red;

}

/*#resMessage{ float:left; display:block; clear:both; width:500px !important;}*/

/*.heightsc { overflow-y: scroll; width: calc(50% - 240px); min-width: 330px; }*/

:root { font-size: 1.125rem; }
@media (min-width: 600px) { :root { font-size: 1.5rem; } }
@media (min-width: 900px) { :root { font-size: 1.75rem; } }
@media (min-width: 1200px) { :root { font-size: 2rem; } }
*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.messages {
  overflow: auto;
  /*width: 100vw;
  max-height: 100vh;*/
  padding: 1rem .9rem; 
}
.message .loading p{ display:none;}
.bubble.is-loading{ width:150px !important; height:70px !important;}
.bubble.is-loading p{ visibility:hidden;}
.bubble {
  /*overflow: hidden;*/
  display: block;
  margin: 0 0 .125rem 0;
  padding: .5rem .85rem;
  line-height: 20px !important;
  border-radius: 0.25rem;
  transform-origin: 0 100%;
  vertical-align: middle;
  transition: border-radius .25s ease-out .075s; width:100% !important; min-height:50px; height:auto !important;
}
.bubble.left.cornered {
  border-bottom-left-radius: 0;
}
.bubble.left {
  background: rgba(206,206,206,0.50);
}
.bubble:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: -.5rem;
  width: auto;
  height: .5rem;
  background-image: url(../../img/corner.svg);
  background-size: .5rem .5rem;
  background-position: .5rem 0;
  background-repeat: no-repeat;
  transition: background-position .15s ease-in;
}
.bubble.cornered:after {
  background-position: 0 0; 
}
.bubble span {
  /*display: block;*/
}
.bubble .message {
  opacity: 0; width:500px !important; height:auto !important;
}
.bubble a {
  color: #0076FF;
}
.loading {
  position: absolute;
 /* width: 8rem;*/
  font-size: 2rem;
  line-height: 1rem;
}
.bubble .loading b {
  display: inline-block;
  color: rgba(0,0,0,.5);
}

#onloadpopup { background-color: rgba(4, 4, 4, 1);	}
}

@media (min-width: 992px) and (max-width: 1199px) {
.split {
	height: 100%;
	width: 100%;
	/*position: fixed;*/
	z-index: 1;
}
.left {
	left: 0;
	background-repeat: no-repeat;
}
.right {
	right: 0;
	background-repeat: no-repeat;
	padding-top: 10%;
}

/*.left {
	left: 0;
	background-image: url("../../img/bg1.png");
	background-repeat: no-repeat;
}
.right {
	right: 0;
	background-image: url("../../img/bg2.png");
	background-repeat: no-repeat;
}

.footer {
	margin-top: 39%;
	position: Fixed;
	width: 100%;
	left: 0px;
}
* {
	margin: 0px;
	padding: 0px;
}
*/

.circular-sb {
	width: 331px;
	border: 3px solid #959595;
	margin: -100px auto;
	text-align: center;
	font-size: 12px;
	font-weight: 900;
	position: relative;
	margin-left: 45.5%;
	border-top-left-radius: 25px;
	border-bottom-left-radius: 25px;
	border-right: 8px solid #77dd77;
	padding-top: 20px;
	padding-bottom: 20px;
}
.circle3 {
	position: absolute;
	width: 25px;
	padding: 15px 15px;
	border-radius: 50%;
	left: -42px;
	bottom: 11px;
	background-color: #77dd77;
}
.circle4 {
	position: absolute;
	width: 5px;
	padding: 10px 10px;
	border-radius: 50%;
	left: -64px;
	bottom: -2px;
	background-color: #77dd77;
}
.circle5 {
	position: absolute;
	width: 5px;
	padding: 5px 5px;
	border-radius: 50%;
	left: -80px;
	bottom: -11px;
	background-color: #77dd77;
}
.sb {
	background-color: #fff;
	border: 3px solid #5ad0e5;
	border-radius: 10px;
	font-size: 14px;
	margin-bottom: 2%;
	/*margin-left: 11%;*/
	padding: 10px 10px 0 60px;
	position: relative;
	text-align: left !important;
	width: 100%;
}
.num {
	/* background-color: #5ad0e5; */
	/*  */
	/* bottom: 25px; */
	/* font-size: 18px; */
	/* left: 2px; */
	/* position: absolute; */
	/* width: 40px; */
	/* text-align: center !important; */
background-color: #5ad0e5;

font-size: 18px;
left: 0px;
position: absolute;
width: 7%;
text-align: center !important;
height: 100%;	
bottom: 0px;	
	
}
.sb2 {
	width: 400px;
	border: 3px solid #5ad0e5;
	text-align: center;
	font-size: 14px;
	position: relative;
	margin-left: 11%;
	border-radius: 10px;
	padding: 10px;
	padding-left: 60px;
	background-color: #fff;
	margin-bottom: -27%;
	text-align: left;
}
.num2 {
	position: absolute;
	padding: 8px 8px;
	left: 2px;
	font-size: 30px;
	bottom: 1px;
	background-color: #5ad0e5;
	width: 56px;
	border-bottom-left-radius: 20px;
	border-top-left-radius: 20px;
}
.sb3 {
	width: 400px;
	border: 3px solid #5ad0e5;
	text-align: center;
	font-size: 14px;
	font-family: Corporate S Pro;
	position: relative;
	margin-left: 11%;
	border-radius: 10px;
	padding: 10px;
	padding-left: 60px;
	background-color: #fff;
	margin-bottom: -230%;
}
.num1 {
	position: absolute;
	padding: 17px 18px;
	left: 2px;
	bottom: 1px;
	font-size: 31px;
	background-color: #5ad0e5;
	width: 56px;
	border-bottom-left-radius: 20px;
	border-top-left-radius: 20px;
}
.questionTextWidth {
	padding: 0px !important;
	display: flex;
	justify-content: center;
}
.questionTextWidth:hover {
	cursor: pointer;
}
.circle-icon {
	background: #f68972 none repeat scroll 0 0;
	border-radius: 50%;
	height: 40px;
	line-height: 45px;
	text-align: center;
	vertical-align: middle;
	width: 40px;
}
.col-md-6.progressbar.progress {
	padding-left: 0 !important;
	padding-right: 0 !important;
}
.loadQuesImg {
	left: -100px;
	position: absolute;
	width: 100px;
	margin-top: -50px;
}
.imgsize {
	position: fixed;
	bottom: 0px;
	right: 0px;
	z-index: 999 !important;
}
.imgsize img {
	width: 80%;
}

.heightsc { margin-top:10px;}

.female {

    position: fixed;
    left: 0;
    bottom: -201px !important;
    background: url(../../img/av1.png) no-repeat;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    margin-bottom: 30%;
    border: 2px solid red;

}

/*#resMessage{ float:left; display:block; clear:both; width:500px !important;}*/

/*.heightsc { overflow-y: scroll; width: calc(50% - 240px); min-width: 330px; }*/

:root { font-size: 1.125rem; }
@media (min-width: 600px) { :root { font-size: 1.5rem; } }
@media (min-width: 900px) { :root { font-size: 1.75rem; } }
@media (min-width: 1200px) { :root { font-size: 2rem; } }
*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.messages {
  overflow: auto;
  /*width: 100vw;
  max-height: 100vh;*/
  padding: 1rem .9rem; 
}
.message .loading p{ display:none;}
.bubble.is-loading{ width:150px !important; height:70px !important;}
.bubble.is-loading p{ visibility:hidden;}
.bubble {
  /*overflow: hidden;*/
  display: block;
  margin: 0 0 .125rem 0;
  padding: .5rem .85rem;
  line-height: 20px !important;
  border-radius: 0.25rem;
  transform-origin: 0 100%;
  vertical-align: middle;
  transition: border-radius .25s ease-out .075s; width:100% !important; min-height:50px; height:auto !important;
}
.bubble.left.cornered {
  border-bottom-left-radius: 0;
}
.bubble.left {
  background: rgba(206,206,206,0.50);
}
.bubble:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: -.5rem;
  width: auto;
  height: .5rem;
  background-image: url(../../img/corner.svg);
  background-size: .5rem .5rem;
  background-position: .5rem 0;
  background-repeat: no-repeat;
  transition: background-position .15s ease-in;
}
.bubble.cornered:after {
  background-position: 0 0; 
}
.bubble span {
  /*display: block;*/
}
.bubble .message {
  opacity: 0; width:500px !important; height:auto !important;
}
.bubble a {
  color: #0076FF;
}
.loading {
  position: absolute;
 /* width: 8rem;*/
  font-size: 2rem;
  line-height: 1rem;
}
.bubble .loading b {
  display: inline-block;
  color: rgba(0,0,0,.5);
}

#onloadpopup { background-color: rgba(4, 4, 4, 1);	}
}
 @media (min-width: 768px) and (max-width: 991px) {
.split {
	height: 100%;
	width: 100%;
	/*position: fixed;*/
	z-index: 1;
}
.left {
	left: 0;
	background-repeat: no-repeat;
}
.right {
	right: 0;
	background-repeat: no-repeat;
	padding-top: 10%;
}

/*.left {
	left: 0;
	background-image: url("../../img/bg1.png");
	background-repeat: no-repeat;
}
.right {
	right: 0;
	background-image: url("../../img/bg2.png");
	background-repeat: no-repeat;
}

.footer {
	margin-top: 39%;
	position: Fixed;
	width: 100%;
	left: 0px;
}
* {
	margin: 0px;
	padding: 0px;
}
*/

.circular-sb {
	width: 331px;
	border: 3px solid #959595;
	margin: -100px auto;
	text-align: center;
	font-size: 12px;
	font-weight: 900;
	position: relative;
	margin-left: 45.5%;
	border-top-left-radius: 25px;
	border-bottom-left-radius: 25px;
	border-right: 8px solid #77dd77;
	padding-top: 20px;
	padding-bottom: 20px;
}
.circle3 {
	position: absolute;
	width: 25px;
	padding: 15px 15px;
	border-radius: 50%;
	left: -42px;
	bottom: 11px;
	background-color: #77dd77;
}
.circle4 {
	position: absolute;
	width: 5px;
	padding: 10px 10px;
	border-radius: 50%;
	left: -64px;
	bottom: -2px;
	background-color: #77dd77;
}
.circle5 {
	position: absolute;
	width: 5px;
	padding: 5px 5px;
	border-radius: 50%;
	left: -80px;
	bottom: -11px;
	background-color: #77dd77;
}
.sb {
	background-color: #fff;
	border: 3px solid #5ad0e5;
	border-radius: 10px;
	font-size: 14px;
	margin-bottom: 2%;
	/*margin-left: 11%;*/
	padding: 10px 10px 0 60px;
	position: relative;
	text-align: left !important;
	width: 100%;
}
.num {
	/* background-color: #5ad0e5; */
	/*  */
	/* bottom: 25px; */
	/* font-size: 18px; */
	/* left: 2px; */
	/* position: absolute; */
	/* width: 40px; */
	/* text-align: center !important; */
background-color: #5ad0e5;

font-size: 18px;
left: 0px;
position: absolute;
width: 7%;
text-align: center !important;
height: 100%;	
bottom: 0px;	
	
}
.sb2 {
	width: 400px;
	border: 3px solid #5ad0e5;
	text-align: center;
	font-size: 14px;
	position: relative;
	margin-left: 11%;
	border-radius: 10px;
	padding: 10px;
	padding-left: 60px;
	background-color: #fff;
	margin-bottom: -27%;
	text-align: left;
}
.num2 {
	position: absolute;
	padding: 8px 8px;
	left: 2px;
	font-size: 30px;
	bottom: 1px;
	background-color: #5ad0e5;
	width: 56px;
	border-bottom-left-radius: 20px;
	border-top-left-radius: 20px;
}
.sb3 {
	width: 400px;
	border: 3px solid #5ad0e5;
	text-align: center;
	font-size: 14px;
	font-family: Corporate S Pro;
	position: relative;
	margin-left: 11%;
	border-radius: 10px;
	padding: 10px;
	padding-left: 60px;
	background-color: #fff;
	margin-bottom: -230%;
}
.num1 {
	position: absolute;
	padding: 17px 18px;
	left: 2px;
	bottom: 1px;
	font-size: 31px;
	background-color: #5ad0e5;
	width: 56px;
	border-bottom-left-radius: 20px;
	border-top-left-radius: 20px;
}
.questionTextWidth {
	padding: 0px !important;
	display: flex;
	justify-content: center;
}
.questionTextWidth:hover {
	cursor: pointer;
}
.circle-icon {
	background: #f68972 none repeat scroll 0 0;
	border-radius: 50%;
	height: 40px;
	line-height: 45px;
	text-align: center;
	vertical-align: middle;
	width: 40px;
}
.col-md-6.progressbar.progress {
	padding-left: 0 !important;
	padding-right: 0 !important;
}
.loadQuesImg {
	left: -100px;
	position: absolute;
	width: 100px;
	margin-top: -50px;
}
.imgsize {
	position: fixed;
	bottom: 0px;
	right: 0px;
	z-index: 999 !important;
}
.imgsize img {
	width: 80%;
}

.heightsc { margin-top:10px;}

.female {

    position: fixed;
    left: 0;
    bottom: -201px !important;
    background: url(../../img/av1.png) no-repeat;
    width: 157px;
    height: 157px;
    border-radius: 50%;
    margin-left: -31%;
    margin-bottom: 30%;
    border: 2px solid red;

}

/*#resMessage{ float:left; display:block; clear:both; width:500px !important;}*/

/*.heightsc { overflow-y: scroll; width: calc(50% - 240px); min-width: 330px; }*/

:root { font-size: 1.125rem; }
@media (min-width: 600px) { :root { font-size: 1.5rem; } }
@media (min-width: 900px) { :root { font-size: 1.75rem; } }
@media (min-width: 1200px) { :root { font-size: 2rem; } }
*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.messages {
  overflow: auto;
  /*width: 100vw;
  max-height: 100vh;*/
  padding: 1rem .9rem; 
}
.message .loading p{ display:none;}
.bubble.is-loading{ width:150px !important; height:70px !important;}
.bubble.is-loading p{ visibility:hidden;}
.bubble {
  /*overflow: hidden;*/
  display: block;
  margin: 0 0 .125rem 0;
  padding: .5rem .85rem;
  line-height: 20px !important;
  border-radius: 0.25rem;
  transform-origin: 0 100%;
  vertical-align: middle;
  transition: border-radius .25s ease-out .075s; width:100% !important; min-height:50px; height:auto !important;
}
.bubble.left.cornered {
  border-bottom-left-radius: 0;
}
.bubble.left {
  background: rgba(206,206,206,0.50);
}
.bubble:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: -.5rem;
  width: auto;
  height: .5rem;
  background-image: url(../../img/corner.svg);
  background-size: .5rem .5rem;
  background-position: .5rem 0;
  background-repeat: no-repeat;
  transition: background-position .15s ease-in;
}
.bubble.cornered:after {
  background-position: 0 0; 
}
.bubble span {
  /*display: block;*/
}
.bubble .message {
  opacity: 0; width:500px !important; height:auto !important;
}
.bubble a {
  color: #0076FF;
}
.loading {
  position: absolute;
 /* width: 8rem;*/
  font-size: 2rem;
  line-height: 1rem;
}
.bubble .loading b {
  display: inline-block;
  color: rgba(0,0,0,.5);
}

#onloadpopup { background-color: rgba(4, 4, 4, 1);	}
}
 @media (max-width: 767px) {
.split {
	height: 100%;
	width: 100%;
	/*position: fixed;*/
	z-index: 1;
}
.left {
	left: 0;
	background-repeat: no-repeat;
}
.right {
	right: 0;
	background-repeat: no-repeat;
	padding-top: 10%;
}

/*.left {
	left: 0;
	background-image: url("../../img/bg1.png");
	background-repeat: no-repeat;
}
.right {
	right: 0;
	background-image: url("../../img/bg2.png");
	background-repeat: no-repeat;
}

.footer {
	margin-top: 39%;
	position: Fixed;
	width: 100%;
	left: 0px;
}
* {
	margin: 0px;
	padding: 0px;
}
*/

.circular-sb {
	width: 331px;
	border: 3px solid #959595;
	margin: -100px auto;
	text-align: center;
	font-size: 12px;
	font-weight: 900;
	position: relative;
	margin-left: 45.5%;
	border-top-left-radius: 25px;
	border-bottom-left-radius: 25px;
	border-right: 8px solid #77dd77;
	padding-top: 20px;
	padding-bottom: 20px;
}
.circle3 {
	position: absolute;
	width: 25px;
	padding: 15px 15px;
	border-radius: 50%;
	left: -42px;
	bottom: 11px;
	background-color: #77dd77;
}
.circle4 {
	position: absolute;
	width: 5px;
	padding: 10px 10px;
	border-radius: 50%;
	left: -64px;
	bottom: -2px;
	background-color: #77dd77;
}
.circle5 {
	position: absolute;
	width: 5px;
	padding: 5px 5px;
	border-radius: 50%;
	left: -80px;
	bottom: -11px;
	background-color: #77dd77;
}
.sb {
	background-color: #fff;
	border: 3px solid #5ad0e5;
	border-radius: 10px;
	font-size: 14px;
	margin-bottom: 2%;
	/*margin-left: 11%;*/
	padding: 10px 10px 0 60px;
	position: relative;
	text-align: left !important;
	width: 100%;
}
.num {
	/* background-color: #5ad0e5; */
	/*  */
	/* bottom: 25px; */
	/* font-size: 18px; */
	/* left: 2px; */
	/* position: absolute; */
	/* width: 40px; */
	/* text-align: center !important; */
background-color: #5ad0e5;

font-size: 18px;
left: 0px;
position: absolute;
width: 7%;
text-align: center !important;
height: 100%;	
bottom: 0px;	
	
}
.sb2 {
	width: 400px;
	border: 3px solid #5ad0e5;
	text-align: center;
	font-size: 14px;
	position: relative;
	margin-left: 11%;
	border-radius: 10px;
	padding: 10px;
	padding-left: 60px;
	background-color: #fff;
	margin-bottom: -27%;
	text-align: left;
}
.num2 {
	position: absolute;
	padding: 8px 8px;
	left: 2px;
	font-size: 30px;
	bottom: 1px;
	background-color: #5ad0e5;
	width: 56px;
	border-bottom-left-radius: 20px;
	border-top-left-radius: 20px;
}
.sb3 {
	width: 400px;
	border: 3px solid #5ad0e5;
	text-align: center;
	font-size: 14px;
	font-family: Corporate S Pro;
	position: relative;
	margin-left: 11%;
	border-radius: 10px;
	padding: 10px;
	padding-left: 60px;
	background-color: #fff;
	margin-bottom: -230%;
}
.num1 {
	position: absolute;
	padding: 17px 18px;
	left: 2px;
	bottom: 1px;
	font-size: 31px;
	background-color: #5ad0e5;
	width: 56px;
	border-bottom-left-radius: 20px;
	border-top-left-radius: 20px;
}
.questionTextWidth {
	padding: 0px !important;
	display: flex;
	justify-content: center;
}
.questionTextWidth:hover {
	cursor: pointer;
}
.circle-icon {
	background: #f68972 none repeat scroll 0 0;
	border-radius: 50%;
	height: 40px;
	line-height: 45px;
	text-align: center;
	vertical-align: middle;
	width: 40px;
}
.col-md-6.progressbar.progress {
	padding-left: 0 !important;
	padding-right: 0 !important;
}
.loadQuesImg {
	left: -100px;
	position: absolute;
	width: 100px;
	margin-top: -50px;
}
.imgsize {
	position: fixed;
	bottom: 0px;
	right: 0px;
	z-index: 999 !important;
}
.imgsize img {
	width: 80%;
}

.heightsc { margin-top:10px;}

.female{ position:fixed; left:0; bottom:-200px !important; background:url(../../img/av1.png) no-repeat; width:206px; height:547px;}

/*#resMessage{ float:left; display:block; clear:both; width:500px !important;}*/

/*.heightsc { overflow-y: scroll; width: calc(50% - 240px); min-width: 330px; }*/

:root { font-size: 1.125rem; }
@media (min-width: 600px) { :root { font-size: 1.5rem; } }
@media (min-width: 900px) { :root { font-size: 1.75rem; } }
@media (min-width: 1200px) { :root { font-size: 2rem; } }
*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.messages {
  overflow: auto;
  /*width: 100vw;
  max-height: 100vh;*/
  padding: 1rem .9rem; 
}
.message .loading p{ display:none;}
.bubble.is-loading{ width:150px !important; height:70px !important;}
.bubble.is-loading p{ visibility:hidden;}
.bubble {
  /*overflow: hidden;*/
  display: block;
  margin: 0 0 .125rem 0;
  padding: .5rem .85rem;
  line-height: 20px !important;
  border-radius: 0.25rem;
  transform-origin: 0 100%;
  vertical-align: middle;
  transition: border-radius .25s ease-out .075s; width:100% !important; min-height:50px; height:auto !important;
}
.bubble.left.cornered {
  border-bottom-left-radius: 0;
}
.bubble.left {
  background: rgba(206,206,206,0.50);
}
.bubble:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: -.5rem;
  width: auto;
  height: .5rem;
  background-image: url(../../img/corner.svg);
  background-size: .5rem .5rem;
  background-position: .5rem 0;
  background-repeat: no-repeat;
  transition: background-position .15s ease-in;
}
.bubble.cornered:after {
  background-position: 0 0; 
}
.bubble span {
  /*display: block;*/
}
.bubble .message {
  opacity: 0; width:500px !important; height:auto !important;
}
.bubble a {
  color: #0076FF;
}
.loading {
  position: absolute;
 /* width: 8rem;*/
  font-size: 2rem;
  line-height: 1rem;
}
.bubble .loading b {
  display: inline-block;
  color: rgba(0,0,0,.5);
}

#onloadpopup { background-color: rgba(4, 4, 4, 1);	}
}
 @media only screen and (min-device-width: 280px) and (max-device-width: 667px) {
.split {
	height: 100%;
	width: 100%;
	/*position: fixed;*/
	z-index: 1;
}
.left {
	left: 0;
	background-repeat: no-repeat;
}
.right {
	right: 0;
	background-repeat: no-repeat;
	padding-top: 10%;
}

/*.left {
	left: 0;
	background-image: url("../../img/bg1.png");
	background-repeat: no-repeat;
}
.right {
	right: 0;
	background-image: url("../../img/bg2.png");
	background-repeat: no-repeat;
}

.footer {
	margin-top: 39%;
	position: Fixed;
	width: 100%;
	left: 0px;
}
* {
	margin: 0px;
	padding: 0px;
}
*/

.circular-sb {
	width: 331px;
	border: 3px solid #959595;
	margin: -100px auto;
	text-align: center;
	font-size: 12px;
	font-weight: 900;
	position: relative;
	margin-left: 45.5%;
	border-top-left-radius: 25px;
	border-bottom-left-radius: 25px;
	border-right: 8px solid #77dd77;
	padding-top: 20px;
	padding-bottom: 20px;
}
.circle3 {
	position: absolute;
	width: 25px;
	padding: 15px 15px;
	border-radius: 50%;
	left: -42px;
	bottom: 11px;
	background-color: #77dd77;
}
.circle4 {
	position: absolute;
	width: 5px;
	padding: 10px 10px;
	border-radius: 50%;
	left: -64px;
	bottom: -2px;
	background-color: #77dd77;
}
.circle5 {
	position: absolute;
	width: 5px;
	padding: 5px 5px;
	border-radius: 50%;
	left: -80px;
	bottom: -11px;
	background-color: #77dd77;
}
.sb {
	background-color: #fff;
	border: 3px solid #5ad0e5;
	border-radius: 10px;
	font-size: 14px;
	margin-bottom: 2%;
	/*margin-left: 11%;*/
	padding: 10px 10px 0 60px;
	position: relative;
	text-align: left !important;
	width: 100%;
}
.num {
	/* background-color: #5ad0e5; */
	/*  */
	/* bottom: 25px; */
	/* font-size: 18px; */
	/* left: 2px; */
	/* position: absolute; */
	/* width: 40px; */
	/* text-align: center !important; */
background-color: #5ad0e5;

font-size: 18px;
left: 0px;
position: absolute;
width: 7%;
text-align: center !important;
height: 100%;	
bottom: 0px;	
	
}
.sb2 {
	width: 400px;
	border: 3px solid #5ad0e5;
	text-align: center;
	font-size: 14px;
	position: relative;
	margin-left: 11%;
	border-radius: 10px;
	padding: 10px;
	padding-left: 60px;
	background-color: #fff;
	margin-bottom: -27%;
	text-align: left;
}
.num2 {
	position: absolute;
	padding: 8px 8px;
	left: 2px;
	font-size: 30px;
	bottom: 1px;
	background-color: #5ad0e5;
	width: 56px;
	border-bottom-left-radius: 20px;
	border-top-left-radius: 20px;
}
.sb3 {
	width: 400px;
	border: 3px solid #5ad0e5;
	text-align: center;
	font-size: 14px;
	font-family: Corporate S Pro;
	position: relative;
	margin-left: 11%;
	border-radius: 10px;
	padding: 10px;
	padding-left: 60px;
	background-color: #fff;
	margin-bottom: -230%;
}
.num1 {
	position: absolute;
	padding: 17px 18px;
	left: 2px;
	bottom: 1px;
	font-size: 31px;
	background-color: #5ad0e5;
	width: 56px;
	border-bottom-left-radius: 20px;
	border-top-left-radius: 20px;
}
.questionTextWidth {
	padding: 0px !important;
	display: flex;
	justify-content: center;
}
.questionTextWidth:hover {
	cursor: pointer;
}
.circle-icon {
	background: #f68972 none repeat scroll 0 0;
	border-radius: 50%;
	height: 40px;
	line-height: 45px;
	text-align: center;
	vertical-align: middle;
	width: 40px;
}
.col-md-6.progressbar.progress {
	padding-left: 0 !important;
	padding-right: 0 !important;
}
.loadQuesImg {
	left: -100px;
	position: absolute;
	width: 100px;
	margin-top: -50px;
}
.imgsize {
	position: fixed;
	bottom: 0px;
	right: 0px;
	z-index: 999 !important;
}
.imgsize img {
	width: 80%;
}

.heightsc { margin-top:10px;}

.female {

    position: fixed;
    left: 0;
    bottom: -201px !important;
    background: url(../../img/av1.png) no-repeat;
    width: 157px;
    height: 157px;
    border-radius: 50%;
    margin-left: -31%;
    margin-bottom: 30%;
    border: 2px solid red;

}

/*#resMessage{ float:left; display:block; clear:both; width:500px !important;}*/

/*.heightsc { overflow-y: scroll; width: calc(50% - 240px); min-width: 330px; }*/

:root { font-size: 1.125rem; }
@media (min-width: 600px) { :root { font-size: 1.5rem; } }
@media (min-width: 900px) { :root { font-size: 1.75rem; } }
@media (min-width: 1200px) { :root { font-size: 2rem; } }
*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.messages {
  overflow: auto;
  /*width: 100vw;
  max-height: 100vh;*/
  padding: 1rem .9rem; 
}
.message .loading p{ display:none;}
.bubble.is-loading{ width:150px !important; height:70px !important;}
.bubble.is-loading p{ visibility:hidden;}
.bubble {
  /*overflow: hidden;*/
  display: block;
  margin: 0 0 .125rem 0;
  padding: .5rem .85rem;
  line-height: 20px !important;
  border-radius: 0.25rem;
  transform-origin: 0 100%;
  vertical-align: middle;
  transition: border-radius .25s ease-out .075s; width:100% !important; min-height:50px; height:auto !important;
}
.bubble.left.cornered {
  border-bottom-left-radius: 0;
}
.bubble.left {
  background: rgba(206,206,206,0.50);
}
.bubble:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: -.5rem;
  width: auto;
  height: .5rem;
  background-image: url(../../img/corner.svg);
  background-size: .5rem .5rem;
  background-position: .5rem 0;
  background-repeat: no-repeat;
  transition: background-position .15s ease-in;
}
.bubble.cornered:after {
  background-position: 0 0; 
}
.bubble span {
  /*display: block;*/
}
.bubble .message {
  opacity: 0; width:500px !important; height:auto !important;
}
.bubble a {
  color: #0076FF;
}
.loading {
  position: absolute;
 /* width: 8rem;*/
  font-size: 2rem;
  line-height: 1rem;
}
.bubble .loading b {
  display: inline-block;
  color: rgba(0,0,0,.5);
}

#onloadpopup { background-color: rgba(4, 4, 4, 1);	}
}
 @media only screen and (max-width: 760px),  (min-device-width: 768px) and (max-device-width: 1024px) {
.split {
	height: 100%;
	width: 100%;
	/*position: fixed;*/
	z-index: 1;
}
.left {
	left: 0;
	background-repeat: no-repeat;
}
.right {
	right: 0;
	background-repeat: no-repeat;
}

/*.left {
	left: 0;
	background-image: url("../../img/bg1.png");
	background-repeat: no-repeat;
}
.right {
	right: 0;
	background-image: url("../../img/bg2.png");
	background-repeat: no-repeat;
}

.footer {
	margin-top: 39%;
	position: Fixed;
	width: 100%;
	left: 0px;
}
* {
	margin: 0px;
	padding: 0px;
}
*/

.circular-sb {
	width: 331px;
	border: 3px solid #959595;
	margin: -100px auto;
	text-align: center;
	font-size: 12px;
	font-weight: 900;
	position: relative;
	margin-left: 45.5%;
	border-top-left-radius: 25px;
	border-bottom-left-radius: 25px;
	border-right: 8px solid #77dd77;
	padding-top: 20px;
	padding-bottom: 20px;
}
.circle3 {
	position: absolute;
	width: 25px;
	padding: 15px 15px;
	border-radius: 50%;
	left: -42px;
	bottom: 11px;
	background-color: #77dd77;
}
.circle4 {
	position: absolute;
	width: 5px;
	padding: 10px 10px;
	border-radius: 50%;
	left: -64px;
	bottom: -2px;
	background-color: #77dd77;
}
.circle5 {
	position: absolute;
	width: 5px;
	padding: 5px 5px;
	border-radius: 50%;
	left: -80px;
	bottom: -11px;
	background-color: #77dd77;
}
.sb {
	background-color: #fff;
	border: 3px solid #5ad0e5;
	border-radius: 10px;
	font-size: 14px;
	margin-bottom: 2%;
	/*margin-left: 11%;*/
	padding: 10px 10px 0 60px;
	position: relative;
	text-align: left !important;
	width: 100%;
}
.num {
	/* background-color: #5ad0e5; */
	/*  */
	/* bottom: 25px; */
	/* font-size: 18px; */
	/* left: 2px; */
	/* position: absolute; */
	/* width: 40px; */
	/* text-align: center !important; */
background-color: #5ad0e5;

font-size: 18px;
left: 0px;
position: absolute;
width: 7%;
text-align: center !important;
height: 100%;	
bottom: 0px;	
	
}
.sb2 {
	width: 400px;
	border: 3px solid #5ad0e5;
	text-align: center;
	font-size: 14px;
	position: relative;
	margin-left: 11%;
	border-radius: 10px;
	padding: 10px;
	padding-left: 60px;
	background-color: #fff;
	margin-bottom: -27%;
	text-align: left;
}
.num2 {
	position: absolute;
	padding: 8px 8px;
	left: 2px;
	font-size: 30px;
	bottom: 1px;
	background-color: #5ad0e5;
	width: 56px;
	border-bottom-left-radius: 20px;
	border-top-left-radius: 20px;
}
.sb3 {
	width: 400px;
	border: 3px solid #5ad0e5;
	text-align: center;
	font-size: 14px;
	font-family: Corporate S Pro;
	position: relative;
	margin-left: 11%;
	border-radius: 10px;
	padding: 10px;
	padding-left: 60px;
	background-color: #fff;
	margin-bottom: -230%;
}
.num1 {
	position: absolute;
	padding: 17px 18px;
	left: 2px;
	bottom: 1px;
	font-size: 31px;
	background-color: #5ad0e5;
	width: 56px;
	border-bottom-left-radius: 20px;
	border-top-left-radius: 20px;
}
.questionTextWidth {
	padding: 0px !important;
	display: flex;
	justify-content: center;
}
.questionTextWidth:hover {
	cursor: pointer;
}
.circle-icon {
	background: #f68972 none repeat scroll 0 0;
	border-radius: 50%;
	height: 40px;
	line-height: 45px;
	text-align: center;
	vertical-align: middle;
	width: 40px;
}
.col-md-6.progressbar.progress {
	padding-left: 0 !important;
	padding-right: 0 !important;
}
.loadQuesImg {
	left: -100px;
	position: absolute;
	width: 100px;
	margin-top: -50px;
}
.imgsize {
	position: fixed;
	bottom: 0px;
	right: 0px;
	z-index: 999 !important;
}
.imgsize img {
	width: 80%;
}

.heightsc { margin-top:10px;}

.female {

    position: fixed;
    left: 0;
    bottom: -201px !important;
    background: url(../../img/av1.png) no-repeat;
    width: 157px;
    height: 157px;
    border-radius: 50%;
    margin-left: -31%;
    margin-bottom: 30%;
    border: 2px solid red;

}

/*#resMessage{ float:left; display:block; clear:both; width:500px !important;}*/

/*.heightsc { overflow-y: scroll; width: calc(50% - 240px); min-width: 330px; }*/

:root { font-size: 1.125rem; }
@media (min-width: 600px) { :root { font-size: 1.5rem; } }
@media (min-width: 900px) { :root { font-size: 1.75rem; } }
@media (min-width: 1200px) { :root { font-size: 2rem; } }
*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.messages {
  overflow: auto;
  /*width: 100vw;
  max-height: 100vh;*/
  padding: 1rem .9rem; 
}
.message .loading p{ display:none;}
.bubble.is-loading{ width:150px !important; height:70px !important;}
.bubble.is-loading p{ visibility:hidden;}
.bubble {
  /*overflow: hidden;*/
  display: block;
  margin: 0 0 .125rem 0;
  padding: .5rem .85rem;
  line-height: 20px !important;
  border-radius: 0.25rem;
  transform-origin: 0 100%;
  vertical-align: middle;
  transition: border-radius .25s ease-out .075s; width:100% !important; min-height:50px; height:auto !important;
}
.bubble.left.cornered {
  border-bottom-left-radius: 0;
}
.bubble.left {
  background: rgba(206,206,206,0.50);
}
.bubble:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: -.5rem;
  width: auto;
  height: .5rem;
  background-image: url(../../img/corner.svg);
  background-size: .5rem .5rem;
  background-position: .5rem 0;
  background-repeat: no-repeat;
  transition: background-position .15s ease-in;
}
.bubble.cornered:after {
  background-position: 0 0; 
}
.bubble span {
  /* display: block; */
}
.bubble .message {
  opacity: 0; width:500px !important; height:auto !important;
}
.bubble a {
  color: #0076FF;
}
.loading {
  position: absolute;
 /* width: 8rem; */
  font-size: 2rem;
  line-height: 1rem;
}
.bubble .loading b {
  display: inline-block;
  color: rgba(0,0,0,.5);
}
#onloadpopup { background-color: rgba(4, 4, 4, 1); }
}

@media(max-width:767px) {
	.print_btn { display:none; !important; }
}

@media print {
	.print_btn { display: none; }
}
