
*,
*:after,
*::before {
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
}


/* Icomoon.com */

@font-face {
  font-family: 'SegoeUIBlack-Italic';
  src: url('font/SegoeUIBlack-Italic.eot?#iefix') format('embedded-opentype'),  url('font/SegoeUIBlack-Italic.woff') format('woff'), url('font/SegoeUIBlack-Italic.ttf')  format('truetype'), url('font/SegoeUIBlack-Italic.svg#SegoeUIBlack-Italic') format('svg');
  font-weight: normal;
  font-style: normal;
}



@font-face {
  font-family: 'SegoeUIBlack';
  src: url('font/SegoeUIBlack.eot?#iefix') format('embedded-opentype'),  url('font/SegoeUIBlack.woff') format('woff'), url('font/SegoeUIBlack.ttf')  format('truetype'), url('font/SegoeUIBlack.svg#SegoeUIBlack') format('svg');
  font-weight: normal;
  font-style: normal;
}



@font-face {
  font-family: 'SegoeUI';
  src: url('font/SegoeUI.eot?#iefix') format('embedded-opentype'),  url('font/SegoeUI.woff') format('woff'), url('font/SegoeUI.ttf')  format('truetype'), url('font/SegoeUI.svg#SegoeUI') format('svg');
  font-weight: normal;
  font-style: normal;
}

/*----------------dropdown ----------------------*/
.dropdown .dropbtn {
    font-size: 14px;    
    border: none;
    outline: none;
    color: #44241d;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}
/* .dropdown-content { */
    /* display: none; */
    /* position: absolute; */
    /* background-color: #fff; */
    /* min-width: 140px; */
	/* margin-left:10px; */
    /* box-shadow: 0px 8px 20px 0px rgba(0,0,0,0.2); */
    /* z-index: 1; */
	/* border: 1px solid #6a7a89; */
/* } */

/* .dropdown-content a { */
    /* float: none; */
    /* color: #6a7a89; */
    /* padding: 0px 16px; */
    /* text-decoration: none; */
    /* display: block; */
    /* text-align: left; */
	/* border-bottom: 1px solid #6a7a89; */
	/* border-left: 1px solid #6a7a89; */
	/* border-right: 1px solid #6a7a89; */
	
/* } */

/* .dropdown-content a:hover { */
    /* background-color: #ddd; */
/* } */

/* .dropdown:hover .dropdown-content { */
    /* display: block; */
/* } */

/*------------------open---------------------*/

.gn-menu-main,
.gn-menu-main ul {
		margin: 0;
		padding: 0;
		background: white;
		color: #5f6f81;
		list-style: none;
		text-transform: none;
		font-family: Segoe UI;
		line-height: 60px;
	
		
}
.gn-menu-main ul {
box-shadow: 0 1px 20px rgba(0, 0, 0, 0.15);
border: 1px solid #eee;
line-height: normal;}
.gn-menu-main {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		font-size: 14px;
		background-color:#f68972; 
		border-color:0px solid; 
		z-index: 9998
}

.gn-menu-main a {
		display: block;
		height: 100%;
		text-decoration: none;
		cursor: pointer;
}

.a1 a, .b1 a, .c1 a {
	display: block;
    background-color: #fff;
    text-decoration: none;
    cursor: pointer;
    background-repeat: no-repeat;
    color: #455a64;
	padding: 10px 12px;
	border-bottom: 1px solid #e7e7e7;
}






.no-touch .gn-menu-main a:hover,
.no-touch .gn-menu li.gn-search-item:hover,
.no-touch .gn-menu li.gn-search-item:hover a {
		background: #5f6f81;
		color: white;
}

.gn-menu-main > li {
    display: block;
    float: right;
    height: 100%;
    text-align: center;
    background-color: #f68972;
}

/* icon-only trigger (menu item) */

.gn-menu-main li.gn-trigger {
    position: relative;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.gn-menu-main > li:last-child {
		float: left;
		border-right: none;
	
		
}

.gn-menu-main > li > a {
		padding: 0px 20px ;
		text-transform: uppercase;
		letter-spacing: 1px;
		font-weight: bold;
}

.gn-menu-main:after {
		display: table;
		clear: both;
		content: "";
}

.gn-menu-wrapper {
		position: fixed;
		z-index:-1;
		top: 62px;
		bottom: 0;
		right: 0;
		overflow: hidden;
		width: 130px;
		border-top: 0px;
		-webkit-transform: translateX(135px);
		-moz-transform: translateX(135px);
		transform: translateX(135px); 
		-webkit-transition: -webkit-transform 0.3s, width 0.3s;
		-moz-transition: -moz-transform 0.3s, width 0.3s;
		transition: transform 0.3s, width 0.3s;

}
.gn-menu-wrapper>a:hover {
		top: 62px;
		bottom: 0;
		left: 0;
		overflow: hidden;
		width: 130px;
		border-top: 0px;
		-webkit-transform: translateX(-135px);
		-moz-transform: translateX(-135px);
		transform: translateX(-135px); 
		-webkit-transition: -webkit-transform 0.3s, width 0.3s;
		-moz-transition: -moz-transform 0.3s, width 0.3s;
		transition: transform 0.3s, width 0.3s;		
}



.gn-menu {

		text-align: left;
		font-size: 14px;
}

.gn-menu li:not(:first-child),
.gn-menu li li {
		box-shadow: inset 0 1px #c6d0da
}

.gn-submenu li {
		overflow: hidden;
		height: 0;
		-webkit-transition: height 0.3s;
		-moz-transition: height 0.3s;
		transition: height 0.3s;
}

.gn-submenu li a {
		color: #c1c9d1
}

input.gn-search {
		position: relative;
		z-index: 10;
		padding-left: 60px;
		outline: none;
		border: none;
		background: transparent;
		color: #5f6f81;
		font-weight: 300;
		font-family: Segoe UI;
		cursor: pointer;
}

/* placeholder */

.gn-search::-webkit-input-placeholder {
		color: #5f6f81
}

.gn-search:-moz-placeholder {
		color: #5f6f81
}

.gn-search::-moz-placeholder {
		color: #5f6f81
}

.gn-search:-ms-input-placeholder {
		color: #5f6f81
}

/* hide placeholder when active in Chrome */

.gn-search:focus::-webkit-input-placeholder,
.no-touch .gn-menu li.gn-search-item:hover .gn-search:focus::-webkit-input-placeholder {
		color: transparent
}

input.gn-search:focus {
		cursor: text
}

.no-touch .gn-menu li.gn-search-item:hover input.gn-search {
		color: white
}

/* placeholder */

.no-touch .gn-menu li.gn-search-item:hover .gn-search::-webkit-input-placeholder {
		color: white
}

.no-touch .gn-menu li.gn-search-item:hover .gn-search:-moz-placeholder {
		color: white
}

.no-touch .gn-menu li.gn-search-item:hover .gn-search::-moz-placeholder {
		color: white
}

.no-touch .gn-menu li.gn-search-item:hover .gn-search:-ms-input-placeholder {
		color: white
}

.gn-menu-main a.gn-icon-search {
		position: absolute;
		top: 0;
		left: 0;
		height: 60px;
}

.gn-icon::before {
		display: inline-block;
		width: 60px;
		text-align: center;
		text-transform: none;
		font-weight: normal;
		font-style: normal;
		font-variant: normal;
		font-family: Segoe UI;
		line-height: 1;
		speak: none;
		-webkit-font-smoothing: antialiased;
}


::after, ::before {

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

}
::before, ::after {

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

}




#footer {

    bottom: 0;
    width: 100%;
    position: absolute;
    height: $height-footer;
    background-color: #c8ced4;
    height: 52px;
	position:Fixed;

}

.prevbtn{
float:right;

}


.nextbtn{
float:left	;

}



.gn-icon-help::before {
		content: "\e000"
}

.gn-icon-earth::before {
		content: "\e004"
}

.gn-icon-cog::before {
		content: "\e006"
}

.gn-icon-search::before {
		content: "\e005"
}

.gn-icon-download::before {
		content: "\e007"
}

.gn-icon-photoshop::before {
		content: "\e001"
}

.gn-icon-illustrator::before {
		content: "\e002"
}

.gn-icon-archive::before {
		content: "\e00d"
}

.gn-icon-article::before {
		content: "\e003"
}

.gn-icon-pictures::before {
		content: "\e008"
}

.gn-icon-videos::before {
		content: "\e009"
}

/* if an icon anchor has a span, hide the span */

.gn-icon span {
		width: 0;
		height: 0;
		display: block;
		overflow: hidden;
}
li.gn-trigger {
    padding-top: 20px;
}
/* .gn-icon-menu::before {
    margin-left: -20px;
    vertical-align: -2px;
    width: 35px;
    height: 6px;
    background: white;
    box-shadow: 0 12px white,0 0px white,0px -11px white;
    content: '';
} */

.no-touch .gn-icon-menu:hover::before,
.no-touch .gn-icon-menu.gn-selected:hover::before {
		background: white;
		box-shadow: 
}

.gn-icon-menu.gn-selected::before {
		background: white;
}

/* styles for opening menu */
.gn-menu-wrapper.gn-open-all,
.gn-menu-wrapper.gn-open-part {
		-webkit-transform: translateX(0px);
		-moz-transform: translateX(0px);
		transform: translateX(0px);
}

.gn-menu-wrapper.gn-open-all {
		width: 220px;
}

.gn-menu-wrapper.gn-open-all .gn-submenu li {
		height: 86px;
}




@media screen and (max-width: 422px) { 
	.gn-menu-wrapper.gn-open-all {
			-webkit-transform: translateX(0px);
			-moz-transform: translateX(0px);
			transform: translateX(0px);

	}


	.gn-menu-main > li:last-child {
    float: right;
    border-right: none;
    background-color: #ffffff;
    max-width: 45%;
	margin-left:-55px;
		margin-right:-15px;

}
.gn-menu-wrapper {
		position: Fixed;
		z-index:-1;
		top: 62px;
		bottom: 0;
		left: 0;
		overflow: hidden;
		width: 130px;
		border-top: 0px;
		-webkit-transform: translateX(-135px);
		-moz-transform: translateX(-135px);
		transform: translateX(-135px); 
		-webkit-transition: -webkit-transform 0.3s, width 0.3s;
		-moz-transition: -moz-transform 0.3s, width 0.3s;
		transition: transform 0.3s, width 0.3s;
		
}
.gn-menu-wrapper>a:hover {
		top: 62px;
		bottom: 0;
		left: 0;
		overflow: hidden;
		width: 130px;
		border-top: 0px;
		-webkit-transform: translateX(-135px);
		-moz-transform: translateX(-135px);
		transform: translateX(-135px); 
		-webkit-transition: -webkit-transform 0.3s, width 0.3s;
		-moz-transition: -moz-transform 0.3s, width 0.3s;
		transition: transform 0.3s, width 0.3s;		
}

.dropdown .dropbtn {
    font-size: 14px;    
    border: none;
    outline: none;
    color: #6a7a89;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 140px;
	margin-left:10px;
    box-shadow: 0px 8px 20px 0px rgba(0,0,0,0.2);
    z-index: 1;
	border: 1px solid #6a7a89;
}

.dropdown-content a {
    float: none;
    color: #6a7a89;
    padding: 0px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
	border-bottom: 1px solid #6a7a89;
	border-left: 1px solid #6a7a89;
	border-right: 1px solid #6a7a89;
	
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}
}



@media (max-width: 700px) {
.gn-menu-wrapper {
		position: Fixed;
		z-index:-1;
		top: 62px;
		bottom: 0;
		left: 0;
		overflow: hidden;
		width: 130px;
		border-top: 0px;
		-webkit-transform: translateX(-135px);
		-moz-transform: translateX(-135px);
		transform: translateX(-135px); 
		-webkit-transition: -webkit-transform 0.3s, width 0.3s;
		-moz-transition: -moz-transform 0.3s, width 0.3s;
		transition: transform 0.3s, width 0.3s;
		
}
.gn-menu-wrapper>a:hover {
		top: 62px;
		bottom: 0;
		left: 0;
		overflow: hidden;
		width: 130px;
		border-top: 0px;
		-webkit-transform: translateX(-135px);
		-moz-transform: translateX(-135px);
		transform: translateX(-135px); 
		-webkit-transition: -webkit-transform 0.3s, width 0.3s;
		-moz-transition: -moz-transform 0.3s, width 0.3s;
		transition: transform 0.3s, width 0.3s;		
}

}
@media (max-width: 979px) {
}
