.Drag_Drop_Phone {
	display:none;
}
.Drag_Drop, .Drag_Drop_Shuffle {
	display:block;
}
.Matchingpatch {
	display:block;
}
.qusTempimg_phone {
	display:none;
}
.dragDropWrapper {
	display:block;
}
.dragDropWrapper_phone {
	display:none;
}

/*------------------phone-------------*/
@media (max-width: 768px) {
	.Drag_Drop, .Drag_Drop_Shuffle{
		display:none;
	}
	.Drag_Drop_Phone {
		display: block;
		overflow: scroll;
		padding-left: 15px;
		padding-right: 15px;
	}
	.Matchingpatch {
		display:none;
	}
	.qusTempimg_phone {
		display: block;
		margin-left: auto;
		margin-right: auto;
		position: relative;
	}
	.imageWraper {
		padding-top: 50px;
	}
	.qusTemping_div {
		background: #edaf08;
		border: 0px solid #edaf08;
	}
	.Questmtf {
		width: 100%;
		margin: 0px auto;
		max-width: 100%;
		padding-left: 0px;
		margin-bottom: 8px;
		padding-right: 0px;
	}
	.Matchingcontainer {
		margin-top: -1px;
		height: 100%;
	}
	.questioninput_phone {
		margin-bottom: 15px;
	}
	.textwraping {
		background: white;
		text-align: left;
		padding: 15px;
	}
	.MTF_select {
		width: 100%;
		text-align: center;
		color: white;
		height: 33px;
		padding-left: 15px;
		background: url(../../img/br_down.png) no-repeat right #3588c1;
	}
	.MatchingQusText {
		font-size: 14px;
	}
	.col-md-7 .feedbacktext {
		font-size: 13px;
	}
	.feedback_box .modal-dialog {
		width: 97%;
		margin: 0px auto;
	}
	.Matchingcontainer {
		height: 100%;
	}
	.MCQOption, .MMCQOption, .MatchingOption, .Drag_Drop, .Drag_Drop_Shuffle {
		width: 91%;
		padding-left: 0px;
	}
	.VideoOptions:hover {
		background-color: #428bca;
		color: white;
		border: 1px solid #428bca;
		transition: all ease 0.5s;
	}
	.mmcq_options:hover, .options:hover {
		background-color: #428bca;
		color: white;
		border: 1px solid #428bca;
		transition: all ease 0.5s;
	}
	.signbtn1.signbtnRepot {
		top: 48px;
	}
	.dragDropWrapper {
		display:none;
	}
	.dragDropWrapper_phone {
		display:block;
	}
	.bragBox li {
		height: 200px;
		border: 2px dashed #ffffff;
		background: rgba(255, 255, 255, 0.35);
		margin-bottom: 20px;
		margin-top: 20px;
	}
	.dragListBox.dragListBoxTextNo {
		width: 91%;
		height: 290px;
		margin-left: auto;
		margin-right: auto;
		overflow: auto;
	}
	.sortoptions {
		margin-top: -46px;
		margin-bottom: 0px;
	}
	.bragBox .success .sortoptions {
		margin-top: 0px;
		margin-bottom: 1px;
	}
}

@media (max-width: 767px) and (orientation: portrait) {
	.qusTempimg_phone {
		width: 26%;
		top: 10px;
	}
	.qusTemping_div {
		height: 113px;
	}
	.owl-carousel .owl-item img {
		height: 50%;
	}
	.dragDropWrapper_phone {
		height: 353px;
	}
	.swipeoptions .swipecontent {
		height: 143px;
	}
	.dragListBox.dragListBoxText {
		margin-top: 49px;
		width: 91%;
		margin-left: auto;
		margin-right: auto;
	}
}
 
/*------------------phone landscape-------------*/
@media (max-width: 767px) and (orientation: landscape) {
	.qusTempimg_phone {
		width: 12%;
		top: 6px;
	}
	.qusTemping_div {
		height: 93px;
	}
	.textwraping {
		padding: 10px;
	}
	.MTF_select {
		padding-left: 10px;
	}
}
  
/*------------------Laptop-------------*/
@media (min-width: 1024px) and (max-width: 1450px) {
    
}

/*------------------Ipad portrait-------------*/
@media (min-width: 768px) and (max-width: 1024px) {
	
	.MCQOption, .MMCQOption, .MatchingOption, .Drag_Drop, .Drag_Drop_Shuffle {
		width: 91%;
		padding-left: 0px;
	}
	.img-fulid.qusTempimg {
		display: none;
	}
	.Drag_Drop, .Drag_Drop_Shuffle {
		display: none;
	}
	.Matchingpatch {
		display: none;
	}
	.Drag_Drop_Phone {
		display: block;
		overflow: scroll;
		padding-left: 15px;
		padding-right: 15px;
	}
	.submitMTFcenter {
		padding-left: 0px;
		text-align: center;
		margin-bottom: 20px;
	}
	.btn.submitbtn {
		bottom: 20px;
		margin-left: 0px;
	}
	.qusTempimg_phone {
		display: block;
		margin-left: auto;
		margin-right: auto;
		position: relative;
	}
	.qusTemping_div {
		background: #edaf08;
		border: 0px solid #edaf08;
	}
	.Questmtf {
		width: 100%;
		margin: 0px auto;
		max-width: 100%;
		padding-left: 0px;
		margin-bottom: 8px;
		padding-right: 0px;
	}
	.textwraping {
		background: white;
		text-align: left;
		padding: 15px;
	}
	.MTF_select {
		width: 100%;
		text-align: center;
		color: white;
		height: 33px;
		padding-left: 15px;
		background: url(../../img/br_down.png) no-repeat right #3588c1;
	}
	.questioninput_phone {
		margin-bottom: 15px;
	}
	.MCQOption, .MMCQOption, .MatchingOption, .Drag_Drop, .Drag_Drop_Shuffle {
		width: 97%;
		padding-left: 0px; 
	}
	.col-md-7 .feedbacktext {
		height: 211px;
		margin-bottom: 15px;
	}
	.imageWraper {
		padding-top: 50px;
		overflow: scroll;
	}
	.Matchingcontainer {
		margin-top: -1px;
	}
	.VideoOptions:hover {
		background-color: #428bca;
		color: white;
		border: 1px solid #428bca;
		transition: all ease 0.5s;
	}
	.mmcq_options:hover, .options:hover {
		background-color: #428bca;
		color: white;
		border: 1px solid #428bca;
		transition: all ease 0.5s;
	}
}

/*------------------Ipad portrait-------------*/
@media (min-width: 768px) and (max-width: 1024px)and (orientation: portrait) {	
	.qusTempimg_phone {
		top: 31px;
		width: 26%;
	}
	.qusTemping_div {
		height: 240px;
	}
	
}

/*------------------Ipad landscape-------------*/
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape){
	.qusTempimg_phone {
		top: 27px;
		width: 15%;
	}
	.qusTemping_div {
		height: 191px;
	}
}
