
 
 .option {
     margin: 0px auto;
     min-height: 42px;
     background: #5e636e;
     color: #fff;
     float: left;
     width: 100%;
     border-bottom: 1px solid #8f929a;
     cursor: pointer;
     position: relative;
 }

 .input_box {
     width: 48px;
     float: left;
     height: 100%;
     text-align: center;
     position: absolute;
     pointer-events: none;
 }

 .questionTextWidth {
     width: 100% !important;
     box-sizing: border-box !important;
     padding: 0.4em 10px 0.4em 68px !important;
 }

