/*------------------phone-------------*/
@media (max-width: 767px) and (min-width: 320px) {
	.menu-banner-box.videmenu-box .time-banner-box {
		background: #000;
	}
	.linear_classic.videotempQus {
		padding-top: 0px !important;
	}
	.Matchingcontainer.VideoMatchingcontainer {
		margin-top: 80px;
		height: calc(100vh - 90px) !important;
	}
	.GROUPpreFormancemain .AReportFlex {
		width: 200px !important;
	}
	.ORsubmitbox {
		margin: 0 auto;
		text-align: center;
		margin-top: 40px;
	}
	.DROPclassicbanner img {
		padding-left: 6px !important;
		padding-right: 6px !important;
	}
	.CharFlextwo.right {
		right: unset;
		left: unset;
		top: unset;
		bottom: unset;
		position: relative;
		margin: 0 auto;
		background: #fff;
	}
	.CharFlex.CharFlextwo {
		height: 130px !important;
		margin: 0 auto;
		left: unset;
		background: white;
		position: relative;
		transform: unset !important;
	}	
	.fixingHeight .col-sm-4:nth-child(2) {
		padding-right: 34px;
	}
	/*------------DND-------------------*/
	.flexheight33.Optioninput .dndopt {
		height: 80px;
		overflow-x: hidden;
	}
	.flexheight33.questioninput .textwraping {
		max-height: 80px;
		overflow-x: hidden;
	}
	.flexheight33.FHdrop .dndopt {
		height: 80px;
		overflow-x: hidden;
	}
	.MATCHDNDDesktop {
		display: flex;
	}	
	.MATCHDNDDesktop .col-sm-3:nth-child(3) {
		display: none;
	}	
	.MATCHDNDDesktop .col-sm-3 {
		flex: 1;
	}
	.flexheight33.multiDBDbanner.BGMUltTicolor {
		padding: 0 0px !important;
	}
	.dragBox {
		height: 170px !important;
	}
	.multiDBDbox {
		min-height: 170px !important;
	}

	.multimatchingB .multiDBDboxAllIGN {
		width: 100%;
		position: relative;
		left: unset;
		top: unset;
		transform: unset;
	}

	.flexheight33.multiDBDbanner {
		margin-bottom: 5px !important;
	}
	.Matchingcontainer {
		height: auto;
		margin-top: 0px;
		overflow-x: auto;
	}




/*------------MTF-------------------*/
	.multiDBDbox.dragdrop.draggable.dragaware .textwraping {
		height: 80px !important;
	}
	.fixingHeight {
		display: flex;
	}
	
	.fixingHeight .col-sm-4 {
		flex: 1;
	}
	.rectangle1:after {
		height: 60%;
		top: 20%;
	}






	.MBDrOpoption .flexheight33 {
		margin-top: 12px !important;
		width: 100%;
		flex: unset !important;
	}
	.Dflex {
		width: 100%;
	}
	.multimatchingB .multiDropbox.drop1 {
		min-height: 80px;
		width: 96%;
		border: 2px dotted #e7e7e7;
	}
	.swipingcoursal {
		padding-top: 0;
	}
	.CArosalitme {
		width: 100%;
		display: flex;
	}
	.CArosalitme .flexheight33{
		flex: 1;
	}
	.MBDrOpoption {
		position: relative;
	}
	
	.flexheight33.multiDBDbanner, .multiDBDbox.maTcHingdrop.MultiMatchRB {
		height: 90px;
	}
	OPTText .modal-content {
		height: 91.3vh;
	}
	div#load_popup_modal_show {
		top: 0px;
		left: 0px !important;
		right: 0px;
		padding: 0;
		margin: 0;
		width:100%;
	}
	button.V_S-tetail{
		padding:2px;
	}
	.modal-dialog.modal-lg.ViewSEnArIo .modal-content{
		    height: calc(100vh - 48px);
	}
	.modal-dialog.modal-lg.ViewSEnArIo .close{
		padding:0;
		margin:0;
	}
	.modal-dialog.modal-lg.ViewSEnArIo li.active a,
	.modal-dialog.modal-lg.ViewSEnArIo li a{
		padding:10px 10px;
	}
	.feedback_box .modal-dialog .modal-content .feedback-header .feedclose {
		margin-top: -15px !important;
		padding-right: 5px !important;
	}
	.modal-dialog.modal-lg .feedclose {
		padding: 0;
		margin: 0;
	}
	.video-js {
		background-color: #fff !important;
	}
	.text-hint-banner {
		width: 100%;
	}
	.modal-dialog.modal-lg.ViewSEnArIo {
		margin: 0;
	}
	.flex33.DROPclassicbanner .multiDBDbox{
		width:auto;
		margin-top: 10px;
	}
	.MatchingQusText.bounce.animated{
		display:block;
	}
	.qus-text {
		width: 100%;
	}
	.flex33.DCbanner{
		padding:0px 0px;
	}
	.ORTextbox{
		width:100%;
	}
	.timer-banner{
		left: 140px;
		font-size: 22px;
		top:0;
	}
	.modal.assestQmodel{
		top:0;
		left:0;
		right:0;
	}
	button.V_S-tetail {
		font-size: 14px;
	}
	.MatchingQusBanner.multimatchingB .PhonematchingDrop{
		display:block;
		padding: 0px 0px;
	}
	.Deskview {
   		 display: inline-block;
	}
	.mobview {
		display: none;
	}
	.qvideo-2-dimensions {
		width: 100%;
	}
	.Drag_Drop.imgDNDS .btn.submitbtn{
		margin-left:auto;
	}
	.Qusimg {
		position: relative;
		left: unset;
		top: unset;
		transform: unset;
	}
	.MatchingQusTextmtf{
		display:block;
	}
	.time-banner-box, .timer-banner, .close-banner{
		padding:10px 15px;
	}
	.close-banner svg {
		width: 25px;
	}
	.Dflex-banner{
		display:block;
	}
	.dropdown.multimatchingDrop .btn{
		padding:0 10px;
	}
	.PhonematchingDrop{
		display:block;
		padding:0px 20px;
	}
	ul.dropdown-menu.inner img {
		width: 95px;
	}

	.Question-VidImgBanner {
		height: 86%;
		width: 90%;
		top: 44%;
		left: 50%;
	}
	.Questmtf {
		width: 95%;
		margin: 0px auto;
		max-width: 100%;
		padding-left: 10px;
		margin-bottom: 25px;
		padding-right: 10px;
	}
	.MCQOption, .MMCQOption, .MatchingOption, .Drag_Drop , .Drag_Drop_Shuffle {
		width: 100%;
		margin: 0px auto;
		max-width: 100%;
		padding-left: 20px;
		padding-right: 20px;
	}
	.submitMTFcenter {
		padding-left: 0;
		margin-bottom: 20px;
		text-align: center;
	}
	.btn.submitbtn {
		margin-left: 0px;
		display:unset;
	}
	.dragDropWrapper {
		margin-top: 40px;
		width: 90%;
		margin: 0px auto;
		max-width: 100%;
		padding-left: 0px;
		padding-right: 0px;
	}
	.VideoOption {
		width: 90%;
	}
	.VideoOptions {
		width: 100%;
		display: block;
	}
	.dragListBox.dragListBoxTextNo .row .col-sm-4, .dragListBox.dragListBoxempty .row .col-sm-4, .dragListBox.dragListBoxText .row .col-sm-4 {
		padding-right: 0px;
		padding-left: 0px;
	}
	.feedback_box .modal-dialog .modal-content .modal-body {
		height: auto;
	}
	.feedback_box .modal-dialog .modal-content{
		margin-left:0;
		height:90vh;
		overflow-y:auto;
	}
	.feedback_box {
		top: 30px;
		left: 10px;
    	right: 10px;
	}
	.text-hint-banner img {
		width: 100%;
	}
	.card-body h4.title {
		font-size: 14px;
	}
	.card-body {
		height: unset;
	}
	.launchhead{
		font-size:16px;
		padding-right:40px;
	}
	.modal-dialog.modal-lg.ViewSEnArIo li{
		font-size:14px;
	}
	.col-md-5 .feedback-VidImgBanner {
		width: 100%;
		height: 200px;
	}
	img.img-fulid.qusTempimg {
		position: relative;
		bottom: unset;
		left: unset;
		width: 200px;
		display: block;
		margin: 0 auto;
		padding-top: 10px;
	}
	.Questasset_icon {
		width: 13%;
		float: left;
	}
	.time-banner-box, .timer-banner, .close-banner {
		padding: 10px 15px;
	}
	/*.desktop_MTF, .desktop_multiple_DND, .desktop_SORTING, .desktop_Single_DND {
		display:none;
	}
	.mobile_MTF, .mobile_multiple_DND, .mobile_SORTING, .mobile_Single_DND {
		display:block;
	}*/
	.flex33.DCbanner {
		justify-content: center;
		margin-bottom: 10px;
		margin-left: 0px;
		padding: 0 0px;
	}
	.Matchingcontainer .owl-carousel {
		margin-top: 5px;
		margin-bottom: 35px;
	}
	.videopatch .videoque {
		height: 500px;
	}
	.dropareabox1 {
		position: relative;
		margin-bottom: 30px;
	}
	.Drag_Drop .submitMTFcenter.col-sm-12 {
		margin-top: 85px;
		
	}
	.dropareabox1 .flexheight33 {
		padding: 0px;
		position: absolute;
		width: 100%;
		top:0;
	}
	.multimatchingB .multiDBDbox {
		height: 250px;
	}
	.multimatchingB .mobile_MTF .multiDBDbox {
		height: auto;
	}
	.Learner_linear_classic {
		height: calc(100vh - 50px);
		overflow-x: hidden;
		margin-top: 50px;
		display: block;
	}
	.dndopt {
		padding: 0px;
		height: 40px;
		overflow: auto;	
	}
	.Drag_Dropmultitext .flexheight33 .rectangle1 {
		margin-top: 0;
		padding: 15px;
	}
	.flexheight33.multiDBDbanner.BGMUltTicolor:nth-of-type(1) {
	  position: static;
	}
	.mmcq_options:hover , .options:hover {
		background-color: white;
	}
	.press {
		background-color: white;
	}
	.dragBox.drop .dragdrop.rectangle1 {
		height: 100%;
		padding: 15px;
		display: flex;
		justify-content: center;
		align-items: center;
		margin-top: 0px;
		margin-left: 5px;
	}
	.owl-dots span {
		display: block;
		width: 12px;
		height: 12px;
		margin: 5px 7px;
		filter: Alpha(Opacity=50);
		opacity: 0.5;
		-webkit-border-radius: 20px;
		-moz-border-radius: 20px;
		border-radius: 20px;
		background: #869791;
	}
	.owl-dot.active span {
		opacity: 1;
	}
	.owl-dots {
		display: block;
		text-align: Center;
	}
	
}
/*------------------phone landscape-------------*/
@media (min-width:320px) and (max-width: 767px)and (orientation: landscape) {
	.dragBox1_2 .multiDBDbox {
		height: 192px !important;
	}
	.Dflex .textwraping {
		padding: 0px !important;
	}
	.dropareabox .dragdrop1 {
		padding: 10px !important;
	}
	.multiDropbox.drop1 {
		padding: 0px !important;
	}
	.Dflex {
		margin: 2px;
	}
	.multimatchingB .multiDropbox.drop1 {
		margin: 2px;
	}
	.CharFlex {
		height: 193px;
	}
	.DDaling1 .textwraping.dd_twrap {
		max-height: 165px;
	}
	.multiDBDbox img {
		padding: 4px 0px 10px 0px !important;
	}
	.Drag_Dropmultiimgtext .multiDBDbox {
		height: 180px !important;
	}
	.Drag_Dropmultiimgtext .flexheight33.multiDBDbanner.DDaling.DDaling1 {
		height: 180px !important;
		flex: 0 0 33%;
	}
	.DDrop_multi img {
		padding-left: 8px !important;
		padding-right: 8px !important;
	}
	.DROPAREA1 .dragBox {
		height: 180px !important;
	}
	.multiDBDbox.dragdrop.draggable.dragaware .textwraping {
		height: 165px !important;
	}
	.multiDBDbox.maTcHingdrop.MultiMatchRB,
	.flexheight33.multiDBDbanner.DDaling.DDaling1 img{
		padding-left: 8px !important;
		padding-right: 8px !important;
	}
	.flexheight33.multiDBDbanner.DROPAREA1 {
		height: 180px !important;
		flex: 0 0 33%;
	}
	.flexheight33.FHdrop {
		padding: 0px 2px;
	}
	.Questasset_icon {
		width: 7%;
		float: right;
	}
	.qusassestbox {
		width: 160px;
		height: 125px;
	}
	.Dflex-banner{
		display:flex;
	}
	.Dflex .multiDBDbox {
		min-height: 80px !important;
	}
	.fixingHeight .col-sm-4:nth-child(2) {
		padding-right: 10px;
	}
	.flexheight33.FHdrop {
		margin-top: 5px !important;
	}
	.flex33.DROPclassicbanner .multiDBDbox {
		flex: 0 0 30.3%;
    	width: 30.3%;
	}
}
/*------------------Ipad-------------*/
@media only screen and (max-width: 1024px){
	.flexQTeMPtwochar .Matchingcontainer {
		padding-left: 0 !important;
		padding-right: 0 !important;
	}
	.VSscroll {
        margin-top: 50px;
        display: block !important;
    }
	.time-banner-box {
		background-image: linear-gradient(#fffffff2, #ffffff75, #fff0);
		background: #fff;
	}
    .flexheight33.multiDBDbanner, .multiDBDbox.maTcHingdrop.MultiMatchRB {
        height: 270px !important;
	}

	.flexQTeMPnochar .flexheight33.multiDBDbanner,
    .flexQTeMPnochar .multiDBDbox.maTcHingdrop.MultiMatchRB,
    .flexQTeMPnochar .multiDBDbox {
        height: 270px !important;
    }
	.dd_twrap {
		max-height: 245px !important;
	}
	.flexQTeMPnochar .textwraping.dd_twrap {
        max-height: 245px !important;
    }
    .dragBox {
		height: 270px !important;
		margin-top: 0px;
	}
	.multiDBDbox {
		height: 270px !important;
	}
}
@media only screen and (max-width: 900px){
	.flexheight33.multiDBDbanner, .multiDBDbox.maTcHingdrop.MultiMatchRB {
		height: 230px !important;
	}
	.dragBox {
		height: 230px !important;
		margin-top: 0px;
	}
	.multiDBDbox {
		height: 230px !important;
	}

	
	.flexQTeMPnochar .flexheight33.multiDBDbanner,
    .flexQTeMPnochar .multiDBDbox.maTcHingdrop.MultiMatchRB,
    .flexQTeMPnochar .multiDBDbox {
        height: 230px !important;
	}
	.flexQTeMPnochar .textwraping.dd_twrap {
        max-height: 205px !important;
	}
	.dd_twrap {
		max-height: 205px !important;
	}
}
@media only screen and (max-width: 750px){
	.flexheight33.multiDBDbanner, .multiDBDbox.maTcHingdrop.MultiMatchRB {
		height: 220px !important;
	}

	.flexQTeMPnochar .flexheight33.multiDBDbanner,
    .flexQTeMPnochar .multiDBDbox.maTcHingdrop.MultiMatchRB,
    .flexQTeMPnochar .multiDBDbox {
        height: 220px !important;
    }
	.flexQTeMPnochar .textwraping.dd_twrap {
        max-height: 195px !important;
	}
	.dd_twrap {
		max-height: 195px !important;
	}
	.dragBox {
		height: 220px !important;
		margin-top: 0px;
	}
	.multiDBDbox {
		height: 220px !important;
	}
}
@media only screen and (max-width: 600px){
	.flexheight33.multiDBDbanner, .multiDBDbox.maTcHingdrop.MultiMatchRB {
		height: 200px !important;
	}

	.flexQTeMPnochar .flexheight33.multiDBDbanner,
    .flexQTeMPnochar .multiDBDbox.maTcHingdrop.MultiMatchRB,
    .flexQTeMPnochar .multiDBDbox {
        height: 200px !important
    }
	.dd_twrap {
		max-height: 200px !important;
	}
	.dragBox {
		height: 200px !important;
		margin-top: 0px;
	}
	.flexQTeMPnochar .textwraping.dd_twrap {
        max-height: 185px !important;
    }
	.multiDBDbox {
		height: 200px !important;
	}
}
@media (min-width: 768px) and (max-width: 1024px){
	.menu-banner-box.videmenu-box .time-banner-box {
		background: #000;
	}
	.linear_classic.videotempQus {
		padding-top: 0px !important;
	}
	.Matchingcontainer.VideoMatchingcontainer {
		margin-top: 80px;
		height: calc(100vh - 90px) !important;
	}
	.GROUPpreFormancemain .AReportFlex {
		width: 200px !important;
	}
	.flexQTeMPtwochar .Questmtf {
		padding-left: 150px !important;
	}
	.flexQTeMPtwochar .Matchingcontainer {
		margin-top: 50px !important;
	}
	.MATCHDNDDesktop .col-sm-3:nth-child(3) {
		display: none;
	}
	
	.MATCHDNDDesktop .col-sm-3 {
		width: 33.3%;
	}
	.Drag_Dropmultiimgtext .flexheight33 {
		flex: 0 0 33%;
	}
	
	.ORsubmitbox {
		position: relative;
		bottom: unset;
		left: unset;
		margin: 0 auto;
		text-align: center;
		margin-top: 40px;
	}
	.open_res .Questmtf {
		padding-top: 0px;
	}
	.ORTextbox{
		width:100%;
	}
	.Questasset_icon {
		width: 6%;
		float: right;
	}
	img.img-fulid.qusTempimg {
		position: relative;
		bottom: unset;
		left: unset;
		width: 250px;
		display: block;
		margin: 0 auto;
	}
	.Questmtf {
		width: 97.5%;
		margin: 0px auto;
		max-width: 100%;
		padding-left: 10px;
		margin-bottom: 25px;
		padding-right: 10px;
	}
	.Questmtf {
		margin-top: 5px !important;
	}
	.MCQOption, .MMCQOption, .MatchingOption, .Drag_Drop, .Drag_Drop_Shuffle {
		width: 100%;
		margin: 0px auto;
		max-width: 100%;
		padding-left: 20px;
		padding-right: 20px;
	}
	button.V_S-tetail {
		font-size: 14px;
	}
	.mobview {
		display: none;
	}
	.Deskview {
		display: inline-block;
	}
	.timer-banner {
		left: 145px;
	}
	.MatchingQusBanner.multimatchingB .PhonematchingDrop{
		display:block;
		padding: 0px 0px;
	}
	.flexheight33.questioninput {
		margin-left: 20px;
		width: 95%;
	}
	.PhonematchingDrop .form-control {
		width: 95%;
		margin-left: 20px;
	}
	.feedback_box .modal-dialog {
		width: 90%;
	}
	.Learner_linear_classic {
		height: calc(100vh - 50px);
		overflow-x: hidden;
		margin-top: 65px;
		display: block;
	}
	.Matchingcontainer {
		margin-top: 0px;
		height: unset;
		overflow: hidden;
	}
	.swipingcoursal {
		padding-top: 15px;
	}
	.desktop_MTF, .desktop_multiple_DND, .desktop_SORTING, .desktop_Single_DND {
		display:block;
	}
	.mobile_MTF, .mobile_multiple_DND, .mobile_SORTING, .mobile_Single_DND {
		display:none;
	}
	.linear_classic {
		padding-top: 65px !important;
		overflow: auto !important;
	}
	.flexheight33 {
		flex: 0 0 35% !important;
	}
	.flex33.DCbanner {
		margin-left: 0 !important;
	}
	.swipeoptions {
		height: 300px;
	}
	.flexQTeMPnochar .swipeoptions{
		height: 230px;
	}
	.owl-carousel {
		z-index: 0 !important;
	}
	.Matchingcontainer .owl-carousel {
		margin-top: 5px;
		margin-bottom: 35px;
	}
	.Drag_Drop .submitMTFcenter.col-sm-12 {
		text-align: center;
	}
	.flexheight33.FHdrop .dragBox {
		height: 75px;
		margin-top: 0;
	}
	.submitMTFcenter {
		text-align: center;
	}
	.btn.submitbtn {
		display: inline;
	}
	.dragBox {
		margin-top: 0px;
	}
	.dropareabox1 .flexheight33 {
		padding: 0px;
		position: absolute;
		width: 33%;
		top: 0;
		left: 50%;
		transform: translate(-50%);
	}
	.mobile_multiple_DND .active.center .swipeoptions, .mobile_SORTING .active.center .swipeoptions, .mobile_Single_DND .active.center .swipeoptions {
		background-color: #fff;
	}
	.mobile_MTF .active.center .swipeoptions {
		background-color: transparent;
	}
	
	.Drag_Drop.imgDNDS .dragBox {
		border: 2px dotted #ececec !important;
	}
	.press {
		background-color: white;
	}
	.mmcq_options:hover, .options:hover {
		background-color: white;
	}
	.multimatchingB .multiDropbox.drop1 {
		border: 2px dotted #ececec;
	}
	.multimatchingB .box.navy {
		width: 50%;
	}	
	.DROPclassicbanner {
		padding-top: 10px;
	}
	.flex33.DROPclassicbanner .multiDBDbox {
		flex: 0 0 31%;
		height: 215px !important;
		width: 31%;
	}
	.IMGMATHCHDD .flexheight33.multiDBDbanner {flex: 0 0 33%;}

	.IMGMATHCHDD .flexheight33.multiDBDbanner:nth-child(3) {
		display: none;
	}
	.dropareabox1 {
		position: relative;
		margin-bottom: 30px;
	}
	.CharFlex {
	    flex: unset;
		height: 180px;
		overflow: hidden;
		margin-bottom: -5px;
	}
	.submitMTFcenter {
		margin-bottom: 50px;
	}
	.owl-dots span {
		display: block;
		width: 12px;
		height: 12px;
		margin: 5px 7px;
		filter: Alpha(Opacity=50);
		opacity: 0.5;
		-webkit-border-radius: 20px;
		-moz-border-radius: 20px;
		border-radius: 20px;
		background: #869791;
	}
	.owl-dot.active span {
		opacity: 1;
	}
	.owl-dots {
		display: block;
		text-align: Center;
	}
	.mobile_MTF .swipeoptions {
		background: none;
	}
	.mobile_MTF .rectangle1.dragdrop {
		border-top: 6px solid #039704;
	}
	.mobile_MTF .swipeoptions p {
		background: #abdd89;
		padding: 5px;
		height: 100px;
		border-bottom: 6px solid #039704;
		margin-bottom: 4px;
	}
}
/*------------------Ipad portrait-------------*/
@media (min-width: 768px) and (max-width: 1024px)and (orientation: portrait) {
	.Questasset_icon {
		width: 12%;
	}
}
/*------------------Ipad landscape-------------*/
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape){
	.Questasset_icon {
		width: 7%;
	}
}
/*-------------------laptop----------------------*/
@media (min-width: 1025px) and (max-width: 1450px) {
	.radiomark,
	.checkmark	{
	  height: 20px;
	  width: 20px;
	}
	.radiomark:after {
		top: 5px;
		left: 5px;
		width: 8px;
		height: 8px;
	}	
	.checkmark:after {
		left: 6px;
		top: 3px;
	}
	
	.qus-text {
		width: 85%;
	}
	.checkstyle {
		padding-left: 5px;
		}
    img.img-fulid.qusTempimg {
        width: 35%;
    }
    .Question-VidImgBanner {
        height: 190px;
        top: 60%;
		left: 63%;
    }
	.Matchingpatch {
		height: 45%;
	}
    .MatchingQusText p {
        padding-left: 350px;
    }
    .QuestionNavigation {	
        padding: 30px 0px;
    }
	.Qusfeedback .QueBoxIcon {
		bottom: 10px;
		top: 73px;
	}
	.Questmtf {
		width: 95%;
		margin: 0px auto;
		max-width: 100%;
		margin-bottom: 25px;
	}
	.VideoOption {
		width: 95%;
		margin: 0px auto;
		max-width: 100%;
		margin-bottom: 25px;
	}
	.videopatch {
		position: relative;
		text-align: center;
		height: 100%;
		width: 100%;
	}
	.dragBox {
		width: 100%;
	}

	.MCQOption, .MMCQOption, .MatchingOption, .Drag_Drop, .Drag_Drop_Shuffle {
		width: 95%;
		margin: 0px auto;
		max-width: 100%;
	}
	.feedbacktext {
		word-break: break-word;
		max-height: 100%;
		overflow: auto;
	}
	.feedbacktext .row.feed .col-md-7 .feedbacktext {
		height: 390px;
	}
	.videoque {
		position: fixed;
	}
	.videoque .vjs-tech {
		position: fixed;
	}
	.videopatch .videoque {
		width: 100%;
		height: 100%;
	}
	
	.Questmtf.Videoquestion {
		width: 95%;
		margin: 0px auto;
		max-width: 100%;
		padding-left: 0px;
		padding-right: 2px;
	}
	.submitMTFcenter.Videoquestion {
		padding: 0;
		text-align: center;
	}
	.Videoquestion .submitbtn {
		margin-left: 0px;
	}
	.playicon, .pauseicon {
		font-size: 45px;
		background: green;
		border-radius: 50%;
		width: 70px;
		height: 70px;
		padding-top: 10px;
		color: white;
	}
	.playicon {
		padding-left: 10px;
	}
	.pauseicon {
	    padding-left: 4px;
	}
	.Question-VidImgBanner button {
		margin-top: 40px;
		margin-left: -91px;
	}
	.feedback-VidImgBanner button {
		margin-top: 40px;
	}
} 
