.owl-carousel .owl-item .svg {
	display: block !important;
	width: 120px !important;
	margin:0 auto;
}
.swipeoptions .feedimage {
    padding: 12px;
}
.nav-QusTempTab .owl-item {
    background: #edaf08;
	height: 125px;
}
.nav-QusTempTab {
    padding: 20px 80px;
	border-bottom: 1px solid #bbbbbb;
}
.nav-QusTempTab .item {
	text-align: center;
	padding-top: 20px;
    padding-bottom: 20px;
}
.quesbox .form-control, .Ansbox .form-control {
	height: 50px;
    border: 1px solid #e4e4e4;
	border-radius: unset;
    position: relative;
    width: 100%;
}
.Qusfeedback .form-control {
	border: 1px solid #e4e4e4;
	border-radius: unset;
	resize: none;
    margin-top: 30px;
    width: 100%;
}
.qusHeading {
    font-size: 16px;
    font-weight: 600;
}
.AnsHeading {
    font-size: 15px;
    font-weight: 600;
}
.choicebox .form-group input::placeholder, .choicebox .form-group .form-control, .matchbox .form-group input::placeholder, .matchbox .form-group .form-control, .matchbox1 .form-group input::placeholder, .matchbox1 .form-group .form-control, .matchbox2 .form-group input::placeholder, .matchbox2 .form-group .form-control, .quesbox-flex .form-group input::placeholder, .quesbox-flex .form-group .form-control,
.Qusfeedback .form-group .form-control::placeholder {
  color: #000;
}
.choicebox {
    display: flex;
    margin-bottom: 10px;
}
.choicebox .form-group {
    flex: 1 1;
    padding-left: 10px;
}
.choicebox .QusScore {
    flex: 1 1;
    max-width: 60px;	
}
.matchbox .QusScore {
    flex: 1 1;
    max-width: 45px;	
}

.quesbox-flex {
    display: flex;
    width: 100%;
}
.quesbox-flex .form-group {
    flex: 1 1 auto;
}
.quesbox-flex .QusScore {
    max-width: 60px;
	padding-left: 10px;
}
img.img-fluid.pdfclissicsIm {
    width: 70px;
    display: block;
    margin: 0 auto;
}
.AddAns-Option img {
    width: 20px;
}
.Option-box, .MatchOption-box1 {
    display: inline-flex;
    width: 92.5%;
    margin-bottom: 10px;
}
.Option-box, .MatchOption-box2 {
    display: flex;
    width: 92.5%;
    margin-bottom: 0px;
}
.AddAns-Option {
    padding-right: 16px;
}
.AddAns-Option img {
    margin-top: 15px;
}
ul.QueBoxIcon {
    position: absolute;
    right: 25px;
    top: 12px;
}
ul.QueBoxIcon li {
    display: inline-block;
	padding-left: 6px;
}
ul.QueBoxIcon li:nth-child(2):after {
    /* content: ''; */
    width: 1px;
    height: 17px;
    background: #2c3545;
    top: 4px;
    left: 106px;
    position: absolute;
}
ul.QueBoxIcon li img {
    width: 25px;
	cursor: pointer;
}
.QuesForm, .FeedForm {
	PADDING-RIGHT: 150PX;
}
.ShortingNum {
    width: 30px;
    height: 30px;
    background: #edaf08;
    border-radius: 50%;
    margin-right: 15px;
    text-align: center;
    color: #000;
    margin-top: 10px;
	line-height: 30px;
}
.owl-prev .fa-chevron-left {
    font-size: 40px;
	position: absolute;
    left: -60px;
    top: 45px;
	color: #edaf08;
}
.owl-next .fa-chevron-right {
    font-size: 40px;
	position: absolute;
    right: -60px;
    top: 45px;
	color: #edaf08;
}
button.owl-prev.disabled i, button.owl-next.disabled i {
    color: #000;
}
.shortMinus.QusScore img, .ShortMinus-Option.QusScore img  {
    width: 25px;
    margin-top: 15px;
}
.choicebox select.form-control, .DropBox select.form-control {
    background: url(../img/br_down.png) no-repeat right #fff;
}
.choicebox select.form-control:focus, .DropBox select.form-control:focus {
    background: url(../img/br_up.png) no-repeat right #fff;
}
.Qusfeedback .QueBoxIcon {
    bottom: 10px;
	top: 73px;
}
.DropBox {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
}
.form-control.QusScore {
    width: 100%;
}
.DropBox .AnsHeading {
    margin-right: 30px;
}
input#AddImgAudVide {
    display: none;
}
.Matchingcontainer {
    background-repeat: no-repeat;
    background-position: center;
    max-width: 100%;
    height: calc(100vh - 90px);
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    overflow: auto;
	overflow-x:hidden;
	margin-top: 90px;
}
.Matchingcontainer.VideoMatchingcontainer {
	margin-top: 80px;
}
.Matchingpatch {
    height: 40%;
    position: relative;
}
.MatchingQusText {
    background: #fff;
    padding: 14px;
	display:flex;
}

button.V_S-tetail img {
    width: 30px;
    padding-right: 5px;
}
.assestQmodel button.close {
    position: absolute;
    color: #fff;
    font-size: 50px;
    z-index: 9;
    top: 15px;
    right: 10px;
}

.assestQmodel button.close span {
    color: #fff;
}
button.V_S-tetail {
    background: transparent;
    border: transparent;
    padding: 5px;
    display: inline-block;
	color:#000;
	font-size:18px;
	position:relative;	
}
.qus-text {
    width: 90%;
}
.Drag_Drop .submitMTFcenter.col-sm-12 {
    margin-top: 85px;
}
.Qusimg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}
.Qusimg img {
	-webkit-transition: 0.4s ease;
	transition: 0.4s ease;
}
.qusassestbox {
    width: 170px;
    height: 85px;
    overflow: hidden;
	position:relative;
	cursor:pointer;
}
.qusassestbox:hover .Qusimg img{
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.5); 
}
.multiDBDbox img {
    width: 120px;
    max-width: 100%;
    display: block;
    margin: 0 auto;
}
.multiDBDbox {
    /* background-color: #fff; */
    padding: 5px 0px;
}

.box.navy {
 background-color: #fff;
    padding: 10px;
    position: absolute;
    width:22%;
    top: 20px;
    left: 0;
    transform: translate(175%, 0%);
}

.multimatchingB .multiDBDbox img {
    width: 100%;
    max-width: 100%;
    display: block;
    margin: 0 auto;
}
.flexheight33.multiDBDbanner,
.multiDBDbox.maTcHingdrop.MultiMatchRB {
    position: relative;
    width: 100%;
    height: 270px;
}
.multiDBDbox.maTcHingdrop.MultiMatchRB {
    overflow: auto;
}  
.multimatchingB .multiDBDboxAllIGN {
	width:100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.multimatchingB .multiDropbox.drop1 {
	min-height: 160px;
    border: 2px dotted #fff;
    width: 25%;
    flex-direction: column;
    margin: 5px;
    margin-top: -5px;
    background: #ffffff91 !important;
    position: relative;
}
.multimatchingB .box.navy {
	background-color: #fff;
	padding: 10px;
	position: absolute;
	width: 40%;
	top: 0;
	left: 50%;
	transform: translate(-50%, 0%);
    height: 75px;
    overflow: auto;
    overflow-x: hidden;
}
  
.modal.assestQmodel {
  text-align: center;
  padding: 0!important;
}

.modal.assestQmodel:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px;
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}
.modal.assestQmodel img {
    width: 100%;
}
.modal.assestQmodel .modal-dialog {
    width: 85%;
}
.modal.assestQmodel:after {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	background: #000;
	z-index: -1;
}
.modal.assestQmodel .modal-body {
    padding: 0;
}
  
.MatchingQusTextmtf {
	display:flex;
	background: #fff;
	padding: 10px;
}
button.V_S-tetail:after {
	content: '';
	width: 2px;
	position: absolute;
	right: -9px;
	bottom: 0;
	top: 0;
	background: #2c3545;
}
.time-banner-box,
.timer-banner,
.close-banner {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: block;
    z-index: 1;
    padding: 15px 15px;
	z-index:9;
}
.close-banner{
	right:0;
}
.timer-banner{
	left:170px;
	font-size:30px;
	top:-5px;
}
.menu-banner-box.menu-banner-toggle .V_S-tetail {
    color: #fff;
}

.menu-banner-box.menu-banner-toggle .V_S-tetail:after {
    background: #fff;
}

.menu-banner-box.menu-banner-toggle .timer-banner {
    color: #fff;
}

.menu-banner-box.menu-banner-toggle .close-banner svg path {
    fill: #fff;
}
.menu-banner-box.menu-banner-toggle .Deskview {
    display: none;
}

.menu-banner-box.menu-banner-toggle .mobview {
    display: inline-block;
}
.time-text {
    display: inline-block;
}
.time-banner-box {
    background-image: linear-gradient(#fffffff2, #ffffff75, #fff0);
}
.menu-banner-box.menu-banner-toggle .time-banner-box {
    background-image: linear-gradient(#000000f2, #00000075, #fff0);
}
.Dflex-banner {
    display: flex;
    width: 100%;
    justify-content: center;
}
.toCenterContent {
    margin: 0 auto;
    position: relative;
}


.seqDnD {
    width: 100%;
    margin: auto;
    left: 0;
    right: 0;
    /* position: absolute; */
}

.draglistbox {
    width: 100%;
    height: auto;
    background-color: #fff;
    cursor: move;
    position: relative;
    margin-top: 5px;
}

.draglistbox:hover {
    color: black;
    transition: all ease 0.5s;
}

.dragIconContainer {
    top: 0px;
    left: 0px;
    width: 47px;
    height: 100%;
    position: absolute;
    background-color: #abdd89;
}

.dragIcon {
    top: 0px;
    left: 0px;
    right: 0px;
    width: 25%;
    bottom: 0px;
    margin: auto;
    position: absolute;
}

.seqoptions {
    height: 65px;
    overflow: auto;
    padding: 0 12px;
    border: 2px solid transparent;
    margin-left: 47px;
 }
 /* .seqoptions:hover { */
    /* border: 2px solid #abdd89; */
 /* } */
.Dflex {
	/*flex: 1;*/
    margin: 5px;
    display: flex;
    flex-direction: column;
    background: #fff;
    width: 25%;
    justify-content: center;
}
span.timer-pause div {
    display: inline-block;
	font-family: 'Digital-7' !important;
}
.MatchingQusText p {
   /* font-size: 24px;*/
    margin-bottom: 0px;
    padding-left: 430px;
}
img.img-fulid.qusTempimg {
    position: fixed;
    bottom: 0;
	left:-70px;
}
.Question-VidImgBanner {
    height: 230px;
    width: 360px;
    max-width: 100%;
	text-align: center;
	background: transparent;
    position: absolute;
    top: 59%;
    left: 57%;
    transform: translate(-50%, -50%);
}
.Question-VidImgBanner p {
    text-align: center;
    font-size: 20px;
    line-height: 225px;
}
.completeText {
    background: #000;
    padding: 20px;
    color: #fff;
	margin-bottom: 20px;
}
.dragDropWrapper {
    padding-left: 340px;
    padding-right: 30px;
    margin-top: 40px;
}
.dragListBoxempty ul li {
    height: 200px;
    border: 2px dashed #ffffff;
    background: rgba(255, 255, 255, 0.35);
    margin-bottom: 20px;
    margin-top: 20px;
}
.previewQus {
    text-align: right;
    width: 6%;
    margin-top: -33px;
    float: right;
}
.previewQus img {
    width: 45px;
}
.QuestionNavigation {
    position: fixed;
    bottom: 80px;
    display: block;
	z-index: -9999999999999;
    width: 100%;
    padding: 30px;
    position: relative;
}
.Qnextbtn {
    display: inline-block;
	width: 80px;
}
.Qprevbtn {
    display: inline-block;
    float: right;
    width: 90px;
}
.QuestionNavigation i {
    font-size: 40px;
}
.nav-QusTempTab .owl-item:hover {
    background: #000;
}
.nav-QusTempTab .owl-item .item a:hover {
    color: #fff;
}
.item.active{
	background: #000;
    color: #fff;
	height: 125px;	
}
.item.active a {
    background: #000;
    color: #fff;
	height: 125px;
}
.Qusfeedback .form-group {
    width: 100%;
}
.Quest {
    width: 84%;
    margin: 0px auto;
    max-width: 100%;
    margin-bottom: 32px;
}
.row.options.advertise_container .checkstyle {
    position: absolute;
    top: 2px;
    right: 10px;
}
.row.options.advertise_container {
    position: relative;
	cursor:pointer;
}
.uploadicon > input
{
    display: none;
}
.delete_assets_close {
    color: #edb007;
}
.delete_assets_close  i:hover {
	color: #000;
}
.mtff_assets_container, .sq_assets_container, .sortq_assets_container, .sortq_items_assets, .mcq_assets_container, .mmcq_assets_container, .videoq_assets_container_1, .swipq_assets_container, .swipq_items_assets_container_1 {
    display: flex;
}
.mtfq_assets_container, .sqf_assets_container, .sortf_assets_container, .mcqf_assets_container, .mmcqf_assets_container, .videoqf_assets_container_1, .swipqf_assets_container {
    display: flex;
}
/*.matchingQ.active .img-fluid.svg, .SequanceQ.active .img-fluid.svg, .DregDropQ.active .img-fluid.svg, .MCQQ.active .img-fluid.svg, .MMCQQ.active .img-fluid.svg, .VideoQ.active .img-fluid.svg, .SwapingQ.active .img-fluid.svg {
    filter: invert(100%) sepia(100%) saturate(100%) brightness(100%) contrast(1100%) !important;
}*/
.matchingQ.active a, .SequanceQ.active a, .DregDropQ.active a, .MCQQ.active a, .MMCQQ.active a, .VideoQ.active a, .SwapingQ.active a{
	color:white !important;
	text-decoration: none;
}
@supports (-ms-ime-align:auto) {
    .questnavi {
		width: 5%;
    }
	.Qprevbtn button.submitques {
		background:transparent;
		border:0px;
		text-align:right;
		margin-right:30px;
	} 
}
.MCQOption, .MMCQOption, .MatchingOption, .Drag_Drop , .Drag_Drop_Shuffle, .Questmtf {
    width: 94%;
    margin: 0px auto;
    max-width: 100%;
    margin-bottom: 25px;
}
.MatchingOption1 {
    width: 84%;
    margin: 0px auto;
    max-width: 100%;
}
.MatchingOption1 .dragDropWrapper {
    padding-left: 305px;
    padding-right: 0px;
    margin-top: 40px;
}
.dragListBox.dragListBoxTextNo .row .col-sm-4, .dragListBox.dragListBoxempty .row .col-sm-4, .dragListBox.dragListBoxText .row .col-sm-4 {
    padding-right: 0px;
}
.Drag_Drop .col-sm-4 , .Drag_Drop_Shuffle .col-sm-4 {
    padding-right: 0px;
    padding-left: 0px;
}
.feedback_box {
	top: 0;
    bottom: 0px;
	position:Fixed;
	left:0;
	right:0;
}
.feedback_box .modal-dialog {
    width: 1100px;
    margin: 13.75rem auto;
    display: block;
}
.feedback-footer .svg {
    width: 35px;
}
.feedback-footer img {
    width: 35px;
    margin-right: 8px;
}

.feedback-footer .btn {
    font-size: 16px;
    font-weight: bold;
}
.feedback-footer .btn {
    display: block;
    margin: 0 auto;
    width: 200px;
	color:#edb007;
}

.feedback-footer {
    padding: 10px;
    border-top: 2px solid #96a28f;
}
.feedback_box .modal-dialog .modal-content {
    border: 0px solid rgba(0,0,0,.2);
    border-radius: 0px;
    box-shadow: none;
	margin-left:0px;
}
.feedback-footer .svg path {fill: #edb007;}
.feedback_box .modal-dialog .modal-content .feedback-header {
    padding: 15px 15px 15px 15px;
    border-bottom: 0px solid #bbbbbb;
}
.flexfeed.img-videobox {
    width: 30%;
    margin: 0 auto;
	text-align:center;
	margin-bottom:15px;
}

.feedback_box .modal-dialog .modal-content .feedback-header .feedclose {
    float: right;
    font-size: 50px;
    line-height: 1;
    background: transparent;
    border: 0px;
    margin-top: -15px;
    color: #000;
    opacity: 1;
}
.feedback_box .modal-dialog .modal-content .modal-body {
    position: relative;
    padding: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
	overflow-y:auto;
	margin-bottom:0px;
	height:60vh;
}
.qimg {
    width: 100%;
	height: 100%;
    max-height: 100%;
}
#my-video {
    width: 100%;
}
.feedtextarea {
    padding: 00px;
    max-width: 100%;
}
.feedbacktext {
    word-break: break-word;
    max-height: 100%;
    overflow: auto;
}
.flexfeed {
    padding: 0px 15px;
	display:block;
}
.feedback-VidImgBanner {
    width: 100%;
    height: 333px;
	text-align:center;
}
p.feedbacktextbold {
    font-weight: bold;
}
.submitMTFcenter {
	padding-bottom: 50px;
}
.sortoptions {
    background-color: #ffffff;
    color: #000;
    padding: 13px;
    height: 46px;
	margin-bottom: 15px;
}
.sortoptions:hover {
    background-color: #edb007;
    cursor:move;
}
.success .sortoptions {
	background: #428bca;
    color: white;
	margin-bottom: 1px;
}
.success .rectangle1:hover:before, .rectangle1:hover {
    background-color: #edaf06;
    transition: all ease 0.5s;
}
.videopatch {
    position: relative;
    text-align: center;
	height: 63%;
}
.overlay {
    position: absolute;
    width: 100%;
    top: 30px;
	z-index:2;
}
.VidQuest {
    width: 84%;
    margin: 0px auto;
    max-width: 100%;
    margin-bottom: 32px;
}
.VideoOption {
    width: 84%;
    margin: 0px auto;
    max-width: 100%;
}
.VideoOptions {
    background-color: white;
    border: 1px solid #428BCA;
    padding: 18px;
    color: black;
    margin-top: 5px;
    width: 49.8%;
    display: inline-flex;
}
.VideoOptions:hover {
    background-color: #abdd89;
    color: black;
    border: 1px solid #abdd89;
    transition: all ease 0.5s;
}
.videoque {
    margin-left: auto;
    margin-right: auto;
    width: 99.7%;
}
.press {
    border-color: #abdd89; 
	color: #000;
}
/*.MMCQOption .press .Check-boxQB,
.MCQOption .press .Check-boxQB{
	display:block;
}
.MMCQOption .Check-boxQB,
.MCQOption .Check-boxQB{
	display:none;
}*/
.MMCQOption.bannermcq .checkmark:after,
.MCQOption.bannermcq .checkmark:after {
	left: 10px;
	top: 3px;
	width: 10px;
	height: 19px;
	border: solid #abdd89;
	border-width: 0 3px 3px 0;
}
.MMCQOption.bannermcq input:checked ~ .checkmark,
.MCQOption.bannermcq input:checked ~ .checkmark {
	background-color: #fff;
	border: #fff;
	height: 30px;
	width: 30px;
	top: 2px;
}
.btn.submitbtn {
	bottom: 20px;
	margin: 0 auto;
	text-align: center;
	display:block;
}
.Question-VidImgBanner button, .feedback-VidImgBanner button {
    background: transparent;
    border: 0px solid transparent;
    outline: 0;
}
.questioninput {
	width: 100%;
	margin-top: 7px;
	position: relative;
	padding: 10px;
	background: #abdd89;
	/* border: 2px solid #abdd89; */
}
 .questioninput:after {
        content: '';
        background: #fff;
        height: 19px;
        width: 12px;
        position: absolute;
        right: -12px;
        top: -1px;
        bottom: 0;
        border-right: 1px solid #999;
        border-bottom: 1px solid #999;
        border-top: 1px solid #999;
}
.questioninput:before {
    content: '';
    background: #fff;
    height: 19px;
    width: 12px;
    position: absolute;
    right: -12px;
    bottom: -1px;
    border-right: 1px solid #999;
    border-top: 1px solid #999;
    border-bottom: 1px solid #999;
}
.dragBox {
	position: relative;
	height: 100%;
	border: 0px solid #ccc;
	background: transparent !important;
}
.submitMTFcenter.col-sm-12 {
    margin-top:50px;
}
.Deskview {
    display: inline-block;
}
.mobview {
	display: none;
}
.rectangle1 {
	width: 100%;
	background: white;
	margin-top:7px;	
	/* border: 2px solid #fff; */
    position:relative;
    border: 1px dotted #999;
    z-index: 0;
}
 .rectangle1:after {
    content: '';
    background: #fff;
    height: 60%;
    width: 13px;
    position: absolute;
    left: -12px;
    top: 20%;
    z-index: 1;
    border-left: 1px dotted #999;
    border-top: 1px dotted #999;
    border-bottom: 1px dotted #999;
}
.rectangle1:hover {
	background-color: #fff;
	color: black;
	transition: all ease 0.5s;
}
.rectangle1:hover:before {
	background-color: #edaf06;
	color: black;
	border: 0px solid #edaf06;
	transition: all ease 0.5s;
}
.close-banner svg {
    width: 30px;
}

.close-banner {
    left: unset;
	cursor:pointer;
}
.dndopt {
	padding: 10px 15px;
	z-index: 99;
}
.success .rectangle1 {
	background: #fff;
	border: 2px solid #abdd89;
}

.success .rectangle1 .dndopt {
    color: #000;
}
.questioninput.success {
    background: #000;
}
.questioninput.success .textwraping {
    color: white;
}
.questioninput.success:after {
    content: '';
    height: 80px;
    position: absolute;
    text-align: center;
    border-left: none;
    top: 0px;
    width: 3%;
    margin-left: 94%;
    background: #09ad0b;
}

.dragIconContainer:hover {
    background-color: #039704;
}
.seqDnD {
    width: 100%;
    margin: auto;
    left: 0;
    right: 0;
}
.PhonematchingDrop .form-control {
    padding: 10px 10px;
	height:unset;
	border-radius:0;
	margin-bottom:10px;
	border:2px solid #abdd89;
}
.dropdown.multimatchingDrop .btn {
    width: 100%;
    text-align: left;
    height: 40px;
    margin-bottom: 20px;
}
.PhonematchingDrop{
	display:none;
}

.select2-search.select2-search--dropdown{
	display:none;
}
.select2-container--default .select2-selection--single{
	border:2px solid #abdd89 !important;
	border-radius:0 !important;
}
.dropdown.multimatchingDrop .caret {
    float: right;
    border-top: 10px dashed;
    border-right: 7px solid transparent;
    border-left: 7px solid transparent;
}
.DNDbox {
    margin-bottom: 20px;
}
.dropdown.multimatchingDrop ul.dropdown-menu {
    width: 100%;
    top: 38px;
    left: 0px;
    border-radius: 0;
    box-shadow: 0 0 BLACK;
}
.dragIcon {
    top: 0px;
    left: 0px;
    right: 0px;
    width: 25%;
    bottom: 0px;
    margin: auto;
    position: absolute;
}
h2.launchQSheading {
	margin-top: 0px;
	color: #000;
	padding: 22px;
	background: #f4f4f4;
	text-align: center;
}
.launchheading {
    margin-top: 0px;
    color: #edb007;
}
.launchparagraph {
    margin-top: 0px;
    padding-bottom: 15px;
}
.launchQSimgimg {
    width: 50%;
    float: right;
    padding-left: 15px;
}
.Launchbtn {
    background: #edb007;
    padding: 47px;
    text-align: center;
}
.row.launch {
    margin-bottom: 124px;
}
.flex33.DROPclassicbanner .multiDBDbox {
    flex: 0 0 23%;
    margin: 0px 8px;
    margin-top: 10px;
	width:23%;
    position: relative;
    overflow: auto;
}
.flexheight33.multiDBDbanner.DCBaNNer{
	background:#fff;
}
.flexheight33.multiDBDbanner.BGMUltTrans {
	background: transparent !important;
}
.flexheight33.multiDBDbanner.BGMUltTrans.BGMUltTrans1 .dragBox {
    border: 4px solid #abdd89;
	background:#fff;
}
.videopatch {
    position: relative;
    text-align: center;
    height: 100%;
    top: 0px;
    width: 100%;
}

.Qusimg video {
    width: 100%;
    height: auto;
}
.Qusimg audio {
    width: 165px;
    height: 67px;
}
.videopatch .videoque {
    width: 100%;
    height: 100%;
}

.Questasset_icon {
    width: 4%;
    float: left;
}
div#load_popup_modal_show:after {
    content: '';
    width: 100%;
    height: 100vh;
    background: black;
    position: absolute;
    top: 0;
    opacity: 0.6;
    z-index: -1;
}
div#load_popup_modal_show {
    padding-left: 0px !important;
}