
.report_page {
	margin-left: 0px;
	margin-right: 0px;
	padding-top:10px;
}



.report_page .col-sm-6 .lernar-dashboard-boxes,
.report_page .col-sm-12 .lernar-dashboard-boxes {
	padding: 5px;
	height: 100%;
}

.report_page .col-sm-6 .lernar-dashboard-boxes span,
.report_page .col-sm-12 .lernar-dashboard-boxes span {
    margin-right: 10px;
    color: #FFF;
    font-size: 30px;
}
.cilckViewbtn {
    position: absolute;
    bottom: 14px;
}
.report_page .col-sm-6 .lernar-dashboard-boxes p,
.report_page .col-sm-12 .lernar-dashboard-boxes p {
    font-size: 14px;
	padding-right: 0px;
}

ul.comp-incom-progress.rep_page {
    margin-top: 30px;
    text-align: center;
    display: inline-flex;
}

ul.comp-incom-progress.rep_page li {
    display: inline-block;
    padding-right: 50px;
    font-size: 14px;
	font-weight:bold;
}

.comp-incomp-header {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 0px;
    margin-bottom: 10px;
}

.comp-incomp p {
	padding-top:20px;
    font-size: 80px;
    text-align: center;
}