/*---*---------------phone-------------*/
@media (min-width:320px)   and (max-width: 767px) {
    .openReSonceModel .modal-dialog {
        padding: 0 0px;
    }
    .open_res .flexQTeMP {
        height: 100%;
    }
    .videotempQus .videopatch {
        position: fixed;
        text-align: center;
        height: 100%;
        top: 50%;
        width: 100%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .videotempQus .videopatch .videoque {
        height: 100vh !important;
    }
    .videotempQus .overlay {
        position: relative !important;
    }
    .linear_classic.videotempQus .video-js {
        background: #000 !important;
    }
    .LEAR40 {
        font-size: 32px !important;
    }
    .learnerITEM.learnerITEMscroll {
        height: 187px !important;
    }
    .LEAR48 {
        font-size: 34px;
    }
    .video_img.CMVimg {
        height: auto !important;
    }
    .LEAR36 {
        font-size: 20px !important;
    }
    .GrouPerforbanner {
        display: block;
    }
    .AReportFlex {
        width: 150px;
    }
    .GrouPerformainbanner .col-sm-4:nth-child(2) {
        padding-left: 0px;
    }
    
    .GrouPerformainbanner .col-sm-4 {
        padding-right: 0;
    }
    .GrouPerforbanner .col-sm-2 {
        padding-left: 0;
        padding-right: 0;
    }
    .LearnarDSHB .container-fluid {
        padding-right: 20px;
        padding-left: 20px;
    }
    .L-E-box .col-sm-3 {
        margin-right: 0px;
    }
    ul.achiveScOre {
        display: flex;
    }
    .Simgleimgdrag .flex33.DCbanner .multiDBDbox {
        height: 200px !important;
    }
    .Simgleimgdrag .flex33.DROPclassicbanner {
        margin-top: 40px;
    }
    
    .Simgleimgdrag .dragBox {
        height: 200px !important;
    }
    .flex33.DCbanner.fade-in {
        margin-left: 0;
        display: flex !important;
    }
    ul.achiveScOre {
        display: flex !important;
    }
    .flex33.DCbanner {
        padding: 0 0 !important;
    }
    .home_page {
        background-position: center;
        background-size: cover;
    }
	.dashboard-box.colorBoxW{
		min-height:auto;
	}
	.dropdiv3 .col-sm-4 {
		flex: 0 0 33%;
	}
	img#captcha_image {
		width: 65%;
	}
	.score {
		display: block;
		text-align: center;
	}
	.score .col-sm-3, .score .col-sm-6 {
		border-right: 1px solid transparent;
	}
	.comp-incomp-topbanner {
		min-height: auto;
	}
	.dropdiv3 {
		padding: 0px 15px;
	}
	.home_header.home_headerbtn {
		padding-top: 53px;
		z-index: 1;
		background-color: #ffffff;
        padding-bottom: 10px;
	}
	.Matchingcontainer .owl-prev {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
	}
	.Matchingcontainer .owl-next {
		position: absolute;
		top: 0;
		right: 0;
		height: 100%;
	}
	.learner-head {
		padding-left: 10px;
		padding-right: 19px;
	}
	.home_page .container {
		margin-top: 330px;
	}
	.feedback_box .modal-dialog {
		margin: 0rem auto !important;
		width: 100% !important;
	}
	div#load_popup_modal_show:after {
		top: 0px !important;
	}
	.row.L-R-W20ROW .L-R-W20 {
		width: 100%;
	}
	#left-wrapper {
		top: 104px !important;
	}
	.Simulation_det.stopb.clearfix.unsetp {
		margin-top: 50px !important;
	}
	.form-group.QusScore {
		display: inline-block;
	}
	.RORtemp .tab-content.educater-banner_Qus .col-sm-12.Questiontmpbanner {
		padding-right: 15px !important;
	}
	ul.Ques_linear_save li {
		font-size: 14px;
	}
	.skilQue {
		padding-left: 0 !important;
	}
	.Simulation_det.stopb.clearfix.unsetp {
		margin-top: 50px;
	}
	.admin-dashboard.Ev2.launchSce .nav.nav-tabs a {
		font-size: 14px;
	}
	.CharFlex {
		flex: unset;
		overflow: hidden;
	}
	.open_res,
	.linear_classic	{
		display: block !important;
        overflow:auto !important;
        height: 100vh;
	}
    .swipingcoursal .multiDBDbox {
        height: auto !important;
    }
    .flexheight33.questioninput, .flexheight33.Optioninput {
        height: 90px;
        margin-top: 5px !important;
    }
    .flexheight33 .rectangle1 {
        height: 90px !important;
    }
    .flexheight33.FHdrop {
        height: 90px;        
        margin-top: 5px !important;
    }
	.flexheight33 {
		margin: 0px 0px !important;
	}
	.OPTText .modal-content {
		height: 91.4vh;
	}
    .home_page {
		overflow: auto;
		background-image: url(../../img/homepage/bgphone.png);
    }
    .text-hint-banner{
        min-height: auto;
    }
	.plus_comp {
        display: inline-block;
        position: relative;
        top: unset;
        padding-bottom: 10px;
        padding-left: 40px;
    }
    .admin-dashboard.Ev2.launchSce{
       margin-top: 50px !important;
	   /* height: calc(100vh - 200px); */
    }
    .Lrn-Banner.linearlunch1 {
        padding: 15px 15px;
    }
    .admin-dashboard.Ev2 .tab-content{
        min-height: 100%;
    }
    .flexfeed {
        border: 0px solid #ebebeb;
    }
    .flexfeed {
        padding: 0px 0px;
    }
    .row.feed {
        display: block !important;
    }
    div#myModal1 .modal-body {
        width: 100%;
    }
    .flexfeed.img-videobox {
        width: 90% !important;
    }
	div#captcha_image_audio_controls {
		display: inline;
	}
    .remove.minusComp {
        right: 50;
        top: unset;
        position: relative;
        flex: unset;
        padding-bottom: 10px;
        padding-left: 40px;
    }
    .previewbox video {
        width: 100%;
    }
    .previewbox {
        padding-left: 10px;
        padding-right: 10px;
    }
    .previewbox h3 {
        font-size: 12px;
    }
    .lernar-dashboard-boxes p {
        font-size: 14px;
    }
    .lernar-dashboard-boxes img {
        width: 60px;
    }
    .video_img {
        height: auto;
    }
    .imageWraper .modal-dialog {
        width: 90%;
    }
    .body{
        background-image: url('../img/mobile_bg.png');
        height: 100vh;
        width: 100%;
        background-size: cover;
        
    }
    .lernar-dashboard .row {
        margin-right: 0px;
        margin-left: 0px;
    }
    .comp-incomp-topbanner {
        height: 100%;
        padding-bottom: 10px;
    }
    .answerbullete{
        display: none !important;
    }
    .lernar-dashboard {
        margin-top: 80px;
    }
    .comp-incomp-header.col-sm-12 h3 {
        font-size: 16px;
    }
    img.thumb {
        width: 60px;
    }
    ul.comp-incom-progress li {
        display: inline-block;
        padding-right: 0px;
        font-size: 14px;
    }
    ul.comp-incom-progress li span {
        height: 25px;
        width: 25px;
        margin-right: 10px;
    }
    .comp-incomp-banner {
        padding-left: 10px;
        padding-right: 10px;
    }
    .lernar-dashboard-boxes p {
        padding-right: 0px;
    }
    .lernar-dashboard-boxes {
        padding: 15px 22px;
        height: auto;
    }
    .comp-incomp {
        margin-bottom: 30px;
    }
    .cardbox {
        width: 100%;
        margin: 0;
        margin-bottom: 20px;
    }
    .cardbox .imgbox100 {
        width: 100%;
        position: relative;
    }    
    .gridcard100 {
        width: 100%;
        padding: unset;
    }
    .tial,
    .tial100{
        display: none;
    }
    .imgwraper1,
    .imgwraper2 {
        background: none;
        width: 100%;
        height: auto;
        float: none;
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 20px;
    }
    .mobileview_char{
        width: 60px;
        height: 60px;
        border-radius: 50%;
        background: #c9c9c9;
        position: absolute;
        right: 0;
        overflow: hidden;
        margin-right: 15px;
    }
    .female {
        position: relative;
        height: 151px !important;
        bottom: unset;
        left: unset;
        margin-left: -38px;
        margin-top: 0px;
    }
    .mobileview_char.char1 {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        background: #c9c9c9;
        position: absolute;
        left: 0;
        overflow: hidden;
        margin-left: 15px;
        margin-top: 35px;
    }

    .male{
        position: relative;
        height: 151px !important;
        bottom: unset;
        left: unset;
        margin-left: -88px;
        margin-top: 0px;
    }
    .question {
        position: relative;
        top: unset;
        right: unset;
        border-radius: 8px;
        border: 1px solid #959595;
        margin-right: 15px;
        width: 95%;
    }
    .circle {
        display: none;
    }
    ul.answerbox {
        position: relative;
        top: unset;
        left: unset;
        width: 100%;
        padding-left: 60px;
        margin-top: 35px;
        margin-bottom: 35px;
    }
    .loginbtn.signbtn1.signbtn2 {
        position: relative;
        bottom: unset; 
    }
    ul.answerbox li {
        width: 100%;
    }
    .questionbox {
        padding-right: 50px;
        padding-bottom: 10px;
    }
    ul.answerbox li{
        margin: 10px 0px;
        border-radius: 8px;
        display: block;
    }
    ul.answerbox span {
        padding: 10px !important;
    }
    .imageWraper {
        /* margin-top: 80px; */
        /* padding: 20px; */
        padding-top: 90px;
    }
    .learnar-banner img {
        width: 20px;
    }
    .learnar-banner {
        padding-left: 15px;
        padding-right: 15px;
    }
    .male_circle{
        z-index: 9;
        display: block;
        position: absolute;
    }
    .female_circle {
        display: block;
        position: absolute;
        right: -10px;
        bottom: 3px;
    }
    img.female_circle{
        max-width: 100%;
        width: 45px;
        right: 0px
    }

    img.male_circle {
        max-width: 100%;
        width: 45px;
        left: 0;
        top: 5px;
    }
    .footer {
        background-color: transparent;
    }
    .iconFleft img {
        width: 45px;
    }
    .customer_text {
        width: 100%;
    }
    .progressfright {
        width: 80%;
    }
    progress[value] {
        width: 90%;
    }
    .footer {
        background-color: #fff;
        padding: 5px 12px;
    }
    .customer_textL {
     display: none;  
    }
    .customer_textR {
     display: none;  
    }
    .logo-brand img {
        width: 90px;
    }
    .menuToggle img {
        width: 62px;
    }
    .footertext {
        font-size: 9px;
    }
    .dashboard-box {
        width: 290px;
        height: auto;
        margin: 0px auto 20px;
        max-width: 100%;
    }
    .bottomheader {
        margin-top: 50px;
        height: 56px;
    }
    .admin-dashboard {
        padding-top: 90px;
    }
    .dash-title {
        font-size: 20px;
    }
    .dash-sub-title {
        font-size: 14px;
    }
    .btn.btn-primary {
  	  width: 100%;
 	  padding: 0px 45px;
    }
    .col-sm-3.browsebtn {
        width: 50%;
        float: left;
        max-width: 100%;
        margin-bottom: 10px;
    }
    .header {
        padding: 9px 10px;
    }
   .usermanage-form {
        padding: 15px 15px 15px;
    }
    .breadcrumb {
        padding: 18px 15px;
    }
	.menuToggle.menuToggleMB {
		display: block;
	}
    .menu {
        width: 100%;
        border-radius: 0;
        box-shadow: 0 1px 20px rgba(0, 0, 0, 0.15);
        top: 50px;
        right: 0;
        height: 100%;
        position: fixed;
        overflow: scroll;
        padding-bottom: 50px;
    }
    ul.dropdownmenu li a {
        padding: 12px 21px;
    }
   .menu:after {
		display:none;
	}
    .header .userprofile{
        display: none;
    }
    .dropdownmenu li:first-child {
        border-bottom: 1px solid #ccc;
        padding: 10px 0;
        display: block;
    }
    .dropdownmenu .menuToggle {
        float: none;
		text-align: unset;
		padding: 30px 20px;
		font-weight: 600;
    }
    .menuToggle .toggleIcon {
        top: 8px;
    }
    button.multiselect.dropdown-toggle.btn.btn-default {
        margin-bottom: 15px;
    }
	ul.shortright li:last-child {
		padding-top: 0px;
	}
    .Home_text {
        position: relative;
		transform: unset;
    }
    .Home_text {
        width: 100%;
        right: 0;
        left: 0;
        top: 0px;
        margin-bottom: 45px;
		transform:unset;
    }
    .home_page:after {
        content: "";
        width: 100%;
        height: 100%;
        display: block;
        background-color: black;
        opacity: 0.2;
        position: absolute;
        top: 0;
        z-index: -1;
    }
    .home_header {
        padding: 7px 12px 0px;
        position: fixed;
        width: 100%;
        z-index: 1;
    }
    .regbtn button {
        padding: 8px 10px !important;
    }
    .regbtn img {
        width: 15px;
        margin-right: 8px;
    }
    .Home_text h1 {
        font-size: 17px;
        line-height: 30px;
    }

    .Home_text h3 {
        font-size: 20px;
    }
    .Home_text .Create {
        font-size: 11px;
    }
    .Home_text h3 {
        margin-top: -12px;
    }
    .flexMain {
        display: block;
        display: block;
        flex-wrap: unset;
    }
    .flexItem.flexItem70,
    .flexItem.flexItem30 {
        width: auto;
    }
    .dashboard-box {
        min-height: auto;
    }
    .usermanage-form1 .pull-right {
        float: none !important;
        text-align: center;
    }
    .flexItem.flexItem30 {
        padding: 0px 10px;
    }
    .menuToggle span {
        color: #2c3545;
    }
    .Home_text p {
        font-size: 12px;
    }
    .logowhite img {
        width: 100px;
    }
    .usermanage-add button {
        float: none;
    }
    .usermanage-add {   
        padding: 0;
        padding-bottom: 20px;
        text-align: center;
    } 
    .browsebtn button {
        width: 100% !important;
    } 
    .usermanage-add .btn.btn-primary {
        float: none !important;
    }
    .logintext {
        font-size: 50px;
        margin-top: 45px;
    }
    .register-form,
    .login-form {
        margin-bottom: 40px;
    }
    .main_sim .form-group {
        padding: 12px 35px 0px;
        display: flex;
    }
    .labelbox label {
        display: block;
        margin-bottom: unset;
        width: unset;
        position: unset;
        top: unset;
    }
    .main_sim .form-control {
        border-radius: 0;
        height: unset;
        background: #fff;
        box-shadow: unset;
        color: unset;
        font-style: unset;
        width: 100%;
        float: none;
    }
    .add_comp_option {
        position: relative;
        width: 100%;
        display: block;
        border-bottom: 1px solid #dbdbdb;
    }
    .Simulation_det h3 {
        font-size: 12px;
    }
    .breadcrumb>li {
        font-size: 10px;
    }
    .ABOUT, .BACKGROUND, .OFFER, .SCENARIO {
        width: 100%;
        position: relative;
        padding: 30px;
        top: 0px;
        margin-bottom: 30px;
    }
    .logochnage {
        display: none;
    }
    .logowhite li:nth-child(2):before {
        display: none;
    }
    .imageWraper {
        overflow: auto;
    }
    .modeltop{
        top:50% !important;
    }
    .logintext.forgettext {
        font-size: 30px;
    }
	.Matchingpatch {
		height: 32%;
	}
	.Question-VidImgBanner {
		background: #d3d3d3;
		height: 230px;
		width: 352px;
		max-width: 100%;
		position: absolute;
		top: 40%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
	.Quest, .MCQOption, .MMCQOption {
		width: 94%;
		padding-left: 0px;
	}
	.options {
		margin-top: 5px;
	}
	.regbtn_mobile {
		display:flex;
	}

	.Home_text {
		/* background: white; */
		padding: 15px;
		opacity: 0.8;
	}
	.home_page .container .row {
		margin-right: 0px;
		margin-left: 0px;
	}
	.home_header {
		padding: 7px 12px 0px;
		position: fixed;
		width: 100%;
		z-index: 9;
	}
	.datebottontext .svg {
		width: 25px;
		margin-left: 0px;
	}
	.col-container {
		display: block;
		padding-left:20px !important;
		padding-right: 20px !important;
    }
	.DropboxE2 .col-sm-4 {
		padding-left: 0px;
		padding-right: 0px;
	}
	.L-E2part-4 {
        text-align:center;
        margin: 0px 18px;
	}
	.learner_download_btn_Laptop {
		display: none;
    }
    .LearnarDSHB .col.col-sm-6:first-child {
        margin-left: 5px;
        margin-bottom: 15px;
    }
    .LearnarDSHB .col.col-sm-6:nth-child(2) {
        margin-right: 15px;
        margin-left: 5px;
    }
    .row.ASignedlear {
        padding-top: 20px;
        padding-left: 20px;
        padding-right: 20px;
    }
    .col.flexItem70{
        margin-bottom: 20px !important;        
        margin-right: 0;
        margin-left: 0;
    }
    .Echart.B2:first-child {
        border-bottom: 1px solid #e8e8e8;
    }
	.L-E2part-4 .col-sm-3, .L-E2part-4 .col-sm-6 {
		margin-top: 0px;
		margin-top: 10px;
		padding-top: 10px;
		padding-bottom: 10px;
		border: 2px solid #dadada;
		margin-bottom: 10px;
	}
	.learner_download_btn_phone {
		display: block;
	}
	.col.flexItem70, .green, .blue, .col.flexItem30 {
		width:100%;
		margin-bottom: 5px;
	}
	.L-E-box {
		margin-top:0px;
		padding-left: 0px;
		padding-right: 0px;
    }
    .col-container.colCont1 {
        padding-left: 15px !important;
        padding-right: 5px !important;
    }
    .AverweightScor ul:nth-child(1) {
        flex: 1 70%;
    }
    .AverweightScor ul:nth-child(2) {
        flex: 1 30%;
    }
	.container-fuild.ADash {
		height: calc(100vh - 250px);
	}
	.ADash .author-d {
		margin-top: 0px !important;
	}
	.L-calender {
		padding-left: 15px;
	}
	.admin-dashboard.Ev2 .flexItem70 {
		width: 100%;
	}
	.admin-dashboard.Ev2 .L-calender {
		float: initial;
		padding-right: 15px;
		width:100%;
	}
	.Learnar-dashboard-E2 {
		margin-top: 35px;
	}
	.openReSonceModel {
		top: auto !important;
	}
	.openReSonceModel .modal-dialog.modal-dialog-centered {
		padding: 0 10px;
	}
	.openReSonceModel .OPTText .btn1.submitbtn1.upload {
		margin-left: 0px;
	}
	.Learnar-dashboard-E2 .col.flexItem70 .col-sm-12 {
		padding-left: 0px;
		padding-right: 0px;
	}
	.mobile_MTF	.dropareabox1 {
		position: relative;
		margin-bottom: 143px;
	}
	.edit_profile-banner .row {
		margin-left: 0px;
	}
	.edit-profilemainbanner {
		display: block;
	}
	.edit-profile-img {
		padding-right: 0px;
		border-right: 0px solid #bababa;
		position: inherit;
		width: 100%;
	}
	.edit-profilefield {
		width: 100%;
		padding-left: 0px;
		margin-left: 0;
		border-left: 0px solid #bababa;
	}
	.OPTText .modal-body {
		width: 100%;
	}
	.OPTText .modal-body {
		padding-top: 15px;
	}
	.input-group.calenderclient {
		width: 100%;
	}
	.hometab.active{
		display: block !important;
	}
	.hometab .flextlistitem.SIMulationT1 {
		transform: translate(0px, 20px);;
	}
	.adminT {
		height: initial;
		overflow: auto;
	}
	.AutHorDahBan .supDASHTOPtextB {
		transform: translate(0px, 30px);
	}
	.usermanage-form.educatorrepORT .col-sm-6 {
		padding-top: 20px;
	}
	.menu1tab.active {
		display: block !important;
	}
	.item.item900 {
		width: 97% !important;
	}
	.admin-dashboard.Ev2 { padding-top: 75px; }
	.super-adminE2 { padding-top: 60px; }
	.admin-dashboard.Ev2.super-adminE2 .tab-content { padding-right: 0px; }
	.Ev2.super-adminE2 .flexItem.flexItemsdMinDash {  margin-bottom: 0px; }
	.clienttextbox {  text-align: center; }
	.Ev2.super-adminE2 .superadhtable.manAGEYurself { padding: 17px; }
	.Group_managment .panelCaollapse .panel-title { padding-right: 0px; }
	.homePgMang .addsce-img { display: block; }
	.homePgMang .adimgbox .form-control { width: 100%; }
	.homePgMang .addsce-img .adimgbox.browsebtn { display: inline-block; width: 49%; }
	.homePgMang .addsce-img .adimgbox.browsebtn .browse{ margin-left: 0px; }
	.homePgMang .browsebtn { margin-right: 0px; }
	.Group_managment .usermanage-add.clearfix { padding: 0px 15px; }
	.super-client-manag .brandmanag-box { display: block !important; margin-bottom: 0px; margin-top: 0px; }
	.super-client-manag .brandmanagl { width: 100% !important; display: inline-block; }
	.super-client-manag .pull-right { padding: 0px 10px 0px !important; }
	.super-client-manag .brandmanag-flex .fontSiZE { width: 69%; }
}
/*------------------phone landscape-------------*/
@media (min-width:320px)  and (max-width: 767px)and (orientation: landscape) {
    
	.DCbannerClassic .flexheight33 {
		flex: 0 0 33% !important;
	}
    .DROPclassicbanner.DROPclassicA .multiDBDbox {
        flex: 0 0 31.5% !important;
        width: 31.5% !important;
    }
    .CharFlex {
        margin-top: -175px;
        position: relative;
        z-index: 1;
        margin-left: -35px;
        transform: translate(-35%, 113%);
    }
    .flexQTeMPtwochar .Questmtf {
        padding-left: 0px !important;
        margin-top: 0 !important;
    }
    .flexQTeMPonechar .Questmtf {
        padding-left: 130px !important;
        margin-top: 65px !important;
    }
    .dashboard-box {
        width: 47%;
        margin: 8px;
        float: right;
        min-height: auto;
    }
    .flexItem.flexItem30 {
        padding: 0px 0px;
    }
    .logintext {
        margin-top: 56px;
    }
    .logintext {
        font-size: 45px;
    }
    .login-form .col-md-4,
    .register-form .col-md-4{
        padding: 0 80px;
    }

    .buttonbox button {
        padding: 10px 20px;
        font-size: 16px;
    }
    .buttonbox {
        bottom: 20px;
        position: relative;
    }
    .maincardbox {
        padding: 0px 80px;
    }
    .seneriobanner {
        height: auto;
    }
    .colorBoxRight.dashboardBox {
        margin: 0px 10px;
    }
    ul.answerbox li {
        width: 100%;
    }
}

@media (min-width:320px)  and (max-width: 767px)and (orientation: portrait) {
    .DROPclassicbanner.DROPclassicA .multiDBDbox {
        flex: 0 0 50% !important;
        width: 50% !important;
    }
    .CharFlex {
        height: 145px !important;
    }
    .submitMTFcenter.col-sm-12 {
        display: block;
        width: 100%;
    }
    .mobileroteateimg {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #eceff1;
        background-image: url(../../img/mobile.gif);
        width: 100%;
        background-position: top;
        background-repeat: no-repeat;
        display: block;
        z-index: 9999999;
    }
    .multimatchingB .box.navy {
        padding: 5px !important;
    }
    .flex33.DROPclassicbanner .multiDBDbox {
        flex: 0 0 45% !important;
        width: 45% !important;
        transform: unset !important; 
        margin: 0px 6px !important;
    }
    .flexheight33.multiDBDbanner.BGMUltTicolor {
        width: 50%;
        margin: 0 auto;
        transform: translate(50%, 0px);
    }
    .desktop_MTF, .desktop_multiple_DND, .desktop_SORTING, .desktop_Single_DND {
        display:none;
    }
    .mobile_MTF, .mobile_multiple_DND, .mobile_SORTING, .mobile_Single_DND {
        display:block;
    }
    .multimatchingB .box.navy {
        position: relative !important;
        width: 100% !important;
        height: 93px !important;
        top: unset !important;
        left: unset !important;
        transform: unset !important;
    }
    .flexheight33 {
        flex: 0 0 50% !important;
    }
    /*.flex33.DROPclassicbanner .multiDBDbox {
        flex: 0 0 50% !important;
        width: 100% !important;
        transform: translate(50%, 0px) !important;
    }*/
    .rectangle1:after {
        content: '';
        background: #039704;
        height: 80%;
        width: 10px;
        position: absolute;
        left: -2px;
        top: 10%;
        bottom: 0;
    }
}
@media (max-width:480px){
    .tableheader_right {
        float: none;
        color: #fff;
        width: 100%;
        margin-top: 9px;
    }
    .tableheader_left {
        float: none;
        width: 100%;
    }

    .buttonbox button {
        padding: 10px 25px;
        font-size: 14px;
        margin: 0px 3px 12px;
        width: 45%;
    }
    .buttonbox {
        bottom: 20px;
    }
    .colorBoxRight.dashboardBox {
        margin: unset;
        width: 290px;
        margin: 0 auto;
    }
    ul.shortright li {
        padding-left: unset;
        padding-right: unset;
    }
  }
/*------------------Laptop-------------*/
@media (min-width: 1024px) and (max-width: 1450px) {
    .dd_twrap {
        max-height: 200px !important;
    }
    .flexQTeMPnochar .textwraping.dd_twrap {
        max-height: 245px !important;
    }
    .flexQTeMPnochar .flexheight33.multiDBDbanner,
    .flexQTeMPnochar .multiDBDbox.maTcHingdrop.MultiMatchRB,
    .flexQTeMPnochar .multiDBDbox {
        height: 270px !important;
    }
    .branchingmultitemp.TogglelistwidthQ100 .MMCQApendOption {
        padding-right: 30px !important;
    }
    
    .branchingmultitemp .MMCQApendOption {
        padding-right: 48px !important;
    }
    .Echartable_s {
        height: 395px;
        overflow: auto;
    }
    .jobRed img {
        width: 100px !important;
    }
    .Classic-Temp .tabpadding150 .quesbox.CQtmp {
        padding-right: 50px !important;
    }

    .Classic-Temp .tabpadding150 .matchbox.DNDQfIeLd.classicdnd {
        padding-right: 40px;
    }
    .Classic-Temp .tabpadding150 .Radio-boxclasstmpR.classicChAling {
        padding-right: 18px;
    }
    .item.learnerITEM {
        min-height: 140px !important;
    }
    .Classic-Temp .classicQ.classicFEED {
        padding-right: 33px;
    }
    .Classic-Temp .TogglelistwidthQ100 .branch-ansG {
        width: 96%;
    }
    .Classic-Temp .quesbox.CQtmp {
        padding-right: 40px !important;
    }
    .Classic-Temp .matchbox.DNDQfIeLd.classicdnd {
        padding-right: 35px;
    }    
    .Classic-Temp .Radio-boxclasstmpR.classicChAling {
        padding-right: 20px;
    }
    .Classic-Temp .TogglelistwidthQ100 .Radio-boxclasstmpR.classicChAling {
        padding-right: 43px;
    }
    .achiveScOre ul {
        padding-top: 25px !important;
    }
    .LERneRboxtest ul {
        font-size: 11px !important;
    }
    .learnerITEM.learnerITEMscroll{
        height:135px; 
    }
    .panel-Mult_video {
        padding-left: 185px;
    }
    .tab-content.tab-contentVideo {
        padding-right: 0px !important;
    }
    .container-fluid.cont_fluid_video {
        padding-right: 10px !important;
    }
    .GROUPpreFormancemain .AReportFlex {
		width: 200px !important;
	}
    .video_img.CMVimg {
        height: 125px;
    }
    .LEAR48 {
        font-size: 36px;
    }
    ul.SimuDET li div {
        font-size: 12px;
    }
    .LERneRboxtest.LEarbox4-5 ul {
        padding-top: 0px;
    }
    .ShoWSiM div:nth-child(2) {
        padding-top: 0px;
    }
    .DDaling1 .textwraping.dd_twrap {
        max-height: 195px;
    }
    .LEAR36 {
        font-size: 24px !important;
    }
    .LERneRboxAling ul:nth-child(2) {
        padding-top: 0px;
    }
    .LEAR40 {
        font-size: 30px !important;
    }
    .LEAR24 {
        font-size: 20px !important;
    }
    .jumbotron.jumb-white {
        margin: 15px 150px;
    }
    .widthQ100.classic-template .videoq_box {
        padding-left: 40px;
    }
    
    .widthQ100.classic-template.TogglelistwidthQ100 .videoq_box {
        padding-left: 20px;
    }

    .videoq_box .q-icon-banner.clearfix.classicQBaN {
        margin-right: 15px;
    }
    .videoq_box .q-icon-banner.clearfix.singlemcqline{
        margin-right: 15px; 
    }
    .flexheight33.questioninput .textwraping {
        max-height: 55px;
    }
    .swipeoptions .textwraping.dd_twrap {
        max-height: 195px;
    }
	.swipeoptions {
		height: 215px;
	}
    .flexQTeMPnochar .swipeoptions{
		height: 270px;
	}
    .swipingcoursal {
        padding-top: 25px;
    }
    .flexheight33.multiDBDbanner,
    .multiDBDbox.maTcHingdrop.MultiMatchRB {
        height: 215px !important;
    }
    .flexQTeMPnochar .flexheight33.multiDBDbanner,
    .flexQTeMPnochar .multiDBDbox.maTcHingdrop.MultiMatchRB {
        height: 270px !important;
    }
    .multiDBDbox {
        height: 215px !important;
    }
    .Home_text {
        padding: 20px;
    }
    .Home_text h1 {
        font-size: 28px;
    }
    .logowhite li:nth-child(2):before {
        top: 15px;
    }
    .home_header {
        padding: 10px 10px;
    }
    .btn.btn-primary {
        width: 190px;
    }
    .addsce-img .btn.btn-primary {
        margin-right: 15px;
    }
    .superadhtable.HOSTstartban li {
        font-size: 13px;
        margin-bottom: 2px;
    }
    
    .superadhtable.HOSTstartban span {
        font-size: 13px;
    }
    ul.superadhtable.manAGEYurself li {
        font-size: 15px;
    }
    .flexItem .item {
        min-height: 187px;
    }
    ul.superadhtable.manAGEYurself li {
        padding: 2px;
    }
    .noofsubtext {
        font-size: 20px;
    }
    .flexItem.carouselWraper .flextlistitem {
        padding: 5px;
    }
    .widthQ100.classic-template.educaterTemp {
        padding-left: 120px;
    }
    .item900 {
        width: 530px !important;
    }
    .admin-dashboard.Ev2 .flextlistbaner .owl-item {
        padding: 0px;
    }
    .textFlex.CAtextflex .flexLI.clientflexLI {
        font-size: 14px;
    }
    .adminT .col-sm-2 {
        padding-top: 15px;
    }
    .dashboard-box.colorBoxW {
        min-height: auto;
    }
    .dash-sub-title {
        font-size: 14px;
    }
    .flextlistitem.SIMulationT1 {
        transform: translate(0px, 30px);
    }
    .CTGroupBanneR {
        margin-top: 30px;
    }
    ul.flexLI.clientflexLI li {
        margin-bottom: 7px;
        padding-bottom: 7px;
    }
    #hosting_space {
        font-size: 20px;
    }
    .hosting_space .A24F {
        font-size: 16px;
    }
    .A24F #sdate, .A24F #edate {
        float: unset;
        padding-right: 0;
        display: block;
        text-align: center;
    }
    p.A24F {
        text-align: center;
    }
    
    .dash-msg {
        margin-top: 0px;
    }
    .dashboard-box .width70 {
        width: 35px;
    }
    .dashboard-box {
        padding: 10px 10px 10px 10px;
    }
    .adminT {
        height: calc(100vh - 365px);
        overflow: auto;
    }
    .A16F {
        font-size: 14px;
    }
    .textFlex.CAtextflex .flexLI span {
        padding-right: 0px;
    }
	.adimgbox .form-control {
		width: 300px;
	}
	#MMCQQuestion .MMCQApendOption {
		padding-right: 30px;
	}
	.temppoupMOdel .modal-dialog {
		width: 700px;
	}
	.Matchingcontainer {
		height: calc(100vh - 80px);
		margin-top: 80px;
	}

	.OPTText .modal-content {
		height: 63vh;
        overflow: hidden;
	}
	.openReSonceModel .modal-dialog {
		padding: 0 34px;
	}
	.video-js.vjs-default-skin {
		height: 41vh;
	}
	.form-control1 {
		height: 31vh;
	}
	.MMCQCheck .checkstyle {
		padding-left: 25px;
	}
	.MMCQCheck .choicebox {
		padding-left: 0px !important;
	}
	.flex33.DCbanner{
		margin-left: -10px !important;
		padding: 0 5px !important;
	}
	.text-hint-banner img {
        margin-bottom:10px;
	}
    
	.admin-dashboard.Ev2 .nav{
		padding-top: 0px;
    }
    .text-hint-banner {
        margin: 0 auto;  
    }
	.dash-sub-title{
		font-size:16px;
	}
	.dash-title{
		font-size:16px;
		line-height:15px;
	}
	.admin-dashboard.Ev2 .col.col-sm-2{
		margin:5px;
	}
	.login-form .col-md-4, .register-form .col-md-4{
		width:25%;
	}

	.loginbanner .col-md-4,
	 .registerbanner .col-md-4, .forget_pswd .col-md-4{
		width:50%
	}
    .ReviewerBanner #question_tree_menu1 img {
        width: 220px;
    }
    .ReviewerBanner .previewbox {
        padding-left: 10px;
        padding-right: 10px;
    }
    
    .previewbox video {
        width: 100%;
    }
    .login-form .col-md-4,
    .register-form .col-md-4 {
        width: 25%;
    }
    
    .loginbanner .col-md-4,
    .registerbanner .col-md-4,
	.forget_pswd .col-md-4{
        width: 49%;
    }
    .logintext {
        font-size: 35px;
    }
	.logintext.forgettext {
    font-size: 35px;
}
    .remove.minusComp {
        top: 25px;
    }
    #question_tree_menu1 img {
        width: 225px;
    }
    .plus-img-width {
        width: 225px !important;
    }
    .lernar-dashboard {
        margin-top: 90px;
    }
    .lernar-dashboard-boxes img {
        width: 65px;
    }
    .SCENARIO.seneriobox img,
    .BACKGROUND.seneriobox img,
    .ABOUT.seneriobox img {
        width: 350px;
        max-width: 100%;
        display: block;
        margin: 0 auto;
    }
    .lernar-dashboard-boxes p {
        font-size: 18px;
    }
    /* .content1 {
        top: 200px;
    } */
    ul.answerbox {
        top: 114px;
        width: 386px;
        left: 30px;
    } 
    .question {
        top: 128px;
        width: 367px;
    }
    .circle {
        position: absolute;
        top: -45px;
        right: -86px;
    }
    .iconFleft {
        margin: 14px;
    }
    .footer {
        bottom: 0px;
    }
    .logintext {
        margin-top: 0px;
    }
    .admin-dashboard {
        padding-top: 85px;
    }
    .Home_text h1 {
        font-size: 32px;
        line-height: 100%;
    }

    .main_sim .form-group {
        padding: 12px 0px 10px 10px;
        margin-left: 17px;
    }
    /* .main_sim_scroll .col-sm-9 {
        height: 580px;
    } */
    .add_comp_option {
        padding-left: 15px;
    }
    .plus_comp {
        top: 25px;
    }
    .plus_comp.plus_comp1 {
        margin-left: 0;
    }

    .ABOUT, .BACKGROUND, .OFFER, .SCENARIO {
        top: 10px;
    }
    .female {
        left: -90px;
        height: 510px !important;
    }
    .male {
        right: -110px;
        height: 510px !important;
    }
    .circle .circle1 {
        top: 197px;
        right: 460px;
    }
    .circle .circle2 {
        top: 214px;
        right: 496px;
    }
    .circle .circle3 {
        top: 234px;
        right: 528px;
    }
    .loginbtn.signbtn1.signbtn2 {
        bottom: 70px;
    }
    .dotsmenu {
        top: 50%;
    }
    .dotsmenu.dotsmenu1 {
        margin-left: 7px;
    }
    .form-group.comp-box .col-sm-1 {
        width: 65px;
        padding-left: 5px;
    }
    .question_tree_body h4 {
        padding: 10px 15px;
    }
}
/*------------------Ipad-------------*/
@media (min-width: 768px) and (max-width: 1024px){

    .flexQTeMP {
        height: 100%;
    }
    .openReSonceModel .modal-dialog {
        padding: 0 0px;
    }
    .openReSonceModel {
        padding: 20px 10px;
    }
    .videotempQus .videopatch {
        position: fixed;
        text-align: center;
        height: 100%;
        top: 50%;
        width: 100%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .videotempQus .videopatch .videoque {
        height: 100vh !important;
    }
    .videotempQus .overlay {
        position: relative !important;
    }
    .flexQTeMPnochar .flexheight33.multiDBDbanner,
    .flexQTeMPnochar .multiDBDbox.maTcHingdrop.MultiMatchRB,
    .flexQTeMPnochar .multiDBDbox {
        height: 250px !important;
    }
    .dd_twrap {
		max-height: 225px !important;
	}
    .flexQTeMPnochar .textwraping.dd_twrap {
        max-height: 225px !important;
    }
    .LEAR48 {
        font-size: 34px;
    }
    .video_img.CMVimg {
        height: auto !important;
    }
    .LEAR36 {
        font-size: 24px !important;
    }
    .revdashBoard.EducDASHboard .hometab.active {
        display: flex !important;
    }
    .revdashBoard.EducDASHboard .flexItem.flexItemsdMinDash.AutHorDahBan {
        padding: 0px 0px !important;
    }
    .flexItem.flexItemsdMinDash.AutHorDahBan.AutHorDash {
        padding: 0px 0px;
    }
    .QTbAnnEr .multiDBDbox {
        height: unset !important;
    }
    .home_page {
        background-position: center;
        background-size: cover;
    }
	.modal.educaterpopupmodl .openReSonceModel {
		width: 100%;
		padding: 50px 30px;
	}
	.Home_text {
		width: 82%;
	}
	.score span {
		font-size: 22px;
	}
	.Drag_Dropmultitext .flexheight33 {
		flex: 0 0 32%;
	}
	.flex33.DROPclassicbanner .multiDBDbox {
		flex: 0 0 22%;
	}
	.CharFlex {
		flex: unset;
		height: 260px;
	}
	.open_res,
	.linear_classic	{
		display: block !important;
        padding-top: 65px;
	}
	.openReSonceModel {
		top: unset;
		left: unset;
		right: 0;
		bottom: 0;
		width: 100%;
		padding: 20px;
		width: 100%;
	}
	.OPTText .modal-body {
		width: 100%;*
	}
	.OPTText .modal-body {
		padding-top: 15px;
	}
    .flexfeed {
        border: 0px solid #ebebeb;
    }
    .text-hint-banner {
        margin: 0 auto;
    }
    .text-hint-banner img {
		padding-top: 10px;
	}
    .flexfeed {
        padding: 0px 0px;
    }
    .row.feed {
        display: block !important;
    }
    .flexfeed.img-videobox {
        width: 90% !important;
    }
    div#myModal1 .modal-body {
        width: 100%;
    }
    .answerbullete {
        border-radius: 30px 0 0 30px;
    }
    #question_tree_menu2 img {
        width: 130px;
    }
    #question_tree_menu1 img {
        width: 220px;
    }
    .add_comp_option .form-control.control1 {
        width: 150px;
    }
    .plus_comp_option {
        padding: 0px 20px;
    }
    .main_sim .form-group {
        padding-left: 40px;
    }
    .lernar-dashboard.learner-progress-Banner .lernar-dashboard-boxes {
        height: 180px;
        display: block;
    }
    .lernar-dashboard-boxes p {
        font-size: 18px;
    }
    .lernar-dashboard-boxes img {
        width: 70px;
    }
    ul.comp-incom-progress li {
        padding-right: 0px;
        font-size: 18px;
    }
    .lernar-dashboard-boxes {
        height: auto;
        display: block;
    }
    .lernar-dashboard-boxes p {
        display: unset;
        width: auto;
        padding-right: 0px;
    }
    .comp-incomp-topbanner {
        height: 500px;
    }
    .comp-incomp-banner .col-sm-3 {
        width: 50%;
    }
    .female {
        left: -50px;
        height: 435px !important;
    }
    .male {
        right: -80px;
        height: 435px !important;
    }
    .maincardbox .col-md-3 {
        width: 50%;
        float: left;
    } 
    .col-md-3.cardbox100 {
        width: 100%;
    }
    ul.answerbox span {
        padding: 10px !important;
    }
    /* .answerbullete {
        display: none !important;
    } */
    ul.answerbox li {
        margin: 10px 0px;
        border-radius: 30px;
        width: 100%;
    }
    ul.answerbox {
        top: 114px;
        width: 310px;
        left: 20px;
    }
    .circle {
        display: none;
    }
    .footer {
        bottom: 0px;
    }
    .question {
        width: 350px;
    }
    .imgwraper2 {
        background-position: right top;
    }
   .dash-title {
        font-size: 20px;
    }
    .dash-sub-title {
        font-size: 14px;
    }
    .admin-dashboard {
        padding-top: 90px;
    }
    .btn.btn-primary {
        width: 140px;
    }
    .main_sim .previewboxbanner {
        height: unset;
        overflow: unset;
        padding-bottom: 50px;
    }
    .main_sim {
        height: 841px;
        overflow: auto;
    }
    /* .main_sim_scroll .col-sm-9 {
        overflow: unset;
        height: unset;
    } */
    .main_sim .col-sm-3 {
        width: 100%;
    }
    .main_sim .col-sm-9 {
        width: 100%;
    }
    
    .checkbox label, .radio label {
        margin-bottom: 15px;
    }
    .main_sim .form-group {
        padding: 10px 0px 10px 40px;
    }
    .add_comp_option {
        padding-left: 10px;
    }
    .question {
        top: 125px;
    }
    .main_sim_scroll .col-sm-9 {
        height: unset;
    }
    .previewbox {
        padding-top: 50px;
    }
	.Question-VidImgBanner {
		left: 50%;
	}
	.Quest {
		width: 93%;
		padding-left: 0px;
	}
	.MCQOption, .MMCQOption {
		margin: 0px auto;
		width: 93%;
		padding-left: 0px;
	}
	.textFlex.CAtextflex2 .col-sm-6 {
		width: 100%;
	}
	.flextlistitem.SIMulationT1 {
		transform: translate(0px, 20px);
	}
	.A16F {
		font-size: 12px;
	}
	.noofsubtext {
		font-size: 16px;
	}
	.AutHorDahBan .supDASHTOPtextB {
		transform: translate(0px, 35px);
	}
	.adimgbox .form-control { width: 400px; }
	.Group_managment .usermanage-add { padding: 10px 0px 10px; }
	.super-client-manag .pull-right { padding: 0px !important; }
	.super-client-manag .brandmanag-box { display: block !important; }
	.super-client-manag .brandmanagl { width: 49% !important; display: inline-block; }
	.revdashBoard .hometab.active { display: block !important; }
	.item.edu-tab1{ width: 48.5%; display: inline-block; }
	.item.edu-tab2{ width: 48.5%; display: inline-block; float: right; }
	.usermanage-form.educatorrepORT { margin-top: 0px; }
    .edu-tab3 .educatorrepORT .col-sm-6 { margin-top: 25px; }
    .Launchbtn.linnerlaunch .btn.btn-primary {
        width: auto !important;
    }
  }
/*------------------Ipad portrait-------------*/
@media (min-width: 768px) and (max-width: 1024px)and (orientation: portrait) {
    .col.flexItem30 {
        width: 100%;
        margin-left: 5px;
    }
    .col.flexItem70 {
        width: 100%;
        margin-bottom: 25px;
        padding-bottom: 15px;
    }
    .flexItem70 .col.col-sm-6 {
        width: 100%;
    }
    
    .LearnarDSHB .col.col-sm-6:first-child {
        margin-left: 0;
    }
    
    .flexItem70 .col-container {
        padding: 0px 15px;
    }
    .LearnarDSHB .col.col-sm-6 {
        margin-bottom: 10px;
    }
    .Echart.B2:first-child {
        border-bottom: 1px solid #e8e8e8;
    }
    .col-container .col-sm-6 {
        width: 48%;
    }
    .col-container {
        display: block;
    }
	.row.L-R-W20ROW .L-R-W20 {
		width: 48%;
		margin: 0px 5px;
	}
    .previewbox video {
        width: 100%;
    }
	.super-admin .adminT .col-sm-2 {
		width: 23.666667%;
	}	
	.admin-dashboard.Ev2 .col.col-sm-2 {
		width: 45%;
		min-height: 233px;
	}
    .flexMain {
        display: block;
        flex-wrap: unset;
    }
    .flexItem.flexItem70 {
        width: 100%;
    }
    .flexItem.flexItem30 {
        width: 100%;
        padding:0px 0px;
    }
    .dashboard-box {
     min-height: auto;
    }
    .colorBoxRight.dashboardBox {
        margin: 0px 0px;
    }
    .plus_comp {
        top: 25px;
    }
    .remove.minusComp {
        top: 25px;
    }
    .Home_text h1 {
        font-size: 30px;
        line-height: 30px;
    }
    .Home_text h3 {
        font-size: 26px;
        margin-top: -10px;
    }
    .main_sim .form-control {
        width: 105px;
    }
    .labelbox label {
        width: 95px;
    }
    .add_comp_option .form-group {
        padding-left: 25px;
    }
    .labelbox label {
        top: 12px;
    }
    .add_comp_option .form-control.control1{
        width: 250px;
    }
    .ABOUT, .BACKGROUND, .OFFER, .SCENARIO {
        width: 660px;
    }
    .buttonbox button {
        padding: 10px 35px;
    }
	.green.col-sm-4, .blue.col-sm-4 {
		width: 50%
	}
	.DropboxE2 .col-sm-4 {
		width: 50%;
	}
	.admin-dashboard.Ev2.super-adminE2 .flexItem.flexItemsdMinDash {
		margin-bottom: 0px;
	}
	.admin-dashboard.Ev2.super-adminE2 .tab-content {
		padding-right: 0px;
	}
	.admin-dashboard.Ev2 .adminT .col-sm-2 {
		width: 25%;
	}
	.admin-dashboard.Ev2 .adminT .col-sm-4 {
		width: 26.333333%;
	}
	.CTGroup, .CTGroupNo { font-size: 16px; }
	.CTUser, .CTUserNo { font-size: 25px; }
	.A24F #sdate, .A24F #edate { float: none; padding-right: 0px; }
	.A24F { text-align: center; }
}
/*------------------Ipad landscape-------------*/
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape){
	.row.L-R-W20ROW .L-R-W20 {
		width: 23%;
		margin: 0px 8px;
	}
    .previewbox h3 {
        grid-template-columns: grid-template-columns;
        grid-column: 1 / 3;
    }
    .main_sim {
        height: 580px;
    }
    .main_sim .form-group {
        padding: 10px;
    }
    .buttonbox {
        bottom: 10px;
    }
    .previewbox {
        display: grid;
        grid-template-columns: auto auto;
    }
  }
@media only screen and (max-width: 1200px) {
    ul.SimuDET li div {
        font-size: 12px;
    }
    ul.achiveScOre li {
        padding: 10px;
    }
    ul.achiveScOre {
        display: unset;
    }
    ul.achiveScOre li div:first-child {
        font-size: 30px;
    }
    .admin-dashboard.Ev2 .flextlistbaner .owl-item {
        padding: 0px !important;
    }   
    .flexItem.flexItemsdMinDash.admiNDASH {
        padding: 0px 15px;
    }
    .flexItem.flexItemsdMinDash.AutHorDahBan {
        padding: 0px 15px;
    }
    .container-fuild.linearassestBG {
        margin-top: 20px;
    }
}

@media only screen and (max-width:1450px) {
    .Graphscore div {
        width: 40px;
    }
    .otherscore2 {
        top: -30px;
    }
    .S_two {
        top: 40px;
    }    
    .S_three {
        top: 50px;
    }
    #job_readiness {
        top: 60%;
    }
    .LEARavatime ul:nth-child(2) {
        padding-top: 10px !important;
    }
    .otherscore3 {
        top: 14px;
    }
    .otherscore1 {
        top: 5px;
    } 
}
@media only screen and (max-width:920px) {
    .ltopselecton {
        width: 250px;
    }
}
@media only screen and (max-width: 1290px) {
    .plus_comp_option {
        width: 90%;
    }
}
@media only screen and (max-width: 1550px) {
    .plus_comp_option.linaer .remove.minusComp {
        right: 0 !important;
    }
    .plus_comp, .remove.minusComp {
        right: 0;
    }
}