@media (min-width:320px) and (max-width: 767px) {
	.score :last-child {
		border-bottom: none;
	}
	.imageWraper{
		margin-top:45px;
		height:calc(100vh - 56px)
	}
	.ViewSenario .modal-dialog.vertical-align-center{
		padding:0;
	}
	.ViewSenario .container{
		padding:0;
	}
	span.viewS-close {
		top: 15px;
		right: 15px;
		color:#fff;
	}
	.viewS-close .st0{
		fill: #fff;
	}
	.ViewSenario .L-P-explain-D{
		height:55vh;
	}
	.timer-pause {
		font-size: 32px !important;;
	}
	.tabs-left {
	  border-bottom: none;
	  height: unset;
	  background: #1185bb;
	}
	.tabs-left>li{
	  border-bottom: unset;
	}
	.yellow1{
		left:0;
	}
	.time-banner-box{
		top: 58px;
		bottom:unset;
		left: 15px;
	}
	.V_S-tetail img{
		width: 23px;
		margin-right: 2px;
	}
	.timer-banner {
		top: 55px;
		bottom:unset;
	}

	span.L-V-Report img {
		width: 14px !important;
	}

	.tabs-left>li{
		display:inline-block;
		border-left:none;
	}
	.Intro-L-P .nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{
		border-left:none;
		border-top: 4px solid #60bb46;
	}
	
	.Intro-L-P {
		padding-top: 15px;
		padding-left: 15px;
		padding-right: 15px;
	}
	.tabs-left>li>a{
		font-size:12px;
	}
	.L-P-explain-D {
		background: #fff;
		height: 57vh;
		overflow: scroll;
		overflow-x:hidden;
	}
	.Intro-L-P .nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{
		border-left: 0px solid #60bb46;
	}
	.cardbox{
		min-height:auto;
	}


	.L-V-Report-img {
		width: 80px !important;
	}	
	.imgwraper1, .imgwraper2, answer, ul.answerbox.answerbox1{
		position:unset;
	}
	.modal.fade.in{
		top:80px;
	}
	.lernar-dashboard-boxes span {
        font-size: 30px;
    }
	.display_LP {
    display: none;
	}
	.admin-report .form-control{
		width: 100%;
		max-width:100%;
		float: none;
	}
	form#report_form,
	div#print_data{
		margin-top: 60px;
	}
	.fail-text,
	.pass-text {
		font-size: 35px;
	}
	.score .col-sm-3, .score .col-sm-6 {
		border-right: none;
		border-bottom: 1px solid #e2e2e2;
		margin-bottom:20px;
	}
	.score span{
		font-size:30px;
	}
	.score {
		display: block;
	}
	.L-R-W20 {
		width: 100%;
		float: none;
		padding: unset;
	}
	.admin-report .form-control{
		margin-top: 20px;
		}
		

	.score p{
		margin-top: 10px;
	}

	.display_LP{
			display:none;
		}
		.display_MB{
			display:inline-block;
		}
		h3{
		font-size:20px;
		}
		.S_R_text {
		display: inline-block;
		padding-left: 15px;
	}

	.S_R-icon {
		display: inline-block;
		float: right;
		padding-right: 15px;
	}

	.S_R-icon .svg {
		width: 35px;
		height: 35px;
	}

	.menuToggle {
		padding-right: 10px;
	}
	.comp-incomp p {
        font-size: 50px !important;
    }
    .plus_comp {
        display: inline-block;
        position: relative;
        right: unset;
        top: unset;
        padding-bottom: 10px;
        padding-left: 40px;
    }
	.lernar-dashboard-boxes span {
        font-size: 30px;
    }
    .remove.minusComp {
        left: unset;
        right: 0;
        top: unset;
        position: relative;
        flex: unset;
        padding-bottom: 10px;
        padding-left: 40px;
    }
    .previewbox video {
        width: 100%;
    }
    .previewbox {
        padding-left: 10px;
        padding-right: 10px;
    }
    .previewbox h3 {
        font-size: 12px;
    }
    .lernar-dashboard-boxes p {
        font-size: 14px;
    }
    .lernar-dashboard-boxes img {
        width: 60px;
    }
    .video_img {
        height: auto;
    }
    .imageWraper .modal-dialog {
        width: 90%;
    }
    .body{
        background-image: url('../img/mobile_bg.png');
        height: 100vh;
        width: 100%;
        background-size: cover;
    }
    .lernar-dashboard .row {
        margin-right: 0px;
        margin-left: 0px;
    }
    .comp-incomp-topbanner {
        height: 100%;
        padding-bottom: 10px;
    }
      .answerbullete{
        display: table-header-group;
        border-radius: 10px 0 0 10px;
    }
	.question.questionbox1 {
		border-radius: 0px 0px 8px 8px;
	}

	.report_page.comp-incomp-topbanner.report_page_main.Authoreport-box{
		min-height:auto !important;
	}
    .lernar-dashboard {
        margin-top: 80px;
    }
	.lernar-dashboard.learner-progress-Banner.learner_dashboard{
		margin-top:5px !important;
	}
    .comp-incomp-header.col-sm-12 h3 {
        font-size: 16px;
    }
    img.thumb {
        width: 60px;
    }
    ul.comp-incom-progress li {
        display: inline-block;
        padding-right: 0px;
        font-size: 14px;
    }
    ul.comp-incom-progress li span {
        height: 25px;
        width: 25px;
        margin-right: 10px;
    }
    .comp-incomp-banner {
        padding-left: 10px;
        padding-right: 10px;
    }
    .lernar-dashboard-boxes p {
        padding-right: 0px;
    }
    .lernar-dashboard-boxes {
        padding: 15px 22px;
        height: auto;
    }
    .comp-incomp {
        margin-bottom: 30px;
    }
    .cardbox {
        width: 100%;
        margin: 0;
        margin-bottom: 20px;
    }
    .cardbox .imgbox100 {
        width: 100%;
        position: relative;
    }    
    .gridcard100 {
        width: 100%;
        padding: unset;
    }
    .tial, .tial100{
        display: none;
    }
    .imgwraper1, .imgwraper2 {
        background: none;
        width: 100%;
        height: auto;
        float: none;
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 20px;
    }
	.mobileview_char{
		display:none;
	}
    .mobileview_char.Ipad{
        width: 60px;
        height: 60px;
        border-radius: 50%;
        background: #c9c9c9;
        position: absolute;
        right: 0;
        overflow: hidden;
        margin-right: 0px;
		display:block;
    }
    .female {
        position: relative;
        height: 151px !important;
        bottom: unset;
        left: unset;
        margin-left: -38px;
        margin-top: 0px;
    }
    .mobileview_char.char1.Ipad {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        background: #c9c9c9;
        position: absolute;
        left: 0;
        overflow: hidden;
        margin-left: 0px;
        margin-top: 35px;
		display:block;
    }
    .male{
        position: relative;
        height: 151px !important;
        bottom: unset;
        left: unset;
        margin-left: -88px;
        margin-top: 0px;
    }
    .question {
        position: relative;
        top: unset;
        right: unset;
        border-radius: 8px;
        border: 1px solid #959595;
        margin-right: 15px;
        width: 95%;
		-webkit-animation-name: animatebottom !important;
		-webkit-animation-duration:0.5s;
		animation-name: animatebottom !important;
		animation-duration: 0.5s;
    }
    .circle {
        display: none;
    }
    ul.answerbox {
        position: relative;
        top: unset;
        left: unset;
        width: 100%;
        padding-left: 60px;
        margin-top: 35px;
        margin-bottom: 35px;
    }
    .loginbtn.signbtn1.signbtn2 {
        position: relative;
        bottom: unset; 
    }
    ul.answerbox li {
        width: 100%;
    }
    .questionbox {
        padding-right: 50px;
        padding-bottom: 10px;
		
    }
    ul.answerbox li{
        margin: 10px 0px;
        border-radius: 8px;
        display: table;
    }
    ul.answerbox span {
        padding: 10px !important;
    }
    .imageWraper {
        /* margin-top: 80px; */
        /* padding: 20px; */
        padding-top: 120px;
    }
    .learnar-banner img {
        width: 20px;
    }
    .learnar-banner {
        padding-left: 15px;
        padding-right: 15px;
    }
    .male_circle{
        z-index: 9;
        display: block;
        position: absolute;
    }
    .female_circle {
        display: block;
        position: absolute;
        right: -10px;
        bottom: 3px;
    }
    img.female_circle{
        max-width: 100%;
        width: 45px;
        right: 0px
    }
    img.male_circle {
        max-width: 100%;
        width: 45px;
        left: 0;
        top: 5px;
    }
    .footer {
        background-color: transparent;
    }
    .iconFleft img {
        width: 45px;
    }
    .customer_text {
        width: 100%;
    }
    .progressfright {
        width: 80%;
    }
    progress[value] {
        width: 90%;
    }
    .footer {
        background-color: #fff;
        padding: 5px 12px;
    }
    .customer_textL {
		display: none;  
    }
    .customer_textR {
		display: none;  
    }
    .logo-brand img {
        width: 90px;
    }
    .menuToggle img {
        width: 62px;
    }
    .footertext {
        font-size: 9px;
    }
    .dashboard-box {
        width: 290px;
        height: auto;
        margin: 0px auto 20px;
        max-width: 100%;
    }
    .bottomheader {
        margin-top: 50px;
        height: 56px;
    }
    .admin-dashboard {
        margin-top: 90px;
    }
    .dash-title {
        font-size: 20px;
    }
    .dash-sub-title {
        font-size: 14px;
    }
    .btn.btn-primary {
  	  width: auto;
 	  padding: 0px 45px;
    }
    .col-sm-3.browsebtn {
        width: 50%;
        float: left;
        max-width: 100%;
        margin-bottom: 10px;
    }
	.nav>li>a:focus, .nav>li>a:hover{
		border-left:unset;
	}
    .header {
        padding: 0px 0px;
    }
	.headergray {
		top: 0px;
		left: 0px;
	}
   .usermanage-form {
        padding: 15px 15px 15px;
    }
    .breadcrumb {
        padding: 18px 0px;
    }
    .menu {
        width: 100%;
        border-radius: 0;
        box-shadow: 0 1px 20px rgba(0, 0, 0, 0.15);
        top: 49px;
        right: 0;
        height: 100%;
        position: fixed;
        overflow: auto;
        padding-bottom: 50px;
		z-index: 2;
    }
    ul.dropdownmenu li a {
        padding: 12px 21px;
    }
   .menu:after {
	display:none;
   }
    .header .userprofile{
        display: none;
    }
    .dropdownmenu li:first-child {
        border-bottom: 1px solid #ccc;
        padding: 10px 0;
        display: block;
    }
    .dropdownmenu .menuToggle {
        float: none;
        padding: 0px 20px;
    }
    .menuToggle .toggleIcon {
        top: 8px;
    }
    button.multiselect.dropdown-toggle.btn.btn-default {
        margin-bottom: 15px;
    }
	ul.shortright li:last-child {
   	 padding-top: 0px;
}
    .Home_text {
        position: relative;
    }
    .Home_text {
        width: 100%;
        right: 0;
        left: 0;
        top: 0px;
        margin-bottom: 7px;
    }
    .home_page:after {
        content: "";
        width: 100%;
        height: 100%;
        display: block;
        background-color: black;
        opacity: 0.2;
        position: absolute;
        top: 0;
        z-index: -1;
    }
    .home_header {
		padding: 7px 12px 0px;
		position: fixed;
		width: 100%;
		z-index: 1;
		margin-top: 15px;
		margin-left: 17%;
	}

	.yellow {
		width: 100%;
	}
    .regbtn button {
        padding: 8px 10px !important;
    }
    .regbtn img {
        width: 15px;
        margin-right: 8px;
    }
    .Home_text h1 {
        font-size: 20px;
        line-height: 30px;
    }
    .Home_text h3 {
        font-size: 20px;
    }
    .Home_text .Create {
        font-size: 14px;
    }
    .Home_text h3 {
        margin-top: -12px;
    }
    .home_page {
		background-image: url('../../img/homeimg_mobile.jpg');
        background-position: left;
        overflow: auto;
    }
    .flexMain {
        display: block;
        flex-wrap: unset;
    }
    .flexItem.flexItem70, .flexItem.flexItem30 {
        width: auto;
    }
	.admin_dashboard_flex70 {
		width: 100% !important;
		text-align: center;
	}	
    .dashboard-box {
        min-height: auto;
    }
    .usermanage-form1 .pull-right {
        float: none !important;
        text-align: center;
    }
	.flexgrid {
		width: 98%;
	}
	.admin_dashboard_flex30 .colorBoxRight.dashboardBox {
		margin-right: -30px !important;
		margin-left: 20px !important;
	}
    .flexItem.flexItem30 {
        padding: 0px 0px;
		width: 100%;
    }
	.admin_dashboard_flex30 {
		width: 89% !important;
	}
    .menuToggle span {
        color: #2c3545;
    }
    .Home_text p {
        font-size: 12px;
    }
    .logowhite img {
        width: 100px;
    }
    .usermanage-add button {
        float: none;
    }
    .usermanage-add {   
        padding: 0;
        padding-bottom: 20px;
        text-align: center;
    } 
    .browsebtn button {
        width: 100% !important;
    } 
    .usermanage-add .btn.btn-primary {
        float: none !important;
    }
    .logintext {
        font-size: 50px;
        margin-top: 38px;
    }
    .register-form, .login-form {
        /* margin-bottom: 40px; */
    }
    .main_sim .form-group {
        padding: 12px 35px 0px;
        display: flex;
    }
    .labelbox label {
        display: block;
        margin-bottom: unset;
        width: unset;
        position: unset;
        top: unset;
    }
    .main_sim .form-control {
        border-radius: 0;
        height: unset;
        background: #fff;
        box-shadow: unset;
        color: unset;
        font-style: unset;
        width: 100%;
        float: none;
    }
    .add_comp_option {
        position: relative;
        width: 100%;
        display: block;
        border-bottom: 1px solid #dbdbdb;
    }
    .Simulation_det h3 {
        font-size: 12px;
    }
    .breadcrumb>li {
        font-size: 10px;
    }
    .ABOUT, .BACKGROUND, .OFFER, .SCENARIO {
        width: 100%;
        position: relative;
        top: 0px;
        margin-bottom: 30px;
    }
	.tab-content{
		padding-left:0px;
	}
	.L-Launch button.loginbtn.signbtn4 {
      padding: 5px 40px;
      font-size: 16px;
      font-weight: bold;
	}
	.L-banner {
		height: 55px;
		margin-top: 0;
	}
	.logowhite li:last-child:before {
		height: 34px;
		top: 4px;
	}
    .imageWraper {
        overflow: auto;
		display:block;
    }
    .modeltop{
        top:50% !important;
    }
	.home_header .regbtn {
		float: right;
		display: none;
	}
	.Home_text_div{
		margin-top: 207px;
	}
    .Home_text {
		background: white;
		padding: 15px;
		opacity: 0.8;
    }
    .logintext.forgettext {
		font-size: 47px;
		margin-top: 44px;
	}
	.logo-brand {
		padding-left:10px;
		width: 71%;
	}
	.item {
		padding: 0px 15px;
	}
	.vertical_line {
		height: 17px;
	}
	.regbtn_mobile {
		display:flex;
	}
	.home_page .container .row {
		margin-right: 0px;
		margin-left: 0px;
	}
	.admin_dashboard_flex70 .row .col-sm-4 {
		display: inline-flex;
	}
	.learner-head {
		padding-left: 0px;
	}
	.profile-detail-box1 .col-sm-6 {
		width: 100%;
		height: 110px;
		margin-bottom: 10px;
	}
	.profile-detail-box1 {
		margin-bottom: 15px;
	}
	.profile-detail-box1 h2 {
		padding-top: 10px;
	}
	.profile-detail-box1 .col-sm-3 {
		width: 49%;
		display: inline-block;
		padding-left: 0px;
	}
	.dashboard-box1 {
		width: 100%;
	}
	.catagory {
		padding-right: 0px !important;
		margin-bottom: 10px;
	}
	.flexItem.flexItem100 {
		margin-bottom: 15px;
	}
	.Learner_dashboard_flexItem30 .colorBoxRight.dashboardBox {
		width: 100%;
	}
	
}
@media (min-width:320px) and (max-width: 767px)and (orientation: landscape) {  
    .dashboard-box {
        margin: 8px;
        float: right;
        min-height: auto;
    }
    .flexItem.flexItem30 {
        padding: 0px 0px;
    }
    .Home_text {
        width: 63%;
    }
    .logintext {
        margin-top: 56px;
    }
    .logintext {
        font-size: 45px;
    }
    .login-form .col-md-4,
    .register-form .col-md-4{
        padding: 0 80px;
    }
    .buttonbox button {
        padding: 10px 20px;
        font-size: 16px;
    }
    .buttonbox {
        bottom: 20px;
        position: relative;
    }
    .maincardbox {
        padding: 0px 80px;
    }
    .seneriobanner {
        height: auto;
    }
    .colorBoxRight.dashboardBox {
        margin: 0px 10px;
    }
    ul.answerbox li {
        width: 100%;
    }
	.flexMain {
		display: grid;
	}
	.learner-dashbord-box .dashboard-banner .dashboard-box1 {
		width: 98%;
		margin-bottom: 0px;
	}
	.flexItem100 .col-md-6 {
		width: 98%;
		margin-left: 5px;
	}
	.Learner_dashboard_flexItem30 .colorBoxRight.dashboardBox {
		margin: 0px 0px;
	}
}
@media (max-width:480px) {
    .tableheader_right {
        float: none;
        color: #fff;
        width: 100%;
        margin-top: 9px;
    }
    .tableheader_left {
        float: none;
        color: #fff;
        width: 100%;
    }
    .buttonbox button {
        padding: 10px 25px;
        font-size: 14px;
        margin: 0px 3px 12px;
        width: 45%;
    }
    .buttonbox {
        bottom: 20px;
    }
    .colorBoxRight.dashboardBox {
        margin: unset;
        width: 290px;
        margin: 0 auto;
    }
    ul.shortright li {
        padding-left: unset;
        padding-right: unset;
    }
}
@media (min-width: 768px) {
	.modal-dialog {
	width: 772px;
	margin: 30px auto;
	}
	.answerbox .modal:before {
      display: inline-block;
      vertical-align: middle;
      content: " ";
      height: 100%;
    }
    .answerbox .modal-dialog {
        width: 450px !important;
    }
}
@media (max-width: 1359px){
	.circle{
		display:none;
	}
}
@media (min-width: 1024px) and (max-width: 1450px) {	
	span.viewS-close {           /*update*/
		top: 20px;
		right: 20px;
	}
	.imageWraper {
		overflow:auto;
	}
	.ViewSenario .L-P-explain-D{    /*add*/
		height:77vh;
	}
	.ViewSenario .tabs-left{     /*add*/
		height:77vh;
	}
	.ViewSenario .Intro-L-P{         /*add*/
		padding:0px 0px;
	}
	.tabs-left{
		height:55vh;
	}
	.Intro-L-P {
		padding: 75px 38px;
	}
	.L-P-explain-D {
		height: 46vh;
	}
	
	.fail-text,
	.pass-text {
		font-size: 45px;
	}
	.score {
		margin-top: 0px;
	}
	.score span {
		font-size: 45px;
	}										
	.ReviewerBanner .main_sim .form-group {
		padding: 15px 10px 10px 30px;
	}
	.ReviewerBanner label.branching-text {
		width: 135px;
	}
	.ReviewerBanner .question_tree_menu {
        height: calc(100vh - 128px);
    }
	.question_tree_menu {
		height: calc(100% - 177px);
	}
	form#add_sim_linear_details_form {
		height: 0px;
		/*overflow: hidden;*/
	}
	.main_sim.question_tree_menu {
		width: calc(100% - 56px);
		overflow:hidden;
	}
	.main_sim .previewboxbanner {
		height: calc(100vh - 190px);
	}
	.sim-side-menu{
		height: calc(100vh - 140px);
	}
	.ReviewerBanner {
		height: calc(100vh - 130px);
	}
    .addcommentbanner {
        height: 380px;
    }
    .ReviewerBanner #question_tree_menu1 img {
        width: 220px;
    }
    .plus_comp_option {
        width: 100%;
    }
	.plus_comp_option.linaer {
        width: 85%;
    }
	.add_comp_option.comp-width{
		width:85%;
	}
    .ReviewerBanner .previewbox {
        padding-left: 10px;
        padding-right: 10px;
    }
    .previewbox video {
        width: 100%;
    }
    .login-form .col-md-4,
    .register-form .col-md-4 {
        width: 25%;
    }   
    .loginbanner .col-md-4,
    .registerbanner .col-md-4,
	.forget_pswd .col-md-4 {
        width: 50%;
    }	
    .logintext {
        font-size: 50px;
    }
     .Home_text {
        top: 230px;
    }
    .remove.minusComp {
        top: 25px;
    }
	.comp-incomp p {
	font-size: 50px;
}
    #question_tree_menu1 img {
        width: 225px;
    }
    .plus-img-width {
        width: 225px !important;
    }
    .lernar-dashboard {
        margin-top: 50px;
    }
	.lernar-dashboard-boxes img {
        width: 65px;
    }
    .SCENARIO.seneriobox img,
    .BACKGROUND.seneriobox img,
    .ABOUT.seneriobox img {
        width: 350px;
        max-width: 100%;
        display: block;
        margin: 0 auto;
    }
    .lernar-dashboard-boxes p {
        font-size: 18px;
    }
    /* .content1 {
        top: 200px;
    } */
	
	 .circle {            /* ---------------add */
		position: relative;
		margin-top: -22px;
	}
    ul.answerbox {   /* ---------------update */
        top: 80px;
 
    } 
    .question {     /* ---------------update */
        top: 90px;
    }
    .iconFleft {
        margin: 14px;
    }
    .footer {
        bottom: 0px;
    }
    .logintext {
        margin-top: 60px;
    }
    .admin-dashboard {
        margin-top: 96px;
    }
    .Home_text h1 {
        font-size: 32px;
        line-height: 100%;
    }
    .main_sim .form-group {
        padding: 12px 0px 10px 10px;
        margin-left: 17px;
    }
    .add_comp_option {
        padding-left: 15px;
    }
    .plus_comp {
        margin-left: 60px;
        top: 25px;
    }
    .plus_comp.plus_comp1 {
        margin-left: 0;
    }
    .female {
        left: -90px;
        height: 510px !important;
    }
    .male {
        right: -50px;  /* -----------update */
        height: 510px !important;
    }
    .circle .circle1 {
        top: 140px;
        left: 330px;
    }
    .circle .circle2 {
        top: 165px;
        left: 300px;
    }
    .circle .circle3 {
        top: 190px;
        left: 275px;
    }
    .loginbtn.signbtn1.signbtn2 {
        bottom: 70px;
    }
    .dotsmenu {
        top: 50%;
		margin-left:3px;
    }
    .dotsmenu.dotsmenu1 {
        margin-left: -3px;
    }
    .form-group.comp-box .col-sm-1 {
        width: 65px;
        padding-left: 5px;
    }
    .question_tree_body h4 {
        padding: 10px 15px;
    }
	.report_page .col-sm-6 .lernar-dashboard-boxes span {
		margin-right: 10px;
		color: #FFF;
		font-size: 31px;
	}
	.report_page .col-sm-6 .lernar-dashboard-boxes p {
		font-size: 15px;
	}
	.main_sim label {
		position: initial;
	}
	.labelbox label {
		display: inline-block;
		width: 50%;
	}
}
@media (min-width: 768px) and (max-width: 1024px) {
	.ViewSenario .L-P-explain-D{
		height: 80vh;
	}

	.questionbox{
		padding-right: 200px;
	}
	.imgwraper2 {
		margin-top: 120px;
	}
	.mobileview_char {
		display: none;
	}
	 .mobileview_char.Ipad{
        width: 125px;
        height: 125px;
        border-radius: 50%;
        background: #c9c9c9;
        position: absolute;
        right: 0;
        overflow: hidden;
        margin-right: 15px;
		display:block;
    }
    .female {
        position: relative;
        height: 151px !important;
        bottom: unset;
        left: unset;
        margin-left: -38px;
        margin-top: 0px;
    }
    .mobileview_char.char1.Ipad{
        width: 125px;
        height: 125px;
        border-radius: 50%;
        background: #c9c9c9;
        position: absolute;
        left: 0;
        overflow: hidden;
        margin-left: 15px;
        margin-top: 0px;
		display:block;
    }
    .male{
        position: relative;
        height: 151px !important;
        bottom: unset;
        left: unset;
        margin-left: -88px;
        margin-top: 0px;
    }
   
	
	
	
	
	
	.mobileview_char{
		flex-basis:unset;
	}
	.fail-text,
.pass-text {
    font-size: 30px;
}
.score span {
    font-size: 22px;
}

	.comp-incomp p {
        font-size: 70px;
    }
    .answerbullete {
        border-radius: 30px 0 0 30px;
    }
    #question_tree_menu2 img {
        width: 130px;
    }
    #question_tree_menu1 img {
        width: 220px;
    }
    .add_comp_option .form-control.control1 {
        width: 150px;
    }
    .plus_comp_option {
        padding: 0px 20px;
    }
    .main_sim .form-group {
        padding-left: 40px;
    }
	.lernar-dashboard-boxes span {
        font-size: 30px;
    }
    .lernar-dashboard.learner-progress-Banner .lernar-dashboard-boxes {
        height: 180px;
        display: block;
    }
    .lernar-dashboard-boxes p {
        font-size: 18px;
    }
    .lernar-dashboard-boxes img {
        width: 70px;
    }
    ul.comp-incom-progress li {
        padding-right: 0px;
        font-size: 18px;
    }
    .lernar-dashboard-boxes {
        height: auto;
        display: block;
    }
    .lernar-dashboard-boxes p {
        display: unset;
        width: auto;
        padding-right: 0px;
    }
    .comp-incomp-topbanner {
        height: 470px;
    }
   .comp-incomp-banner .col-sm-3 {
        width: 50%;
    }
    .female {
        left: 0px;
        height: 200px !important;
    }
    .male {
        right: 0px;
        height: 200px !important;
    }
    .maincardbox .col-md-3 {
        width: 50%;
        float: left;
    } 
    .col-md-3.cardbox100 {
        width: 100%;
    }
    ul.answerbox span {
        padding: 10px !important;
    }
    /* .answerbullete {
        display: none !important;
    } */
    ul.answerbox li {
        margin: 10px 0px;
        border-radius: 30px;
        width: 100%;
    }
    ul.answerbox {
        width: 100%;
		position:relative;
		top:unset;
		padding-left:200px;
    }
    .circle {
        display: none;
    }
    .footer {
        bottom: 0px;
    }
    .question {
        width: 100%;
		position:relative;
		top:unset;
    }
	
	.imageWraper {
		display: block;
		overflow-y:auto;
	}
	.imgwraper1{
		margin-top:100px;
		
	}
    .imgwraper1,
	.imgwraper2{
        height:auto;
		width: 100%;
		flex:unset;
    }
   .dash-title {
        font-size: 20px;
    }
    .dash-sub-title {
        font-size: 14px;
    }
    .admin-dashboard {
        margin-top: 100px;
    }
    .btn.btn-primary {
        width: 140px;
    }
    .main_sim .previewboxbanner {
        height: unset;
        overflow: unset;
        padding-bottom: 50px;
    }
    .main_sim {
        height: 841px;
        overflow: auto;
    }
    .main_sim .col-sm-3 {
        width: 100%;
    }
    .main_sim .col-sm-9 {
        width: 100%;
    }
    .checkbox label, .radio label {
        margin-bottom: 15px;
    }
    .main_sim .form-group {
        padding: 10px 0px 10px 40px;
    }
    .add_comp_option {
        padding-left: 10px;
    }
    .main_sim_scroll .col-sm-9 {
        height: unset;
    }
    .previewbox {
        padding-top: 50px;
    }
	
	
	
	
	.logo-brand {
		float: left;
		width: 50%;
	}
	.flexItem100 .catagory {
		padding-right: 0px !important;
	}
	.flexItem.flexItem100 {
		width: 100%;
	}

}
@media (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
	.viewS-close .st0{
		fill: #fff;
	}
	span.viewS-close {
		top: 8px;
		right: 45px;
		color: #fff;
	}

	.Intro-L-P .col-sm-10 .L-P-explain-D, .Intro-L-P .col-sm-2{
		width:100%
	}
	.Intro-L-P {
		padding: 0px;
		padding-right:30px;
	}
	.L-banner {
		width: 100%;
	}
	.tabs-left>li{
	  border-bottom: unset;
	  display: inline-block;
	}
	.tabs-left {
	  border-bottom: none;
	  height: unset;
	}

	.Intro-L-P .nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{
		border-left: unset;
		border-top: 4px solid #60bb46;
	}
	.L-P-explain-D{
		width:100%;
	}

    .previewbox video {
        width: 100%;
    }
    .flexMain {
        display: block;
        flex-wrap: unset;
    }
    .flexItem.flexItem70 {
        width: 100% !important;
    }
    .flexItem.flexItem30 {
        width: 100%;
        padding:0px 0px;
    }
    .dashboard-box {
     min-height: auto;
    }
    .colorBoxRight.dashboardBox {
        margin: 0px 0px;
    }
    .plus_comp {
        top: 25px;
    }
    .remove.minusComp {
        top: 25px;
    }
    .home_page {
        background-position: center right -443px;
    }
    .Home_text {
        width: 415px;
		top: 221px;
    }
    .Home_text h1 {
        font-size: 30px;
        line-height: 30px;
    }
    .Home_text h3 {
        font-size: 26px;
        margin-top: -10px;
    }
    .main_sim .form-control {
        width: 105px;
    }
    .labelbox label {
        width: 95px;
    }
    .add_comp_option .form-group {
        padding-left: 25px;
    }
    .labelbox label {
        top: 12px;
    }
    .add_comp_option .form-control.control1{
        width: 250px;
    }
    .buttonbox button {
        padding: 10px 35px;
    }
	.flexItem.flexItem30 {
		width: 100% !important;
		padding: 0px 0px;
	}
	.admin_dashboard_flex30 .colorBoxRight.dashboardBox {
		margin-right: 0px;
		margin-left: 0px;
	}		
	.learner-head {
		padding-left: 5px;
	}
	.flexItem.flexItem100 {
		margin-bottom: 15px;
	}
	.flexItem100 .catagory {
		margin-bottom: 15px;
	}
}
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape){
	span.viewS-close {
		top: 15px;
		right: 15px;
		color: black;
	}
    .previewbox h3 {
        grid-template-columns: grid-template-columns;
        grid-column: 1 / 3;
    }
    .main_sim {
        height: 580px;
    }
    .main_sim .form-group {

        padding: 10px;
    }
    .buttonbox {
        bottom: 10px;
    }
    .previewbox {
        display: grid;
        grid-template-columns: auto auto;
    }	
	.learner-head {
		padding-left: 0px;
	}
	.flexItem100 .col-md-6 {
		width: 48.8%;
	}
	.flexItem100 .catagory {
		padding-right: 0px !important;
		margin-right: 15px;
	}
	
}