@font-face {
	font-family: 'segoeUI';
    src: url('../font/seguisb.ttf');
}
@font-face {
	font-family: 'segoe UI';
    src: url('../font/Segoe _UI _Bold.ttf');
}
html, body {
    height: unset !important;
}
body{
	color: #455a64;
	font-size: 14px;
	font-family:  'segoeUI';      
}
h1,h2,h3,h4,h5,h6 { 
	font-family: 'segoe UI'; 
}
p { 
	font-family: 'segoeUI' !important; 
}
ul,ol{
    padding: 0;
    margin: 0;
    list-style: none;
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
    body {
        font-family:'segoeUI' !important;
    }
    .Home_text h1 {
        font-family:'segoeUI' !important;
    }   
}
.header {
    top:0;
	position: fixed;
	width: 100%;
	z-index: 9;
    padding: 9px 0px;
	background-color:#2c3545; 
}
a:hover{
    text-decoration: none;
}
.logo-brand {
    float: left;
}
.menuToggle {
    float: right;
    cursor: pointer;
}
/* menu appearance*/
.menu {
  position: fixed;
  color: #455a64;
  width: 200px;
  text-align: left;
  border-radius: 4px;
  background: #ffffff;
  box-shadow: 0 1px 20px rgba(0, 0, 0, 0.15);
  z-index: 99;
  top:70px;
  right:10px;  
  display:none; 
}

.menu:after {
    position: absolute;
    top: -20px;
    right: 10px;
    content: "";
    display: block;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 20px solid white;
}
ul.dropdownmenu li {
    display: block;
}
.maincardbox .col-md-3 {
    padding-left: 30px;
    padding-right: 30px;
}
ul.dropdownmenu li a {
    padding: 10px 12px;
    display: block;
    color: #455a64;
    text-decoration: none;
    position: relative;
    border-bottom: 1px solid #e7e7e7;
}

ul.dropdownmenu li a .fa {
    position: absolute;
    right: 12px;
    top: 10px;
	color: #73cdd6;
}

ul.dropdownmenu li:last-child a {
    border-bottom: 0;
}



.bottomheader{
    border-bottom: 1px solid #bbbbbb;
    margin-top: 68px;
    box-shadow: 0 1px 0px 0px #fff;
    background-color: #fff;
    height: 50px;
    
}

.headerline{
    border-bottom: 1px solid #eeeeee;
    margin-top:3px;
}
.bottomheader .container {
    position: relative;
}
ul.shortright li {
    display: inline-block;
    padding-left: 18px;
    border-right: 1px solid #bbbbbb;
    padding-right: 25px; 
    /* font-size: 30px; */
}

ul.shortright {
    float: right;
}

.shorttext { 
    float: left;
 
}

ul.shortright li:last-child {
    border-right: none;
    padding-right: 0;
    padding-top: 5px;
}
.shorttext h3 {
    font-weight: bold;
    font-size: 20px;
    margin: 0;
    padding-top: 8px;
}
.sort{
    font-size: 14px;
    margin-right: 7px;
    font-weight: 600;
}
.cardbox {
    background-color: #fff !important;    
    padding: 15px;
    margin-bottom: 15px;
    border: 2px solid #e8eaea;
}
.cardbox:hover{
    border: 2px solid #dadada;
}
.cardcontainer {
    text-align: center;
    margin: 0 auto;
}
.cardbox .imgbox {
    width: 100%;
    max-width: 100%;
}
.cardbox .imgbox100 {
    max-width: 100%;
    width: 100px;
    float: none;
    position: absolute;
}
.gridcard100 {
    /* padding: 0px 41px; */
    padding-left: 196px;
}
.scenarioimg {
    margin-bottom: 40px;
}
.scenarioimg .left {
    float: left;
}
.scenarioimg .right {
    float: right;
}
.scenarioimg img {
    width: 25px !important;
}
.cardcontainer{
    text-align: left;
}
h4.title {
    color: #3f4d63;
    font-weight: bold;
}

.maintitle {
    background-color: #ced0d1;
}
.maintitle {
    background-color: transparent;
    padding: 10px;
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 20px;
    margin-top: 1px;
    border-bottom: 1px solid #e5e5e5;
}
.maintitle.maintitle1 {
    border-top: 1px solid #e5e5e5;
}
.card-body h4.title {
    width: 100%;
    /* height: 40px; */
}

.card-body p {
    width: 100%;
    /* height: 70px; */
}
.card-body {
    margin-bottom: 20px;
}
.cardfooter {
    display: block;
    position: relative;
}
.cardfooter ul {
    display: block;
}

.cardfooter li {
    display: inline-block;
}

.cardfooter li img {
    position: relative;
    top: -10px;
}

.footerleft {
    float: left;
    display: inline-block;
}

.footerright {
    float: right;
    display: inline-block;
}
.footerleft img, .footerright img {
    width: 25px !important;
}
.menushorting {
    position: absolute;
    color: #455a64;
    width: 250px;
    text-align: left;
    border-radius: 4px;
    background: #ffffff;
    box-shadow: 0px 20px 20px #88888869;
    top: 48px;
    right:0px;  
    display:none; 
    z-index: 9;
  }

  
  ul.dropdownmenushorting li {
      display: block;
  }
  
  ul.dropdownmenushorting li a {
      padding: 5px 10px;
      display: block;
      color: #455a64;
      text-decoration: none;
      position: relative;
  }
  .bottomheader .container {
    position: relative;
}
    
  ul.dropdownmenushorting li:last-child a {
      border-bottom: 0;
  }
  ul.dropdownmenushorting li {
    padding: 10px 15px;
    border-bottom: 1px solid #eaeaea;
}
    .fas{
    background-color: none;
    padding: 0px 7px;
    }
  .downafter {
    content: "\f107";
    background-color: white;
    padding: 0px 7px;
    box-shadow: 0 1px 20px rgba(0, 0, 0, 0.15);
}
.shorttogle  {
    content: "\f107";
    background-color: none;
    padding: 9px 7px;
    cursor: pointer;
}
.tial {
    cursor: pointer;
}
.shorttogle1  {
    content: "\f107";
    background-color: #fff;
    padding: 9px 7px;
}
.sendpop{
    cursor: pointer;
}
.send {
    position: absolute;
    color: #455a64;
    width: 327px;
    text-align: left;
    border-radius: 4px;
    background: #ffffff;
    box-shadow: 0 1px 20px rgba(0, 0, 0, 0.15);
    z-index: 9;
    display: none;
    top: 45px;
    max-width: 100%; 
}
  .send:after {
    position: absolute;
    top: -16px;
    content: "";
    display: block;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 20px solid white;
    box-shadow: 0 4px -1px rgba(0, 0, 0, 0.15);
}

.sendbutton {
    background-color: #73cdd6;
    border: none;
    color: white;
    padding: 10px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 0px 2px 10px;
    cursor: pointer;
    float:right;
  }
  .sendtext {
    border: 1px solid #dfdfdf;
    padding: 10px 10px 30px;
    margin: 10px;
}
.cardbox100{
    width:100%;
}

.tial100{
    display: none;
    cursor: pointer;
}
.canvasjs-chart-toolbar {
    display: none;
}

/* .modal-dialog.modal-dialog-centered.modelwidth {
    width: 60%;
} */
.modal-content.modelstyle {
    background:#dddddd;
}
.modal-header {
    padding: 15px;
    border-bottom: 1px solid #bbbbbb;
}

h5.modal-title.report {
    display: block;
    float: left;
}
.graphicon img {
    padding: 0px 6px;
}
.graphicon {
    float: right;
}
#chartContainerbar,
#chartContainerspline,
#chartContainerpie{
    display: none;
    width: 100%;
}
.pie1{
    border-left:  1px solid #bbbbbb;
    box-shadow: -1px 0px 0px 0px #fff;
}
.select {
    display: inline-block;
    position: relative;
}

.select img {
    position: absolute;
    right: 0;
    top: 0;
    padding: 8px;
}

.select select {
    width: 250px;
}
.select select option {
    background: #ffffff;
    border: 1px solid #fff;
}

.select:after {
    content: "\f078";
    display: block;
    position: absolute;
    z-index: 99;
    font-family: fontAwesome;
    right: 0;
    top: 1px;
    padding: 0px 6px;
    border-left: 1px solid #000;
}
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
}

.menuToggle .toggleIcon {
    display: inline-block;
    padding-left: 23px;
    padding-right: 5px;
    position: relative;
    top: 12px;
    cursor: pointer;
}
.toggleIcon span {
    width: 30px;
    height: 4px;
    background: #fff;
    display: block;
    margin-bottom: 5px;
    transition: all 0.3s;
}

.toggleIcon:hover span {
    background: #edb007;
}
/* Custom dropdown */
.custom-dropdown {
    position: relative;
    display: inline-block;
    vertical-align: middle;
  }
  
  .custom-dropdown select {
    background-color: #fff;
    color: #455a64;
    font-size: inherit;
    padding: 2px;
    padding-right: 2.5em;
    margin: 0;
    border-radius: 3px;
    text-indent: 0.01px;
    -webkit-appearance: button;
    border: 1px solid #455a64;
}
  
  .custom-dropdown::before,
  .custom-dropdown::after {
    content: "";
    position: absolute;
    pointer-events: none;
  }
  
  .custom-dropdown::after { /*  Custom dropdown arrow */
    content: "\25BC";
    height: 1em;
    font-size: .625em;
    line-height: 1;
    right: 1.2em;
    top: 50%;
    margin-top: -.5em;
  }

  .custom-dropdown::before { /*  Custom dropdown arrow cover */
    width: 2em;
    right: 0;
    top: 0;
    bottom: 0;
    border-radius: 0 3px 3px 0;
  }
  
  .custom-dropdown select[disabled] {
    color: #fff;
  }
  
  .custom-dropdown select[disabled]::after {
    color: #fff;
  }
  
  .custom-dropdown::before {
    background-color: #fff;
    border-left:1px solid #455a64;
  }
  
  .custom-dropdown::after {
    color: #000;
  }

 .menuToggle span {
    color: #fff;
    margin-left: 10px;
}
.menuToggle img:hover {
    background: url('../../img/menu_hover.jpg') center no-repeat;
}


/* <!-------------------scenario css----------------------> */

.seneriobanner {
    background: url("../../img/sel_bg1.jpg") center top no-repeat;
    background-position: right top;
    transition:width 0.5s ease;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    position: relative;
    max-width: 100%;
}
.seneriobox{
    min-height: calc(100vh - 224px);
    overflow: hidden;
}
.imageWraper {
   /*  background: url("../img/bg.jpg") center top no-repeat; */
    height:100vh;
    position:relative;
    background-position: right top;
    transition:width 0.5s ease;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    overflow: hidden;
}
.imgwraper1{
    /* background: url("../img/bg2.jpg") center top no-repeat; */
    height:100%;
    width:50%;
    float: left;
    position:relative;
    /* background-position: right top; */
    transition:width 0.5s ease;
    /* background-size: cover; */
    overflow: hidden;
}
.imgwraper2{
    /* background: url("../img/bg1.jpg") center top no-repeat; */
    position:relative;
    height:100%;
    width:50%;
    float: right;
    /* background-position: right  top; */
    transition:width 0.5s ease;
    /* background-size: cover; */
    overflow: hidden;
}
.loginbtn.signbtn1.signbtn2 {
    position: fixed;
    bottom: 150px;
}
.male {
    position: absolute;
    bottom: -25px;
    right: -50px;
    display: block;
}
.female {
    position: absolute;
    bottom: -25px;
    display: block;
    left: -50px;    
}

.question {
	position: absolute;
	top: 170px;
	right: 0;
	background-color: #fff;
	border: 2px solid #959595;
	border-radius: 50px 0px 0px 50px;
	border-right: 10px solid #77dd77;
	max-width: 100%;
	width: 450px;
	display: table;
}
.answer{
    position: relative;
}

.questionbox{
    position: relative;
}
.circle .circle1 {
    height: 30px;
    width: 30px;
    background-color: #77dd77;
    border-radius: 50%;
    position: absolute;
    top: 205px;
    right: 460px;
}

.circle .circle2 {
    height: 25px;
    width: 25px;
    background-color: #77dd77;
    border-radius: 50%;
    position: absolute;
    top: 228px;
    right:495px
}
.circle .circle3 {
    height: 20px;
    width: 20px;
    background-color: #77dd77;
    border-radius: 50%;
    position: absolute;
    top: 253px;
    right: 525px
}

.question h3{
     margin-top: 0px;
    margin-bottom: 0px;
    font-size: 16px;
    display: table-cell;
    padding: 10px;
}
.quesbullete.answerbullete {
    background-color: #7d7;
}
.question .fas {
    display: inline-block;
    color: #77dd77;
    font-size: 29px;
}
ul.answerbox {
    display: block;
    position: absolute;
    top: 150px;
    left: 90px;
    width: 515px;
}

ul.answerbox li {
    background-color: white;
    margin: 10px;
    border-radius: 50px;
    max-width: 100%;
    border: 2px solid #6ad0e5;
    position: relative;
    display: table;
    overflow: hidden;
    width: 430px;
}
.answerbullete {
    width: 44px;
    background: #6ad0e5;
    color: #fff;
    vertical-align: middle;
    text-align: center;
    border: solid #fff;
    border-radius: 50px 0 0 50px;
    display: table-cell;
}
ul.answerbox span {
    display: table-cell;
    padding: 10px;
    padding-right: 20px;
}
.footer{
    position: fixed;
    bottom: 0px;
    width: 100%;
    background-color: #ffff;
    color: white;
    display: table;
    padding: 10px 20px;
}
.progressfright {
    display: table-cell;
    width: 55%; 
    vertical-align: middle;
}
.iconFleft {
    float: right;
    display: table-cell;
    vertical-align: middle;
}
.iconFleft img {
margin-right: 10px;
}
.male_circle{
    display: none;
}
.female_circle {
    display: none;
}

.progressfright .progress {
    width: 100%;
}

progress[value] {
    /* Reset the default appearance */
    -webkit-appearance: none;
    appearance: none;  
    width: 60%;
}

progress[value]::-webkit-progress-bar {
    background-color: #eee;
    border-radius: 2px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

progress[value]::-webkit-progress-value {
    background-image:
         -webkit-linear-gradient(-45deg, 
                                 transparent 33%, rgba(0, 0, 0, .1) 33%, 
                                 rgba(0,0, 0, .1) 66%, transparent 66%),
         -webkit-linear-gradient(top, 
                                 rgba(255, 255, 255, .25), 
                                 rgba(0, 0, 0, .25)),
         -webkit-linear-gradient(left, #1ad1a4, #f44); 
  
      border-radius: 2px; 
      background-size: 35px 20px, 100% 100%, 100% 100%;
  }

  progress[value]::-webkit-progress-value::before {
    content: '80%';
    position: absolute;
    right: 0;
    top: -125%;
  }

.dash-title {
    font-size: 30px;
    color: #1e2530;
    text-transform: capitalize;
}

.dash-sub-title {
    text-transform: capitalize;
    font-size: 20px;
    color: #000;
    margin-top: 10px;
}

.admin-dashboard {
    margin-top: 100px;
}
.profile-detail-box h2 {
    margin-top: 10px;
}
.profile-detail-box h2,
.profile-detail-box h2 {
    font-size: 25px;
}
.bottomheader.bottomheaderadmin {
    background: #222936;
    display: block;
    height: 50px;
    border: 0 !important;
    box-shadow: none;
}
.dash-msg span {
    position: absolute;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background: #00aeef;
    right: -7px;
    top: 10px;
    color: #fff;
    line-height: 15px;
    font-size: 10px;
}

.dash-msg {
    position: relative;
    margin-top: 20px;
}

.dash-msg img {
    float: right;
    width: 20px;
}

.input-group.date.form_datetime {
    width: 100%;
}
.profile-update-btn {
    display: inline-block;
    float: left;
}

.edit-social-icon ul {
    display: inline-block;
    float: right;
    padding-right: 15px;
}
.footergray {
    background: #455a64;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 10px;
    z-index: 101;
}
.footertext {
    color: #8ca2ad;
    float: right;
    margin-right: 10px;
    font-size: 12px;
}

.breadcrumb {
    padding: 15px 0px;
    margin-bottom: 0px;
    list-style: none;
    background-color: transparent;
    border-radius: 4px;
}
img.shorttogle {
    width: 32px;
    position: relative;
    top: 2px;
}
.breadcrumb>li+li:before {
    padding: 0 5px;
    color: #44241d;
    content: "\003E" !important;
}
ul.breadcrumb li a {
    color: #44241d;
}

  .usermanage-box {
    background: #2c3545;
    padding: 10px;
    color: #fff;
}
.profilebtn {
    padding-bottom: 15px;
}
.usermanage-form {
    background: #f4f4f4;
    padding: 30px 50px 10px;
}
.usermanage_main {
    margin-top: 20px;
}
.linebox {
    border-bottom: 1px solid #c5c5c5;
    margin-top: 0;
    margin-bottom: 0;
    border-top: 1px solid #fff;
}

.customer_text {
    display: block;
    width: 59%;
}

.customer_textL {
    /* float: left; */
    color: #000000;
    display: inline-block;
}

.customer_textR {
    float: right;
    color:  #000000;
    display: inline;
}
.table-box {
    background: #00aeef;
    padding: 10px;
}
.tableheader_left {
    float: left;
    color: #fff;
}

.tableheader_right {
    float: right;
    color: #fff;
}
.serchtext {
    background: #edf7fb;
    color: #455a64;
    border: 0;
}

.Searchbox {
    display: inline-block;
    position: relative;
    margin-right: 20px;
}

.sorttext {
    display: inline-block;
}
.Theader tr {
  background: #3588c1;
    
  color: #fff;
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    padding: 15px;
}

  .file {
    visibility: hidden;
    position: absolute;
  } 

  .btn.btn-primary {
    background-color:  #2c3545;
    border-color: #2c3545;
    outline: none;
    color: #fff;
    height: 50px;
    width: 250px;
    border-radius: 0;
    transition: all ease 0.5s;
  }
  .btn.btn-primary:hover,
  .btn.btn-primary:focus{
    background-color:  #edb007;
    border-color: #edb007; 
    transition: all ease 0.5s;
  }
.form-group {
    position: relative;
}

.browsebtn{
    text-align: center;
    margin-bottom: 5px;
}
.usermanage-form1 {
    margin-bottom: 50px;
}

.usermanage-form .form-control {
    border-radius: 0;
    height: 50px;
    background: #fff;
    box-shadow: none;
    color: #999999;
    font-style: italic;
}

.usermanage-form  select.form-control,
.login_box select.form-control{
    background: url(../../img/br_down.png) no-repeat right #fff;
}
.usermanage-form select.form-control:focus,
.login_box select.form-control:focus{
    background: url(../../img/br_up.png) no-repeat right #fff;   
}

.usermanage-form .form-group {
    position: relative;
    padding: 0;
    margin-bottom: 15px;
}

.usermanage-add {
    background: #f4f4f4;
    padding: 10px 50px 10px;
}
.usermanage-add button{
    float: right;
}
.fa-edit:before {
    content: "\f044";
    color: #455a64;
    font-size: 20px;
}
.fa-trash-alt:before {
    content: "\f2ed";
    color: #455a64;
    font-size: 20px;
}
.Searchbox:before {
    content: '';
    display: block;
    width: 1px;
    height: 23px;
    background: #cfdce2;
    position: absolute;
    right: -15px;
}
button.multiselect.dropdown-toggle{
    box-shadow: none;
    border-radius: 0;
    height: 50px;
    width: 100%;
    display: block;
    text-align: left;
    background: url(../../img/br_down.png) no-repeat right #fff !important;
}
button.multiselect.dropdown-toggle{
    background-color: #fff !important;
    box-shadow: none !important;
    margin-bottom: 15px;
}
button.multiselect.dropdown-toggle:focus{
    background: url(../../img/br_up.png) no-repeat right #fff !important;
}
.btn-group{
    display: block;
}

.multiselect-container {
    position: absolute;
    width: 100%;
    top: 49px;
    border-radius: 0;
}
b.caret {
    display: none;
}

 .dropdown-menu>.active>a, .dropdown-menu>.active>a:focus, .dropdown-menu>.active>a:hover {
    color: #000;
    text-decoration: none;
    background-color: #ffffff;
    outline: 0;
}
span.multiselect-selected-text {
    color: #999999;
    font-style: italic;
    font-weight: 600;
}
input[type="checkbox"] {
    background:green;
    border:red 1px solid;
 }
.checkbox input {
    height: 25px;
    width: 25px;
    position: absolute !important;
    line-height: 23px;
    margin-top: 0px;
    margin-left: -10px;
}
  
  .checkbox input:after, .radio:after {
    content: '';
    display: block;
    font-size: 14px;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 25px;
    width: 25px;
    font-family: fontAwesome;
    background: #fff;
    border: 1px solid #73cdd6;
    box-shadow: unset;
}

.checkbox input:checked:after {
    background-color: #73cdd6;
    background-position: 0 0;
    content: "\f00c";
    color: #fff;
    border-color: #73cdd6;
    box-shadow: unset;
    text-align: center;
}

.checkbox.radiobtn input {
    height: 25px;
    width: 25px;
    position: absolute;
    line-height: 23px;
    margin-top: 0px;
    margin-left: -10px;
}
  
  .checkbox.radiobtn input:after, .radio:after {
    content: '';
    display: block;
    font-size: 14px;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 25px;
    width: 25px;
    font-family: fontAwesome;
    background: #fff;
    border: 1px solid #73cdd6;
    box-shadow: unset;
    border-radius: 50%;
}

.checkbox.radiobtn input:checked:after {
    background-color: #73cdd6;
    background-position: 0 0;
    content: "\f111";
    color: #fff;
    border-color: #73cdd6;
    box-shadow: unset;
    text-align: center;
}

    .checkbox input[type=checkbox]{
        margin-left: -35px;
    }
    .checkbox.radiobtn input[type=checkbox]{
        margin-left: -35px;
    }
  .multiselect-container>li>a>label {
    padding: 3px 20px 3px 46px !important;
}

.multiselect-container {
    padding-bottom: 10px !important;
    padding-top: 10px !important;
}


.Header_Title {
    background: #455a64;
    padding: 10px;
    color: #fff;
}
.list_Title {
    background: #cfdce2;
    padding: 5px 10px;
}
.icon_popup {
    position: relative;
}
.list_Header ul li {
    padding: 5px 10px;
}
.btnpopup {
    cursor: pointer;
}
.popupheader {
    padding: 10px;
    background: #455a64;
    color: #fff;
}
.popupbody {
    padding: 0px;
}
.popupclose {
    float: right;
    font-size: 21px;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    opacity: 1;
}
create.plusimg {
    position: absolute;
    top: 14px;
    right: 0;
}
.pluscontrol{
    max-width: 100%;
    width: 85%;
}
.userprofile {
    display: inline-block;
}
.dropdownmenu li:first-child {
   display: none;
}
button#create {
    background: transparent;
    border: 0;
    float: right;
    position: absolute;
    top: 10px;
    right: -9px;
}
.form-group.form-select .btn-group {
    width: auto !important;
}

.panelCaollapse .panel-body {
    padding: 0;
}
.panel-group .panelCaollapse {
    margin-bottom: 0;
    border-radius: 0;
    border: none;
    margin-top: 20px;
    margin-bottom: 20px; 
}

.panelCaollapse .panel-title a {
    text-decoration: none;
    font-size: 14px;
}
.panelCaollapse .panel-heading {
    padding:0px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    background: #0d395b;
    color: #fff;
}
.panelCaollapse i {
    float: right;
    font-weight: 600;
   font-size: 16px;
}
.panelCaollapse a {
    padding: 15px 15px;
    display: block;
}
.panel-title > .collapsed:before {
    float: right !important;
    content:"\f067";
    font-family: FontAwesome;
    padding-right: 5px;
}
.panel-title > a:before {
    content:"\f068";
    float: right !important;
    font-family: FontAwesome; 
    padding-right: 5px;
}

.home_page{
    background-image: url('../../img/homeimg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    max-width: 100%;
    height: 100vh;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    
}

.Home_text {
    width: 446px;
    top: 350px;
    position: absolute;
    color: #1e2530;
   
}
.Home_text h1{
  font-size: 40px;
   line-height: 100%;
   margin-bottom: 15px;
   font-family: 'segoe UI';
}
.Home_text h3{
  font-size: 30px;
  margin-top: 0;
}
.Home_text .Create{
    font-size: 15px;  
}
.home_header{
    position: relative;    
    padding: 30px 40px;
}
.signbtn{
    background-color: #1e2530;
    border: none;
    outline: none;
    color: #edb007;
    border-radius: 0;
    padding: 8px 30px;
    transition: all ease 0.5s;
}
.signbtn:hover{
    background-color:  #edb007;
    color: #0d3a5c;
}
img.hover_img {
    display: none;
}

.signbtn:hover .hover_img {
    display: inline-block;
}

.signbtn:hover img {
    display: none;
}
.loginbtn{
    background-color: #edb007;
    border: none;
    outline: none;
    color: #0d3a5c;
    border-radius: 0;
    padding: 8px 25px;
    transition: all ease 0.5s;
}
.loginbtn:hover{
    background-color:  #1e2530;
    color: #edb007;
}
img.hover_img {
    display: none;
}

.loginbtn:hover .hover_img {
    display: inline-block;
}

.loginbtn:hover img {
    display: none;
}


.pagination {
    margin-bottom: 70px !important; 
}
.loginbtn img,
.signbtn img {
    margin-right: 30px;
}
.home_header .regbtn {
    float: right;
}
.home_header ul {
    display: inline-block;
}
.home_header ul li {
    display: inline-block;
}
.Profile-form {
    background: #f4f4f4;

}
.Profile-textbox{
    padding: 20px 20px 10px;
}
.Profile-form .form-control,
.login-form .form-control,
.register-form .form-control,
.New_Template .form-control{
    border-radius: 0;
    height: 35px;
    background: #fff;
    box-shadow: none;
    color: #999999;
    font-style: italic;
}
label {
    font-weight: normal;
}
.savesubmit{
    margin: 20px;
}
.User_profile {
    margin-top: 50px;
}

.profiletext {
    margin-bottom: 15px;
}
.choose_ing p {
    position: absolute;
    top: 0;
    left: 80px;
}
.choose_ing {
    position: relative;
}
.savesubmit {
    background: #2c3545;
    border: none;
    padding: 15px 80px;
    color: #fff;
    transition: all ease 0.5s;
}
.savesubmit:hover {
    background: #edb007;
}
.yellow {
    background: #edb007;
    padding: 5px;
}

.black {
    background: #2c3545;
}

.login_box {
    background: #f4f4f4;
    border-top: 10px solid #1e2530;
}
.login_box .form-group {
    padding: 0px 30px;
}
.Rpassword a{
    text-decoration: none;
    color:#1e2530;
	font-size: 12px;
    font-weight: bold;
}
.Rpassword span {
    float: right;
}
a {
    color: #1e2530;
    text-decoration: none;
    font-weight:normal;
    cursor: pointer;
}
.logintext {
    font-size: 70px;
    margin-top: 150px;
    text-align: center;
    margin-bottom: 10px;
    color:#cccccc;
	font-family: Segoe UI Light;
}
.regsterbtn{
    background-color: #edb007;
    border: none;
    outline: none;
    color: #0d3a5c;
    border-radius: 0;
    padding: 10px 60px;
    margin-top: 15px;
}
form#regisFrom,
form.loginregerstion {
    margin-top: 10px;
}
.form-group.Rpassword {
    margin-top: -11px;
}
.loginregerstion .form-group {
    margin-bottom: 10px;
}
img#captcha_image {
    width: 30%;
    margin-bottom: 8px;
}
.createacount {
    text-align: center;
    padding-bottom: 20px;
    margin-top: 15px;
	font-size: 12px;
}
  .dashboard-box {
    background: #f4f4f4;
    text-align: center;
    margin-bottom: 30px;
    padding: 20px 20px 10px 20px;
    line-height: 25px;
    transition: all ease 0.5s;
   border-bottom: 10px solid #faea5c;
   min-height: 190px;
}
.dashboard-box.dashboard-box-lerner{
    min-height: 100%;
}

.dashboard-box .width70 {
    width: 70px;
    max-width: 100%;
}
.dashboard-box img {
    margin: 0px auto;
    margin-top: 15px;
}
.flexItem.flexItem30.flexItembottom {
    margin-bottom: 0px;
}
.dashboard-box.dashboard-box-lerner.colorBox1 h1 {
    margin-top: 50%;
}
.dashboard-box.dashboard-box-lerner h1 {
    margin-top: 50%;
}
.dashboard-box.colorBox { 
   background: #faea5c;
   border-bottom: 10px solid #faea5c;
}

.dashboard-box.colorBox1 {
    background: #f7cb2b;
   border-bottom: 10px solid #f7cb2b;
}

.dashboard-box.colorBox2 {
    background: #faab21;
   border-bottom: 10px solid #faab21;
}

.dashboard-box.colorBox3 {  
  background: #fec72d;
   border-bottom: 10px solid #fec72d;
}

.dashboard-box.colorBox4 {   
  background: #feb12e;
   border-bottom: 10px solid #feb12e;
}

.dashboard-box.colorBox5 { 
   background: #ee751d;
   border-bottom: 10px solid #ee751d;
}

.dashboard-box:hover  {
    border-bottom: 10px solid #73cdd6;
    transition: all ease 0.5s;    
    box-shadow: 0px 0px 4px #ccc;
}
.flexMain {
    display: flex;
    display: flex;
    flex-wrap: nowrap;
}

.flexItem.flexItem70 {
    width: 70%;
}

.flexItem.flexItem30 {
    width: 30%;
    padding-right: 20px !important;
    margin-bottom: 30px;
}

.colorBoxRight.dashboardBox {
    margin: 0px 15px;
    background: #0d395b;
    height: 100%;
}

.flexheader {
    background: #00aeef;
    padding: 5px;
    font-size: 22px;
    text-align: center;
    font-weight: bold;
}


ul.flextlistitem span {
    display: block;
    text-align: center;
    font-size: 20px;
    color:  #00aeef;
}

ul.flextlistitem li {
    color: #fff;
    margin-bottom: 2px;
    background: #114165;
    padding: 10px;
    text-align: center;
}

.resulttext {
    color: #fff;
    text-align: center;
    padding: 10px 20px;
}

.resulttext h3 {
    margin: 0;
    font-size: 18px;
}

.resulttext h3:after {
    content: '';
    width: 36px;
    height: 3px;
    background: #faab21;
    display: block;
    margin: 5px auto 0;
}

.resulttext p {
    margin: 8px 0;
}

.resulttext ul {margin-top: 6px;}
.formcheckbox{
    margin-right: 100px;
}
.formcheckbox1{
    margin-right: 50px;
}

.formcheckbox span {
    position: relative;
    top: 2px;
    left: 30px;
}




.sim_bluebanner {
    background: #f8f8f8;
    padding: 12px;
    position: fixed;
    width: 100%;
    bottom: 6px;
}
.sim_bluebanner img {
    margin-right: 18px;
}

.sim-side-menu {
    background: #2c3545;
    height: 100%;
    display: inline-block;
    position: fixed;
    left: 0;
    z-index: 100;
}

.side-menu-list li {
    border-bottom: none;
}
.side-menu-list li:hover{
    background: #daa40d;
}

.image_menu li img:hover{
  background:url('../img/image_menu_hover.png')
}



.question_tree_mainbanner{
    display:flex;
    flex: 1;
}
.completency {
    background: #dcdcdc;
    padding: 22px;
    margin-bottom: 70px;
}
.completency h3{
    margin-top:0px;
    margin-bottom: 0px;
}
.question_tree ul {
	padding-top: 20px; position: relative;	
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
}

.edit_sim_body_color{
    background-color: #efefef;
    overflow: hidden;
}


.question_tree li {
    float: left; 
    text-align: center;
	list-style-type: none;
	position: relative;
	padding: 20px 5px 0 5px;	
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
}

/*We will use ::before and ::after to draw the connectors*/

.question_tree li::before, .question_tree li::after{
	content: '';
	position: absolute; top: 0; right: 50%;
	border-top: 1px solid #1e2530;
	width: 50%; height: 20px;
}
.question_tree li::after{
	right: auto; left: 50%;
	border-left: 1px solid #1e2530;
}

/*We need to remove left-right connectors from elements without 
any siblings*/
.question_tree li:only-child::after, .question_tree li:only-child::before {
	display: none;
}

/*Remove space from the top of single children*/
.question_tree li:only-child{ padding-top: 0;}

/*Remove left connector from first child and 
right connector from last child*/
.question_tree li:first-child::before, .question_tree li:last-child::after{
	border: 0 none;
}
/*Adding back the vertical connector to the last nodes*/
.question_tree li:last-child::before{
	border-right: 1px solid #1e2530;
	border-radius: 0 5px 0 0;
	-webkit-border-radius: 0 5px 0 0;
	-moz-border-radius: 0 5px 0 0;
}
.question_tree li:first-child::after{
	border-radius: 5px 0 0 0;
	-webkit-border-radius: 5px 0 0 0;
	-moz-border-radius: 5px 0 0 0;
}

/*Time to add downward connectors from parents*/
.question_tree ul ul::before{
	content: '';
	position: absolute; top: 0; left: 50%;
	border-left: 1px solid #1e2530;
	width: 0; height: 20px;
}

.question_tree li a {
    display: inline-block;
    border-radius: 5px;
    -moz-border-radius: 5px;
    transition: all 0.5s;
    -moz-transition: all 0.5s;
}

.question_tree .purple_box a {
    border: 1px solid #551e7d;
    position: relative;
}
.question_tree .purple_box h5 {
    background: #551e7d;
    padding: 10px;
}

.question_tree .purple_box li a {
    border: 1px solid #cf4f8c;
    position: relative;
}
.question_tree .purple_box li h5 {
    background: #cf4f8c;
    padding: 10px;
}
.question_tree .purple_box li ul li a {
    border: 1px solid #6ab6ea;
    position: relative;
}
.question_tree .purple_box li ul li h5 {
    background: #6ab6ea;
    padding: 10px;
}

.question_tree p {
    padding: 5px;
    margin-bottom: 0px;
}
.question_tree h5 {
    margin-top: 0px;
    margin-bottom: 0px;
    color: #fff;
    padding: 9px 33px;
    border-radius: 5px 5px 0px 0px;
}
.dotsmenu {
    position: absolute;
    top: 50%;
    background: #2c3545;
    border-radius: 0px 10px 10px 0px;
    cursor: pointer;
    z-index: 9;
}
.dotsmenu:after {
    content: '\2807';
    font-size: 30px;
    color: #fff;
    position: relative;
    left: 3px;
}
.reviewerimg {
    width: 77px;
}

.addMoreField {
    cursor: pointer;
    margin: 20px 0;
}
td img {
    width: 25px;
    margin-bottom: 4px;
}

.browes_logo img{
    width: 80px;
}

.browes_logo span {
    position: absolute;
    top: 20px;
    left: 100px;
}
.checkbox.formcheckbox .type_icon {
    width: 25px;
}
.browes_logo {
    margin-bottom: 20px;
}
.New_Template {
    margin-top: 40px;
}
.New_Template .form-group {
    width: 20%;
}
.create1 {
    background: transparent;
    border: 0;
    float: right;
    position: absolute;
    top: 10px;
    right: -50px;
}
.usermanage-form textarea.form-control{
    height: auto;
    resize: none;
}
.question_tree img{
    width: 25px;
    float: right;
}

.question_tree textarea.form-control{
    height: auto;
    resize: none;
    margin-top: 80px;
    width: 100% !important;
}
.sim_bodytext .form-control{
    border-radius: 0;
    height: 40px;
    background: #fff;
    box-shadow: none;
    color: #999999;
    font-style: italic;
}
.sim_bodytext .form-group{
    padding-bottom: 70px;
}
.editquestion {
    background: #e5e5e5;
    padding: 6px 15px 30px;
}


 .char_bg_selection .checkbox input[type=checkbox],
 .bg_selection .checkbox input[type=checkbox] {
    margin-left: -15px;
}
/* .bg_selection,
.char_bg_selection,
.question_tree{
    display: none;
} */
.nav-tabs {
    border-bottom: unset;
}
.nav-tabs>li {
    float: unset;
    margin-bottom: unset;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    color: #555;
    cursor: default;
    background-color: #daa40d;
    border: none;
    border-bottom-color: transparent;
}
.nav-tabs>li>a {
    margin-right: 2px;
    line-height: 1.42857143;
    border: 0px solid transparent;
    border-radius: 0px;
}
.nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
    background-color: #daa40d;
    border-color:transparent; 
}

.question_tree_banner.tab-content.clearfix {
    margin-left: 30px;
}
/*addnew */
.Simulation_det {
    background: #dbdbdb;
    padding: 10px 40px;
    display: block;  
    width: 100%;
}
.skills {
    display: table-cell;
    vertical-align: middle;
    padding-right: 25px;
}
.skills .form-control {
    height: 30px !important; 
}
/*addnew close */

.Simulation_det h3 {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 18px;
    padding-left: 0px;
}
.main_sim .form-group{
flex: 1 1 auto;
padding: 30px;
}

.main_sim .col-sm-9 {
    padding-left: 0px;
    padding-right: 0px;
}
.main_sim .previewboxbanner {
    background: #fff;
    height: calc(100vh - 196px);
    padding-left: 0px;
    padding-right: 0px;
    position: relative;
    overflow: auto;
}
.main_sim .form-control {
    border-radius: 0;
    height: 50px;
    background: #fff;
    box-shadow: none;
    color: #999999;
    font-style: italic;
}

.main_sim label {
    font-weight: 600;
}
.question_tree_banner{
    overflow: hidden;
}


.question_tree_menu {
    height: calc(100% - 184px);
    width: 96%;
    position: absolute;
    z-index: 0;
    left: 55px;
    background-color: #f4f6f9;
    overflow-x: hidden;
    transition: 0.5s;
    /* border-right: 4px solid #1e2530; */
    overflow: auto;
}

  .question_tree_menu a:hover {
    color: #f1f1f1;
  }
  
  .question_tree_menu .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
.question_tree_body {
    transition: margin-left .5s;
    overflow: auto;
    height: calc(100vh - 184px);
    margin-left: -3px;
  }

.question_tree_body .form-control{
    border-radius: 0;
    height: 40px;
    background: #fff;
    box-shadow: none;
    color: #455a64;
    font-style: italic;
}
 .question_tree_body h4 {
    padding: 10px 0px;
}
.question_tree_body .form-group {
    padding: 10px 25px 0px 60px;
    display: block !important;
    margin-bottom: unset !important;
    width: unset !important;
    margin-bottom: 30px !important;
}
.question_tree_body .form-select .form-control {
    width: 100%;
    background: url(../../img/br_down.png) no-repeat right #fff;
}
.question_tree_body .form-select .form-control:focus {
background: url(../../img/br_up.png) no-repeat right #fff;
}

.question_tree_body .form-group input {
    width: 100% !important;
	position: relative;
    z-index: 9;
    margin-bottom: 10px;
}

.add_option {
    display: inline-block;
    margin-left: 72px;
    cursor: pointer;
    margin-bottom: 35px;
}
.add_option img {
    margin-left: 15px;
}
.questiontreebox {
    /* width: 900px; */
    overflow: auto;
    padding: 20px;
}
.Simulation_det .form-control{
    width:50px;
    display: inline-block;
}
.appendoptiom:after, .appendoptiom:before {
    content: '';
    float: none;
    clear: both;
    display: table;
}
.appendoptiom {
    margin-bottom: 15px;
}
a.toggle:hover::after {
    content: "\f107";
    font-family: fontAwesome;
    color: black;
    font-size: 22px;
    bottom: -13px;
    position: absolute;
}
.labelbox label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 0px;
    position: relative;
    top: 19px;
}
.questiontreebox .form-group {
    position: relative;
    width: 79%;
}
.nav-tabs>li>a {
    margin-right: 0px;
}
.previewbox {
    padding-left: 50px;
    padding-right: 50px;
}
.previewbox h3 {
    text-align: center;
}
.previewbox img {
    margin: 0 auto;
    /* text-align: center; */
    display: block;
    width: 330px;
}
.previewbox p {
    margin-top: 20px;
}
.main_sim_scroll .col-sm-9 {
    overflow: auto;
    height: calc(100vh - 184px);
    padding-right: 0;
}
.plus_comp {
    /* display: inline-block; */
    /* position: relative; */
    flex: 1 1 auto;
    position: absolute;
    right:0;
    top: 45px;
}
.plus_comp.plus_comp1 {
    left: 50%;
    top: 45px;
    right: unset;
}
.logowhite li:last-child:before {
    content: '';
    width: 2px;
    height: 33px;
    color: #edb007;
    background: #edb007;
    position: absolute;
    top: 35px;
    margin-left: 9px;
}
.main_sim_scroll .row{
    margin-right: unset;
}
.logochnage {
    width: 140px;
    height: 40px;
    border: 1px dotted;    
    margin-left: 30px;
    opacity: 0.2;
}

.logowhite img {
    vertical-align: unset;
}

 .question_tree_body .row {
    margin-right: unset;
}

.question_tree li a.toggle {
    height: unset;
}
button.submitques {
    background: transparent;
    border: 0px;
}

.Qprevbtn .submitques, .Qnextbtn .submitques {
    background: transparent;
    border: 0px;
	width:100%;
}

.add_comp_option {
    padding-left: 20px;
    display: flex;
    position: relative;
}
.add_comp_option.comp-width{
    width: 87%;
}
.type_icon.width40 {
    width: auto;
}
.branchsim{
    margin-top: 30px;
}

.checkbox.formcheckbox1 span {
    position: relative;
    top: 0px;
    left: 30px;
}
#splashImg,
#ImgDelete {
    font-size: 30px;
}


.main_sim label {
    position: relative;
    top: 0px;
    padding-right: 10px;
}


.video_img {
    height: 110px;
    overflow: hidden;
    margin-bottom: 15px;
}


.circlechart {
    display: inline-block;
}

.footerright img {
    margin-top: -20px;
}


.ABOUT,
.BACKGROUND,
.OFFER,
.SCENARIO {
    display: none;
    width: 850px;
    font-size: 17px;
    margin: 0px auto;
    top: 20px;
    color: #fff;
    margin-bottom: 20px;
    position: relative;
    z-index: 1;
}

.BACKGROUND.seneriobox span,
.ABOUT.seneriobox span,
.OFFER.seneriobox span,
.SCENARIO.seneriobox span {
    font-family: 'segoeUI' !important;
    color: #fff !important;
}
.SCENARIO.seneriobox img,
.ABOUT.seneriobox img,
.OFFER.seneriobox img,
.SCENARIO.seneriobox img{
    width: 600px;
    margin: 0 auto;
    max-width: 100%;
    display: block;
}
.seneriobanner:after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #000;
    opacity: 0.5;
}

.buttonbox {
    text-align: center;
    margin-bottom: 40px;
    position: relative;
    z-index: 1;
  }
  .buttonbox button {
    padding: 10px 60px;
    font-size: 18px;
    margin: 0px 5px;
  }

  .modal-headerstyle {
    padding: 13px;
    border-bottom: 1px solid #bbbbbb;
    background: #6ad0e5;
    font-size: 15px;
}
/* .content1 {
    top: 300px;
} */
.content2 {
    top: 200px;
}
.body1 p {
    font-size: 18px;
    padding-right: 30px;
}
.body1 img {
    max-width: 100%;
    width: 100%;
}
.imgwraper2 li{
    cursor: pointer;
}
.loginbtn.active {
    background-color: #1e2530;
    color: #edb007;
}

.menuopen.on .one {
    transform: rotate(45deg) translate(5px, 5px);
  }
  
  .menuopen.on .two {
    opacity: 0;
  }
  
  .menuopen.on .three {
    transform: rotate(-45deg) translate(7px, -8px);
  }
  .graph li {
    display: inline-block;
}

/* .SCENARIO.seneriobox {
    height: 538px;
    overflow: hidden;
} */
#question_tree_menu1 {
    width: calc(100% - 56px);
}
#question_tree_menu1 img {
    width: 275px;
    max-width: 100%;
    margin-left: 25px;
}
#question_tree_menu2 img {
    width: 145px;
    max-width: 100%;    
    border: 1px solid #cccccc;
    margin-left: 25px;
    background: #fff;
}
/* 
span.quesbullete.answerbullete {
    padding: 14px;
    margin-left: -16px;
    background: #77dd77;
    color: #455a64;
} */
.img-circle{
    border-radius: 0 !important;
    max-width: 600px;
}
.video_img.video_img100 {
    height: unset;
    margin-bottom: 0px;
    padding-left: 20px;
}
.reset_text {
    padding: 0 30px;
	margin-top: 11px;
    margin-bottom: 22px;
}
.logintext.forgettext {
    font-size: 50px;
}
.alreadytext{
    margin-top:20px;
}
@supports (-ms-ime-align: auto) { }

.bttn_form {
	margin-bottom: 40px;
	position: absolute;
	text-align: center; z-index:999999; bottom: 0px; width:100%;
}
.scenarioimg.scenarioimg100 {
    display: inline;
}
input.form-control.multiselect-search {
    height: 30px;
}
.Ques_linear_img li::before{
    display: none;
}
.Ques_linear_img li::after{
    display: none;
}
.Ques_linear_img li {
    float: none;
    text-align: none;
    list-style-type: none;
    position: none;
    padding: none;
    transition: none;
    -webkit-transition: none;
    text-align: unset;
    display: inline-block;
    padding: unset;
    margin-bottom: 30px;
    padding-right: 50px;
}

ul.Ques_linear_img {
    padding-top: 10px;
}
ul.Ques_linear_img img {
    float: left;
    padding-right: 4px;
}

ul.side-menu-list.nav.nav-tabs img {
    width: 30px;
    max-width: 100%;
}
ul.Ques_linear_save li {
    display: inline-block;
    font-size: 18px;
}

ul.Ques_linear_save {
    margin: 0 auto;
    text-align: center;
}
ul.Ques_linear_save IMG {
    width:  25px;
}
ul.Ques_linear_save .submitques {
    /* width: 160px; */
    display: inline-block;
}
ul.Ques_linear_save li {
    padding-right: 30px;
}
.gridcard.gridcard100 .card-body {
    margin-bottom: 10px;
}
.short-menu{
    position: relative;
}
ul.dropdownmenushorting li {
    border-right: 0px;
}

.qus-button {
    display: table;
    width: 100%;
    margin-top: -50px;
}
.qus-button input.form-control.controls, .qus-button .browse-qus {
    display: table-cell;
    width: 15%;
}
.qus-button input.form-control.controls{
    width: 85% !important;
}

.qus-button button.browse.browse-qus.btn.btn-primary {
    height: 40px;
    margin-top: -10px;
}

.sim-map p {
    font-size: 24pt;
    text-align: center;
    padding-top: 20px;
}
.sim-map .form-control {
    width: 100%;
    max-width: 100%;
}
.sim-map .form-control.form-select{
    margin-bottom: 10px;
    background: url(../../img/br_down.png) no-repeat right #fff;
}
.sim-map .form-control.form-select:focus{
    background: url(../../img/br_up.png) no-repeat right #fff;
}

.sim-map .form-group {
    padding-bottom: 0px !important;
}

.next-pre {
    padding-right: 50px;
    display: block;
    text-align: right;
}

.next-pre img {
    margin-left: 30px;
    width: 15px;
    max-width: 100%;
}
.sim-map .form-group input {
    color: #000;
    font-style: normal;
    font-weight: bold;
}
.learnar-banner {
    /* background: #2c3444; */
    width: 100%;
    max-width: 100%;
    display: block;
    position: relative;
    opacity: 0.8;
    padding-left: 10px;
    padding-right: 5px;
    z-index: 9;
}

.learnar-banner img {
    width: 30px;
}

.learnar-banner li {
    list-style: none;
    display: inline-block;
    padding: 5px 5px;
}
li.report-view {
    color: #fff;
    float: right;
}

li.report-view a {
    text-decoration: none;
    color: #fff;
}
.noclick {
	pointer-events: none;
}

.flex-12 {
    display: flex;
    flex: 1 1 auto;
}
.flex-8 {
    flex: 1 1 auto;
    padding-right: 5px;
}
.form-group.comp-box .flex-4 .form-control {
    width: 50px !important;
    display: inline-block;
}

.pull-right.nextpre-pull {
    display: block;
    width: 100%;
}

.pull-right.nextpre-pull nav {
    float: right;
}

.modal-body.body1 video {
    display: block;
    margin: 0 auto;
}
.main_sim_scroll .form-control.question-box {
    width: 50px;
    display: inline-block;
}
label.branching-text {
    top: 0px;
    padding-right: 10px;
}

img.detail_g,
img.add_bg_g,
img.add_char_g,
img.add_qa_g,
img.mapping_g,
img.add_qa_g{
    display: none;
}

.nav-tabs>li.main_menu.active>a .detail_g,
.nav-tabs>li.image_menu.active>a .add_bg_g,
.nav-tabs>li.char_menu.active>a .add_char_g,
.nav-tabs>li.edit_menu.active>a .add_qa_g,
.nav-tabs>li.map_menu.active>a .mapping_g,
.nav-tabs>li.Qus_menu.active>a .add_qa_g{
    display: block;
}

.nav-tabs>li.main_menu.active>a .detail_w,
.nav-tabs>li.image_menu.active>a .add_bg_w,
.nav-tabs>li.char_menu.active>a .add_char_w,
.nav-tabs>li.edit_menu.active>a .add_qa_w,
.nav-tabs>li.map_menu.active>a .mapping_w,
.nav-tabs>li.Qus_menu.active>a .add_qa_w   {
    display: none;
}


.signbtn1.signbtnRepot {
    position: fixed;
    z-index: 9;
    top: 68px;
    left: 0;
    right: 0;
    background: #000000;
    opacity:0.8;
    height: 92%;
    text-align: center;
}

.signbtn1.signbtnRepot img {
    width: 140px !important;
    display: block;
    margin-bottom: 10px;    
}
.repotView {
    top: 50%;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}




span.report-view {
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 9;
}

span.report-view img {
    width: 25px;
}

span.report-view a {
    display: block;
    color: #fff;
    font-size: 25px;
}

.card-body p {
    height: 35px;
}

.answerbox .modal {
    text-align: center;
  }
  
  @media screen and (min-width: 768px) { 
    .answerbox .modal:before {
      display: inline-block;
      vertical-align: middle;
      content: " ";
      height: 100%;
    }
    .answerbox .modal-dialog {
        width: 450px !important;
    }
  }
  
  .answerbox .modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
  }

  .checkbox.bluecheckbox {
    margin-top: 30px;
    margin-left: 20px;
    }

    .checkbox.bluecheckbox img {
        margin-left: 10px;
    }

    .checkbox.bluecheckbox label {
        margin-right: 14px;
    }

    .checkbox.radiobtn.bluecheckbox {
        margin-top: 30px;
        margin-left: 20px;
    }

    .checkbox.radiobtn.bluecheckbox img {
        margin-left: 10px;
    }

    .checkbox.radiobtn.bluecheckbox label {
        margin-right: 14px;
    }

    img.white-svg-logo {
        width: 150px;
    }
    img.img-responsive.logoImg.white-svg-logo {
        padding-top: 5px;
        padding-bottom: 5px;
    }
    .circleChart {
        display: inline-block;
        top: 1px;
    }

    p.circleChart_text {
        font-size: 8px !important;
        font-weight: bold;
    }
    .resulttext img {
        width: 75px;
    }

    .checkbox.radiobtn {
        display: block;
    }
    .checkbox {
        display: block;
    }

    .bacground_banner {
        position: relative;
        margin-right: 50px;
        display: inline-block;
        margin-bottom: 30px;
    }

    a.delete_char_bg_img {
        position: absolute;
        top: 5px;
        right: 5px;
    }
    .plus-img-width {
        width: 275px !important;
        margin-left: 40px !important;
    }
    .usermanage-form.usermanage-banner {
        padding: 25px;
    }
    .usermanage-add.add1{
        padding: 10px 25px 10px;
    }

    .profile-detail-box {
        width: 100%;
        height: 135px;
        box-shadow: 0px 0px 4px #ccc;
        margin-bottom: 25px;
    }

    .profile-detail-box img {
        width: 125px;
    }
    .flexItem.flexItem70 .col-md-6 {
        height: 100%;
        padding: 0px;
    }

    .dashboard-box-lerner.box-lerner {
        min-height: 100%;
        box-shadow: 0px 0px 4px #ccc;
    }
    .learner-head {
        padding-left: 15px;
    }
    .dashboard-box.dashboard-box1 {
        border-bottom: none;
        box-shadow: 0px 0px 4px #ccc;
    }
    .dashboard-box-lerner.box-lerner p {
        padding: 20px;
        text-align: center;
    }
    .catagory{
        padding-right: 15px !important;
    }
    .dashboard-box.dashboard-box-lerner:last-child {
        margin-bottom: 0px;
    }
    .lernar-dashboard {
        margin-top: 150px;
    }
    .lernar-dashboard-boxes img {
        width: 85px;
        display: table-cell;
        vertical-align: middle;
    }
    .lernar-dashboard-boxes p {
        color: #fff;
        font-size: 20px;
        display: table-cell;
        width: 235px;
        vertical-align: middle;
        padding-right: 50px;
    }
    .lernar-dashboard-boxes {
        padding: 20px;
        margin-bottom: 30px;
        border-radius: 5px;
        height: 125px;
        display: table;
        width: 100%;
    }
    .lernar-dashboard-boxes.blue {
        background: #00b0f0;
    }

    .lernar-dashboard-boxes.dark-blue {
        background: #0076d7;
    }

    .lernar-dashboard-boxes.nevy-blue {
        background: #10375a;
    }

    .lernar-dashboard-boxes.yellow {
        background: #fdcb3e;
    }

    .lernar-dashboard-boxes.light-yellow {
        background: #feb53b;
    }

    .lernar-dashboard-boxes.orange {
        background: #f07923;
    }
    .lernar-dashboard-boxes.green {
        background: #00b050;
    }
    .lernar-dashboard-boxes.blue img {
        top: 30px;
    }
    .comp-incomp-topbanner{
        background: #e4e4e4;
        height: 400px;    
        border-radius: 5px;
    }
    .comp-incomp-banner {
        padding-left: 50px;
        padding-right: 50px;
    }
    .lernar-dashboard-boxes span {
        font-size: 60px;
        margin-right: 10px;
        color: #fff;
    }
    img.thumb {
        width: 75px;
        float: right;
    }
    .comp-incomp-header.col-sm-12 h3 {
        display: inline-block;
        font-size: 20px;
    }

    .comp-incomp-header {
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 15px;
        margin-bottom: 30px;
    }
    .comp-incomp img {
        display: block;
        margin: 0 auto;
    }
    ul.comp-incom-progress li span {
        height: 35px;
        width: 35px;
        display: inline-block;
        margin-right: 20px;
    }

    ul.comp-incom-progress li {
        display: inline-block;
        padding-right: 50px;
        font-size: 24px;
    }
    ul.comp-incom-progress {
        margin-top: 30px;
        text-align: center;
    }
    li.gary-incomp span {
        background: #b6bcbf;
    }
    li.gary-comp span {
        background: #455b69;
    }
    .lernar-dashboard-boxes.dark-blue sub {
        font-size: 14px;
    }
    .comp-incomp p {
        font-size: 110px;
        text-align: center;
    }
    .comp-incomp sub {
        font-size: 25px;
    }
    li.gary-fail span {
        background: #92d050;
    }
    li.gary-pass span {
        background: #ffc000;
    }
    .comp-incomp img {
        width: 175px;
    }
    .User-edit_profile{
        width: 100%;
        height: 100vh;
        background: #2c3545;
        background: -moz-linear-gradient(top, #2c3545 0%, #2c3545 70%, #ffffff 70%, #ffffff 100%);
        background: -webkit-gradient(left top, left bottom, color-stop(0%, #2c3545), color-stop(70%, #2c3545), color-stop(35%, #ffffff), color-stop(100%, #ffffff));
        background: -webkit-linear-gradient(top, #2c3545 0%, #2c3545 70%, #ffffff 70%, #ffffff 100%);
        background: -o-linear-gradient(top, #2c3545 0%, #2c3545 70%, #ffffff 70%, #ffffff 100%);
        background: -ms-linear-gradient(top, #2c3545 0%, #2c3545 70%, #ffffff 70%, #ffffff 100%);
        background: linear-gradient(to bottom, #2c3545 0%, #2c3545 70%, #ffffff 70%, #ffffff 100%);
    }
    .edit_profile-banner {
        background: #fff;
        border-radius: 15px;
        margin: 0 auto;
        margin-top: 100px;
        box-shadow: 0 0px 6px 0px #6b6b6b;
        padding: 10px;
        margin-bottom: 50px;
    }
    .edit-profile-img img {
        width: 100%;
        max-width: 100%;
    }
    .edit_profile-banner .row {
        margin-left: -15px;
    }
    .form-group.edit-textentry .form-control {
        border: 0px;
        border-radius: 0px;
        border-bottom: 1px solid #c1c1c1;
        background: #fff;
    }
    .form-group.edit-textentry {
        display: flex;
        padding-right: 20px;
    }
    .edit-field span.input-group-addon {
        background: #fff;
        border: none;
        border-bottom: 1px solid #c1c1c1;
    }

    .form-group.edit-textentry  .edit-icon {
        padding-right: 15px;
    }

    .form-group.edit-textentry .edit-field {
        flex: 1 1 auto;
    }
    .edit-field {
        position: relative;
    }
    .edit-field img {
        position: absolute;
        top: 5px;
        right: 0;
    }
    .edit-field textarea {
        margin-top: 20px;
        margin-bottom: 20px;
        padding-right: 20px;
    }
    .edit-field.textarea img {
        top: 45px;
    }
    .edit-social-icon li {
        display: inline-block;
        padding: 5px;
    }

    .edit-social-icon {
        margin: 0 auto;
        text-align: center;
        margin-top: 40px;
    }
    .edit-social-icon img {
        width: 35px;
    }
    input.form-control.first-name {
        height: auto;
        font-size: 40px;
        color: #000;
    }
    input.form-control.first-name::placeholder {
        color: #000;
    }
    input.form-control.designation{
        height: auto;
        color: #ffc700;
    }
    input.form-control.designation::placeholder{
        color: #ffc700;
    }
    img.edit-profile-icon {
        width: auto;
        position: absolute;
        bottom: 15px;
        right: 30px;
    }
    .proImgName {
        display: none !important;
    }
    .owl-carousel .owl-item img {
        display: inline !important;
    }
    .owl-carousel {
        z-index: 0 !important;
    }
    .buttonRight {
        text-align: right;
        margin-bottom: 20px;
        padding: 0px 15px;
    }
    .popover {
        max-width: 100% !important;
    }
    .profile-detail-box h2 {
        font-size: 24px;
    }
    
    .profile-detail-box h3 {
        font-size: 20px;
        margin-top: 0px;
    }
    .profile-detail-box img {
        margin-top: 10px;
    }
    .edit-icon img {
        width: 32px;
    }
    li.map_menu.noclick img {
        opacity: 0.5;
    }

    .dashboard-img {
        width: 125px;
        height: 125px;
        overflow: hidden;
    }
    .next-pre img {
        float: none !important;
    }
    .add_option.disabled {
        opacity: 0.4;
    }


    .remove.minusComp {
        left: unset;
        right: 0;
        top: 45px;
        position: absolute;
    }

    .disabled {
        opacity: 0.4 !important;
    }

    .btn-group.btn-shortBY {
        display: inline-block;
    }
    .btn-group.btn-shortBYLernar{
        display: inline-block;
        float: right;
        padding: 10px 0px;
        margin-top: 7px;
    }
    
    .btn-group.btn-shortBY .btn {
        background: transparent;
        border: transparent;
        padding: 0;
        color: #fff;
    }

    .btn-group.btn-shortBYLernar .btn {
        background: transparent;
        border: transparent;
        padding: 0;
        color: #455a64;
    }

    .btn-group.btn-shortBY .btn:hover {
        color: #fff;
    }

    .btn-group.btn-shortBYLernar .btn:hover {
        color: #fff;
    }

    .dropdown-menu.shortBYMenu a {
        display: inline-block;
        padding: 10px 15px;
        border-bottom: 1px solid #eaeaea;
        width: 100%;
    }
    

    .dropdown-menu.shortBYMenu a:nth-child(3) {
        border-bottom: none;
    }

    .open>.dropdown-toggle.btn-Transprate:focus, .open>.dropdown-toggle.btn-danger:hover {
        color: #fff;
        background-color: transparent;
        border-color: transparent;
    }

    .dropdown-menu.shortBYMenu {
        color: #455a64;
        width: 200px;
        text-align: left;
        border-radius: 4px;
        background: #ffffff;
        box-shadow: 0px 20px 20px #88888869;
        position: absolute;
        left: -120px;
        top: 28px;
    }

    .input-group-append.serchBTN {
        display: inline-block;
        position: absolute;
        padding: 0;
        right: 7px;
    }
    
    .input-group-append.serchBTN .btn {
        background: transparent;
        border: transparent;
        padding: 0;
    }
    
    .input-group-append.serchBTN i {
        color: #1e2530;
    }

    .btn-group.open .dropdown-toggle {
        -webkit-box-shadow: none;
        box-shadow: none;
    }

    .commentbox {
        width: 100%;
        display: flex;
        margin-top: 10px;
    }

    td .svg {
        width: 25px;
        margin-bottom: 4px;
    }

    .usermanage-form1 a:hover path {
        fill: #edaf08;
    }

    .info-circle  i:focus, i:hover {
        color: #edaf08;
        text-decoration: none;
    }

    .nav-char-tab li {
        display: inline-block !important;
        padding: 0px 50px;
    }

    .nav-char-tab li a:hover {
        text-decoration: none;
        background-color: transparent;
        border-color: transparent;
        color: #1e2530;
    }
    
    .nav-char-tab {
        border-bottom: 1px solid #cccccc;
        padding-left: 30px;
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .nav-char-tab input {
        position: absolute;
        left: 20px;
    }

    .OneChar,
    .TwoChar{
        display: none;
    }
    .tab-content {
        padding-left: 30px;
    }
	
    span.leftIMG,
    span.RightIMG {
        position: absolute;
        bottom: 0;
        background: #73cdd6;
        padding: 3px 10px;
        right: 0;
        color: #fff;
    }

    .checkbox.bluecheckbox.BGIMG {
        margin-left: 40px;
    }
    .branchsim .checkbox.radiobtn,
    .usermanage-form .checkbox.radiobtn  {
        display: inline-block;
    }
    .dummyspace {
        margin-top: 30px;
        margin-left: 30px;
    }

    .question_tree_menu.NoBorder {
        border-right: 0px solid transparent;
    }


    .ReviewerBanner .question_tree_menu {
        height: calc(100vh - 118px) !important;
    }
    .ReviewerBanner .sim-side-menu {
        height: calc(100vh - 118px) !important;
        z-index: 1;
    }
    .bg_selection,
    .char_bg_selection {
        /* height: 100vh; */
    }
    .ReviewerBanner {
        height: calc(100vh - 118px);
        overflow: hidden;
    }
    .pull-left img {
        border-radius: 50% !important;
    }
    .addcommentbox .panel-body {
        overflow-y: auto;
        height: 50vh;
    }
    .pull-right img {
        border-radius: 50% !important;
    }
    .panel-primary>.panel-heading {
        color: #fff;
        background-color: #2c3545;
        border-color: #2c3545;
    }
    .panel-primary {
        border-color: #2c3545;
    }
    .ReviewerBanner .question_tree_banner.tab-content.clearfix {
        margin-left: 15px;
    }
    .ReviewerBanner .main_sim .form-group {
        display: inline-block;
    }
    
.chat
{
    list-style: none;
    margin: 0;
    padding: 0;
}

.chat li
{
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px dotted #B3A9A9;
}

.chat li.left .chat-body
{
    margin-left: 60px;
}

.chat li.right .chat-body
{
    margin-right: 60px;
}

.chat li:last-child {
    border-bottom: 1px dotted transparent;
}
.chat li .chat-body p
{
    margin: 0;
    color: #777777;
}

.panel .slidedown .glyphicon, .chat .glyphicon
{
    margin-right: 5px;
}

.RevBTN .browse.browseRev.btn.btn-primary {
    width: 40%;
    margin: 10px 0px;
}
.addcomment .browse.browseRev {
    width: 100%;
    height: unset;
}
.addcommentbox .input-group {
    width: 100%;
}

.commentbox {
    margin-bottom: 20px;
    width: 100%;
    display: flex;
    margin-top: 10px;
}

.commentbox img {
    margin-right: 10px;
}

.Datetext {
    float: right;
    font-size: 12px;
}

.SubbulletComment .NameDate {
padding-top: 0px;
}

.SubbulletComment {
    padding-left: 60px;
}
.jumbotron.commentboxBanner {
    background: white;
    padding: 5px;
    margin-top: 20px;
    border: 1px solid #ccc;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 12px;
}
.addcommentbox {
    overflow: auto;
}

.ReviewerBanner #question_tree_menu1 img {
    width: 240px;
}
.ReviewerBanner #question_tree_menu2 img {
    width: 135px;
}
.plus_comp_option {
    width: 70%;
}
.ReviewerBanner .plus_comp_option {
    width: 100%;
}

.ReviewerBanner .add_comp_option.comp-width {
    width: 100%;
}

ul.reply {
    padding-left: 60px;
}
.comment-row {
    background: #fff;
    padding: 10px;
    border: 1px solid #ccc;
    font-size: 13px;
    margin-bottom: 20px;
    margin-top: 20px;
}
.addcommentbanner {
    height: 650px;
    overflow-y: auto;
}
.commentbox img {
    height: 35px;
}
.NameDate {
    font-weight: bold;
    font-size: 14px;
}
.addcommentText {
    height: 75px;
}

.Authoreport-head h3 {
    font-size: 18px;
    DISPLAY: table-cell;
    width: 100%;
    vertical-align: middle;
    font-weight: bold;
}
.Authoreport-head {
    display: table;
    margin-bottom: 20px;
}
.AuthorRimg {
    width: 160px;
    display: block;
    margin: 0 auto;
}
.Authoreport-box {
    border: 1px solid #e2e2e2;
    margin-bottom: 30px;
    padding: 20px;
}
.Authoreport-box a {
    color: #1d6fd4;
}
.comment-text {
    width: 100%;
    max-width: 100%;
}
span.remove_chat i,
span.remove_chatbox i {
    cursor: pointer;
}
form.comment-form {
    width: 100%;
    padding-right: 10px;
}
.ReviewerBanner .col-sm-6 {
    padding: 0px;
}
.ReviewerBanner .question_tree_menu {
    left: 0px;
}
.ReviewerBanner .col-sm-9 {
    padding: 0;
}
.ReviewerBanner .dotsmenu.dotsmenu1 {
    margin-left: -30px;
}
.ReviewerBanner .main_sim .form-group {
    flex: 1 1 auto;
    padding: 15px 10px 10px 55px;
}

@-moz-document url-prefix() {

  }
/* --------------- Sushant --------------- */

	.AddAns-Radio {
		width: 20px;
		margin-top: 15px;
	}
	
	.MMCQApendOption {
		padding-right: 25px;
	}

	.Radio-box {
		display: flex;
		width: 101.6%;
		margin-bottom: 10px;
	}
	
	.AddAns-Checkbox {
		width: 20px;
		margin-top: 15px;
}
	.Check-box {
		display: flex;
		width: 104%;
		margin-bottom: 10px;
	}
	
	/* The container */
	.radiostyle {
		display: block;
		position: relative;
		padding-left: 25px;
		margin-top: 14px;
		margin-left: 21px;
		margin-bottom: 49px;
		cursor: pointer;
		font-size: 22px;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}

	/* Hide the browser's default radio button */
	.radiostyle input {
	  position: absolute;
	  opacity: 0;
	  cursor: pointer;
	}	
	
	/* Create a custom radio button */
	.radiomark {
	  position: absolute;
	  top: 0;
	  left: 0;
	  height: 25px;
	  width: 25px;
	  background-color: #edb007;
	  border-radius: 50%;
	}

	/* On mouse-over, add a grey background color */
	.radiostyle:hover input ~ .radiomark {
	  background-color: #ccc;
	}

	/* When the radio button is checked, add a blue background */
	input:checked ~ .radiomark {
	  background-color: #edb007;
	}

	/* Create the indicator (the dot/circle - hidden when not checked) */
	.radiomark:after {
	  content: "";
	  position: absolute;
	  display: none;
	}

	/* Show the indicator (dot/circle) when checked */
	input:checked ~ .radiomark:after {
	  display: block;
	}

	/* Style the indicator (dot/circle) */
	.radiomark:after {
		top: 7px;
		left: 7px;
		width: 11px;
		height: 11px;
		border-radius: 50%;
		background: #2c3545;
	}	
	
	.checkstyle {
		display: block;
		position: relative;
		padding-left: 25px;
		margin-top: 14px;
		margin-left: 21px;
		margin-bottom: 49px;
		cursor: pointer;
		font-size: 22px;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}

	/* Hide the browser's default checkbox */
	.checkstyle input {
		position: absolute;
		opacity: 0;
		cursor: pointer;
		height: 0;
		width: 0;
	}

	/* Create a custom checkbox */
	.checkmark {
		position: absolute;
		top: 0;
		left: 0;
		height: 25px;
		width: 25px;
		background-color: #edb007;
	}

	/* On mouse-over, add a grey background color */
	.checkstyle:hover input ~ .checkmark {
		background-color: #ccc;
	}

	/* When the checkbox is checked, add a blue background */
	input:checked ~ .checkmark {
		background-color: #edb007;
	}

	/* Create the checkmark/indicator (hidden when not checked) */
	.checkmark:after {
		content: "";
		position: absolute;
		display: none;
	}

	/* Show the checkmark when checked */
	input:checked ~ .checkmark:after {
		display: block;
	}

	/* Style the checkmark/indicator */
	.checkmark:after {
		left: 10px;
		top: 5px;
		width: 6px;
		height: 10px;
		border: solid #2c3545;
		border-width: 0 3px 3px 0;
		-webkit-transform: rotate(45deg);
		-ms-transform: rotate(45deg);
		transform: rotate(45deg);
	}
	
	input.form-control.score {
		text-align: center;
	}
	
	*, *:before, *:after{ 
		box-sizing: border-box; 
	} 
	.css-shapes-preview{ 
		position: relative; 
		height: 48px; 
		width: 200px; 
		background-color: #428BCA; 
		border-radius: 0px; 
		margin-left: 150px;
		transform: rotate(0deg); 
		-webkit-transform: rotate(0deg); 
		border-top: 0px transparent; 
	} 
	.css-shapes-preview:before{ 
		content: ""; 
		height: 33px; 
		width: 45px; 
		padding: 0px; 
		background-color: #428BCA; 
		border-radius: 100px; 
		position: absolute; 
		top: 7px; 
		left: -15px; 
		transform: rotate(0deg) skew(0deg); 
		-webkit-transform: rotate(0deg) skew(0deg); 
		border-top: 0px solid #428BCA; 
		border-left: 0px solid #428BCA; 
		border-right: 36px solid #428BCA; 
		border-bottom: 16px solid #428BCA; 
	}
	.options, .mmcq_options {
		background-color: #fff;
		border: 1px solid #fff;
		padding: 18px;
		color: #2c3545;
		margin-top: 10px;
	}

	.mmcq_options:hover , .options:hover {
		background-color: #edaf06;
		color: black;
		border: 1px solid #edaf06;
		transition: all ease 0.5s;
	}

	.submitRight {
		text-align:right;
		margin-bottom: 20px;
	}

	.btn.submitbtn {
		margin-top: 23px;
		background-color: #2c3545;
		border-color: #2c3545;
		outline: none;
		color: #fff;
		height: 40px;
		width: 122px;
		border-radius: 0;
		transition: all ease 0.5s;
	}
	
	.btn.submitbtn:hover{
		background-color:  #edb007;
		border-color: #edb007; 
		transition: all ease 0.5s;
	}
	
	.Drag_Drop, .Drag_Drop_Shuffle {
		width: 1000px;
		margin: 0px auto;
		max-width: 100%;
	}

	.submitcenter {
		text-align: center;
		margin-bottom: 20px;
		padding: 0px 15px;
	}

	.row {
		margin-right: 0;
		margin-left: 0;
	}

	/* Button used to open the contact form - fixed at the bottom of the page */
	.open-button {
		background-color: #555;
		color: white;
		padding: 16px 20px;
		border: none;
		cursor: pointer;
		opacity: 0.8;
		position: fixed;
		bottom: 23px;
		right: 28px;
		width: 280px;
	}

	/* The popup form - hidden by default */
	.form-popup {
		display: none;
		top: 169px;
		position: absolute;
		background: white;
		border: 3px solid #f1f1f1;
		z-index: 16;
		margin-left: auto;
		margin-right: auto;
		width: 560px;
		min-height: 354px;
	}

	/* Add styles to the form container */
	.form-container {
		max-width: 300px;
		padding: 10px;
		background-color: white;
	}

	/* Full-width input fields */
	.form-container input[type=text], .form-container input[type=password] {
		width: 100%;
		padding: 15px;
		margin: 5px 0 22px 0;
		border: none;
		background: #f1f1f1; 
	}

	/* When the inputs get focus, do something */
	.form-container input[type=text]:focus, .form-container input[type=password]:focus {
		background-color: #ddd;
		outline: none;
	}

	/* Set a style for the submit/login button */
	.form-container .btn {
		background-color: #4CAF50;
		color: white;
		padding: 16px 20px;
		border: none;
		cursor: pointer;
		width: 100%;
		margin-bottom:10px;
		opacity: 0.8;
	}

	/* Add a red background color to the cancel button */
	.form-container .cancel {
		background-color: red;
	}

	/* Add some hover effects to buttons */
	.form-container .btn:hover, .open-button:hover {
		opacity: 1;
	}

	.popheading {
		background: #2c3544;
		color: white;
		padding: 10px 15px;
		cursor: move;
	}

	.textarea {
		padding: 10px;
		width: 551px;
		max-width: 100%;
	}

	.form-control1 {
		display: block;
		width: 100%;
		height: 189px;
		padding: 6px 12px;
		font-size: 14px;
		line-height: 1.42857143;
		color: #555;
		background-color: #fff;
		background-image: none;
		border: 1px solid #ccc;
		border-radius: 4px;
	}


	.btn1{
		border: 1px solid transparent;
	}

	.btn1.submitbtn1 {
		margin-top: 5px;
		background-color: #edaf06;
		border-color: #edaf06;
		outline: none;
		margin-right: 12px;
		color: #2c3544;
		height: 40px;
		width: 122px;
		border-radius: 0;
		transition: all ease 0.5s;
	}

	img.poprightimg {
		float: right;
		padding: 0px 13px;
	}
	
	.submitRight1 {
		text-align: right;
		margin-bottom: 20px;
		margin-top: 41px;
	}
	
	img.popleftimg {
		margin-left: 10px;
		padding: 0px 3px;
	}
	
	textarea.form-control1.inputtextWrap {
		resize: vertical;
	}

	.sim_bluebanner1 {
		background: #f8f8f8;
		padding: 12px;
		padding-left: 60px;
		width: 100%;
		position: fixed;
		display: flex;
		bottom: 6px;
		z-index: 99;
	}
	.sim_bluebanner1 img {
		margin-right: 18px;
	}
	
	span.simLogoYellow {
		color: #f1af2f;
		font-weight: bold;
	}
	.browse {
		background-color: #edaf06;
		border-color: #edaf06;
		outline: none;
		color: #333;
		margin-left: 7px;
		height: 50px;
		width: 122px;
		border-radius: 0;
		transition: all ease 0.5s;
	}
	.videoframe {
		width: 400px;
		margin-left: auto;
		margin-right: auto;
		max-width: 100%;
	}
	
	input.timing {
		width: 100px;
		text-align: center;
		height: 40px;
		border: 1px solid #e4e4e4;
		border-radius: unset;
	}
	
	.timing:focus {
		border-color: #2c3545;
		outline: 0;
		-webkit-box-shadow: unset;
		box-shadow: unset;
	}
	
	.add_cue {
		background-color: #edaf06;
		border-color: #edaf06;
		outline: none;
		color: #333;
		height: 40px;
		width: 288px;
		float: right;
		border-radius: 0;
		transition: all ease 0.5s;
		border: 1px solid transparent;
	}
	
	
	.AddAns-videobox {
		width: 20px;
		margin-left: 10px;
		margin-top: 15px;
	}

	.Video-box {
		display: flex;
		width: 102.6%;
		margin-bottom: 10px;
	}
	
	
	
	/* The container */
	.radiostyle1 {
		display: block;
		position: relative;
		padding-left: 25px;
		margin-top: 14px;
		margin-left: 21px;
		margin-bottom: 49px;
		cursor: pointer;
		font-size: 22px;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}

	/* Hide the browser's default radio button */
	.radiostyle1 input {
	  position: absolute;
	  opacity: 0;
	  cursor: pointer;
	}	
	
	/* Create a custom radio button */
	.radiomark1 {
	  position: absolute;
	  top: 0;
	  left: 0;
	  height: 25px;
	  width: 25px;
	  background-color: #edb007;
	  border-radius: 50%;
	}

	/* On mouse-over, add a grey background color */
	.radiostyle1:hover input ~ .radiomark1 {
	  background-color: #ccc;
	}

	/* When the radio button is checked, add a blue background */
	input:checked ~ .radiomark1 {
	  background-color: #edb007;
	}

	/* Create the indicator (the dot/circle - hidden when not checked) */
	.radiomark1:after {
	  content: "";
	  position: absolute;
	  display: none;
	}

	/* Show the indicator (dot/circle) when checked */
	input:checked ~ .radiomark1:after {
	  display: block;
	}

	/* Style the indicator (dot/circle) */
	.radiomark1:after {
		top: 7px;
		left: 7px;
		width: 11px;
		height: 11px;
		border-radius: 50%;
		background: #2c3545;
	}

	.cue_pt {
		margin-top: 8px;
	}	
	
.AddAns-Swaping {
    width: 20px;
    margin-left: 10px;
    margin-top: 15px;
}

.Swa-box {
    display: flex;
    width: 102.6%;
    margin-bottom: 10px;
}

.AddAns-Sequ {
    width: 20px;
    margin-left: 10px;
    margin-top: 15px;
}

.QuesForm1 {
    padding-right: 78px;
}

.cue_points {
    height: 12px;
	font-size: 11px;
    width: 74px;
    margin-left: 5px;
}

.cue_pt_show {
    display: inline-flex;
}

.close {
	float: right;
    font-size: 18px;
    line-height: 1;
	margin-top: 2px;
    color: #edaf06;
    filter: alpha(opacity=20);
    opacity: 1;
	transform: translate(0%, -50%);
}

.close:hover {background: #bbb;}


.close1 {
	float: right;
    font-size: 18px;
    line-height: 1;
	margin-top: 2px;
    color: #edaf06;
    filter: alpha(opacity=20);
    opacity: 1;
	transform: translate(0%, -50%);
}

.close1:hover {background: #bbb;}



img.savebtn {
    width: 25px;
    margin-right: 5px;
}

button.savequesbtn {
    border: 0px;
    background: transparent;
}

.dropdown-menu {
	position: absolute;
    top: 100%;
    left: 5px;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 40px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    /* text-align: center; */
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

.tooltip,.tooltip1 {
  position: relative;
  display: inline-block;
  opacity: 1;
  z-index: 15;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #2c3545;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -60px;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #2c3545 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

	.tooltip1 .tooltiptext {
		visibility: hidden;
		width: 120px;
		background-color: #2c3544;
		color: #fff;
		text-align: center;
		border-radius: 6px;
		padding: 5px 0;
		position: absolute;
		z-index: 1;
		top: -5px;
		left: 110%;
	}

	.tooltip1 .tooltiptext::after {
		content: "";
		position: absolute;
		top: 50%;
		right: 100%;
		margin-top: -5px;
		border-width: 5px;
		border-style: solid;
		border-color: transparent #2c3544 transparent transparent;
	}
	
	.tooltip1:hover .tooltiptext {
		visibility: visible;
	}

	.btn1 {
		display: inline-block;
		margin-bottom: 0;
		-ms-touch-action: manipulation;
		border: 0px solid transparent;
		background-color: transparent;
		-moz-user-select: none;
		-ms-user-select: none;
	}

	.MCQOption,
	.MMCQOption {
		width: 84%;
		margin: 0px auto;
		max-width: 100%;
		padding-left: 320px;
	}
	
	
	
	
	a.dropdown-item .tooltip1 {
		padding-bottom: 8px;
	}
	
	
	
	.item.matchingQ .mtfquest {
		background-image: url(../../img/qus_icon/MTF_but_icon.svg);
		background-repeat: no-repeat;
		background-position: 50% 50%;
		display: block;
		height: 66px;
	}

	.item.matchingQ .mtfquest:hover, .item.matchingQ.active .mtfquest  {
		background-image: url(../../img/qus_icon/matchwhite.png);
	}
	
	.item.SequanceQ .seququest {
		background-image: url(../../img/qus_icon/sequence_but_icon.svg);
		background-repeat: no-repeat;
		background-position: 50% 50%;
		display: block;
		height: 66px;
	}

	.item.SequanceQ .seququest:hover, .item.SequanceQ.active .seququest  {
		background-image: url(../../img/qus_icon/sequwhite.png);
	}
	
	
	.item.DregDropQ .sortquest {
		background-image: url(../../img/qus_icon/sorting_but_icon.svg);
		background-repeat: no-repeat;
		background-position: 50% 50%;
		display: block;
		height: 66px;
	}

	.item.DregDropQ .sortquest:hover, .item.DregDropQ.active .sortquest  {
		background-image: url(../../img/qus_icon/sortingwhite.png);
	}
	
	
	.item.MCQQ  .mcqquest {
		background-image: url(../../img/qus_icon/MCQ_but_icon.svg);
		background-repeat: no-repeat;
		background-position: 50% 50%;
		display: block;
		height: 66px;
	}

	.item.MCQQ  .mcqquest:hover, .item.MCQQ.active .mcqquest  {
		background-image: url(../../img/qus_icon/mcqwhite.png);
	}
	
	.item.MMCQQ .mmcqquest {
		background-image: url(../../img/qus_icon/MMCQ_but_icon.svg);
		background-repeat: no-repeat;
		background-position: 50% 50%;
		display: block;
		height: 66px;
	}

	.item.MMCQQ .mmcqquest:hover, .item.MMCQQ.active .mmcqquest  {
		background-image: url(../../img/qus_icon/mmcqwhite.png);
	}
	
	.item.VideoQ .videoquest {
		background-image: url(../../img/qus_icon/video_but_icon.svg);
		background-repeat: no-repeat;
		background-position: 50% 50%;
		display: block;
		height: 66px;
	}

	.item.VideoQ .videoquest:hover, .item.VideoQ.active .videoquest  {
		background-image: url(../../img/qus_icon/videowhite.png);
	}
	
	
	.item.SwapingQ  .swipquest {
		background-image: url(../../img/qus_icon/swiping_but_icon.svg);
		background-repeat: no-repeat;
		background-position: 50% 50%;
		display: block;
		height: 66px;
	}

	.item.SwapingQ  .swipquest:hover, .item.SwapingQ.active .swipquest  {
		background-image: url(../../img/qus_icon/swipewhite.png);
	}
	
	.SeqApendOption {
		width: 100%;
	}
	
	.matchbox .form-group {
		flex: 1 1;
		padding-right: 10px;
	}
	
	.matchbox {
		display: flex;
		margin-bottom: 10px;
		width: 102.2%;
	}
	
	.matchbox1 .form-group {
		flex: 1 1;
		padding-right: 10px;
	}
	
	.matchbox1 {
		display: flex;
		margin-bottom: 10px;
		width: 101.2%;
	}
	
	select.form-control.QusScore {
		width: 6%;
		margin-left: 4px;
	}
	
	.shuffle {
		float: right;
		margin-right: 130px;
	}
	
	.tooltip1 .img-fluid {
		margin-left: 26%;
	}
	
	img.img-fluid.AddAnsICON2 {
		/* display: none; */
	}
	
	.AnsHeading1 {
		font-size: 15px;
		font-weight: normal;
	}
	.AnsHeading2 {
		font-size: 15px;
		margin-left: -60px;
		font-weight: normal;
	}
	
	input.form-control.drag.inputtextWrap {
		width: 94%;
	}

	select.form-control.drag.QusScore {
		left: -10px;
	}
	
	
	.matchbox2 .QusScore {
		flex: 1 1;
		max-width: 36px;
	}


	.matchbox2 {
		display: flex;
		margin-bottom: 10px;
		width: 102.2%;
		height: 72px;
	}
	
	.matchbox2 .form-group {
    flex: 1 1;
    padding-right: 10px;
}




/*-----------------------------
---create-simulation-new.php---
-----------------------------*/
.panelCaollapse .panel-title{
    text-decoration: none;
	/*padding: 15px 15px; */
    font-size: 14px;
}

.createsim {
    padding: 10px 50px 10px;
}

.createsim button {
    float: right;
}

.usermanage1-form {
    background: #f4f4f4;
    padding: 35px 50px 39px;
}

.branchsim1 .checkbox.radiobtn, .usermanage1-form .checkbox.radiobtn {
    display: inline-block;
}

.color_pallet {
    border: 1px solid #0d395b;
    width: 22%;
    background: white;
    margin-left: 94px;
    margin-top: -146px;
}

.color_pallet1 {
    border: 1px solid #0d395b;
    width: 22%;
	max-height: 232px;
    background: white;
    margin-left: 8px;
    margin-top: -146px;
}

.pallet {
    display: flex;
}

.color_pallet .row {
    margin-left: 9px;
}

.color {
    height: 14px;
    width: 15px;
    display: inline-flex;
    border: 1px solid black;
    margin-right: 1px;
}

.colortxt {
    display: inline-flex;
    margin-left: 7px;
    width: 98px;
}

input#myColor {
    background: transparent;
    border: 0px;
    padding: 0;
}

p.color_pallet-title {
    font-size: 13px;
    padding-top: 5px;
    padding-left: 5px;
    padding-bottom: 5px;
    background: #0d395b;
    color: #fff;
}

.linebox_color {
    border-bottom: 1px solid #c5c5c5;
    margin-top: 5px;
    margin-bottom: 0;
    border-top: 1px solid #fff;
}

.customize_color {
	background-color: #edaf06;
    border-color: #edaf06;
    outline: none;
    color: #333;
    border-radius: 0px;
	margin-right: 5px;
}

.color_pallet1 .row .colortxt {
	width: 176px;
	margin-left: 7px;
}


.color_pallet1 .row {
    padding-top: 0px;
}

input.Customize_name {
    width: 100%;
    height: 31px;
}

.customize_btn {
    text-align: right;
    margin-right: 8px;
    margin-top: 8px;
	margin-bottom: 8px;
}

.asdasd {
    margin-left: 9px;
    margin-right: 9px;
    margin-top: 12px;
}

.pallet1_btn {
    background-color: #edaf06;
    outline: none;
    border: 0px solid;
    color: #333;
    border-radius: 0;
    width: 26%;
    height: 30px;
    margin-left: 7px;
}

.checkbox1.radiobtn input:after, .radio:after {
    content: '';
	display: block;
    font-size: 6px;
    position: relative;
    height: 12px;
    width: 12px;
    font-family: fontAwesome;
    background: #fff;
    border: 1px solid #73cdd6;
    box-shadow: unset;
    border-radius: 50%;
}

.checkbox1.radiobtn input:checked:after {
    background-color: #73cdd6;
    background-position: 0 0;
    content: "\f111";
    color: #fff;
    border-color: #73cdd6;
    box-shadow: unset;
    text-align: center;
}

input.checkbox1 {
    margin-right: 7px;
	line-height: 10px;
}

hr.linebox_color.Color_Thm {
    margin-top: 10px;
}

.max-heightpallet {
    max-height: 155px;
    overflow: auto;
}

.row.palletbtn {
	text-align: right;
    margin-top: 5px;
    margin-bottom: 5px;
}


/*-----------------------------
---create-simulation-new.php---
-----------------------------*/

.questnavi {
	width:25%;
}

.QusTempBannershow, .QusTempBannerhide {
    text-align: center;
}

.owl-dots {
    display: none;
}

input#sortq_numof_sorting_item {
    width: 8%;
}



/*-----------------------------
--------Feedback Popup---------
-----------------------------*/

.modal.feedbox {
    top: 20%;
}

.modal-dialog.feedbox {
    width: 75%;
    margin: 0px auto;
}

.modal-content.feedbox {
    border: 0px solid rgba(0,0,0,.2);
    border-radius: 0px;
    box-shadow: none;
}

.feedback-header.feedbox {
    padding: 25px 0 25px 15px;
    border-bottom: 0px solid #bbbbbb;
}

.feedclose.feedbox {
    float: right;
    font-size: 50px;
    line-height: 1;
    background: transparent;
    border: 0px;
    margin-top: 0px;
    color: #2c3544;
    filter: alpha(opacity=20);
    opacity: 1;
    transform: translate(0%, -28%);
}

.modal-title.feedbox {
    margin: 0;
    line-height: 1.42857143;
}

.modal-body.feedbox {
    position: relative;
    padding: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    height: 582px;
}

.feedtextarea.feedbox {
    padding: 00px;
    max-width: 100%;
}

.row {
    margin-right: 0;
    margin-left: 0;
}

.feedbacktext.feedbox {
    word-break: break-word;
    font-size: 18px;
    height: 549px;
    max-height: 100%;
    overflow: auto;
}

.feedback-VidImgBanner.feedbox {
    background: #d3d3d3;
}

.feedback-VidImgBanner p {
    text-align: center;
    font-size: 20px;
    line-height: 225px;
}

.modal-footer.feedbox {
    text-align: center;
    padding: 15px;
}

.btn.viewreport {
    background-color: #2c3545;
    border-color: #2c3545;
    outline: none;
    color: #fff;
    height: 50px;
    border-radius: 0;
    transition: all ease 0.5s;
}

.feedimage {
    width: 74%;
}

.feedback-ImgBanner {
    text-align: center;
    padding-bottom: 30px;
}




/*-----------------------------
--------Feedback Popup---------
-----------------------------*/

.quest_template_btn {
    text-align: center;
}

.qusTempimg {
    max-width: 600px;
}

.QusTempBtn {
    text-align: center;
}

button.hideQTmp {
    border: 0px solid transparent;
    background: transparent;
    outline: 0px;
}

.ShortMinus-Option img {
    width: 20px;
    margin-top: 15px;
}

a.delete_assets {
    margin-left: 5px;
}

#sortq_items_assets, #swipq_items_assets {
    display: inline-flex;
}

.video-js .vjs-tech {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.tooltip.mtfq_assets.disabled .tooltiptext,
.tooltip.mtff_assets.disabled .tooltiptext,
.tooltip.sq_assets.disabled .tooltiptext,
.tooltip.sqf_assets.disabled .tooltiptext,
.tooltip.sortq_assets.disabled .tooltiptext, 
.tooltip.sortf_assets.disabled .tooltiptext, 
.tooltip.mcq_assets.disabled .tooltiptext, 
.tooltip.mcqf_assets.disabled .tooltiptext, 
.tooltip.mmcq_assets.disabled .tooltiptext, 
.tooltip.mmcqf_assets.disabled .tooltiptext,
.tooltip.videoq_assets_1.disabled .tooltiptext, 
.tooltip.videoqf_assets_1.disabled .tooltiptext, 
.tooltip.swipq_assets.disabled .tooltiptext, 
.tooltip.swipqf_assets.disabled .tooltiptext {
    display: none;
}

.slide-left {
	-webkit-animation: slide-left 1s linear 1s both;
			animation: slide-left 1s linear 1s both;
}

@-webkit-keyframes slide-left {
  0% {
	-webkit-transform: translateX(100%);
			transform: translateX(100%);
  }
  100% {
	-webkit-transform: translateX(0);
			transform: translateX(0);
  }
}
@keyframes slide-left {
  0% {
	-webkit-transform: translateX(100%);
			transform: translateX(100%);
  }
  100% {
	-webkit-transform: translateX(0);
			transform: translateX(0);
  }
}

.modal-backdrop.in {
   /* z-index: -9; */
}

.Question-VidImgBanner .video-js[tabindex="-1"] {
    outline: 0;
    width: 100%;
    height: 100%;
}

.feedback-VidImgBanner .video-js[tabindex="-1"] {
    outline: 0;
    width: 100%;
    height: 100%;
}

.dropdown-menu.buttom {
    top: -110Px;
}

.seqoptions {
	padding: 18px;
}

.swipeoptions {
    background-color: white;
    border: 1px solid white;
    padding: 8px;
    height: 220px;
    max-height: 100%;
    color: #455a64;
    overflow-wrap: break-word;
}

.swipeoptions .swipecontent {
    overflow: auto;
    height: 55px;
    width: 100%;
    word-break: break-word;
}

.active.center .swipeoptions {
    background-color: #428bca;
    color: #455a64;
    border: 1px solid #428bca;
    transition: all ease 0.5s;
}

.option_QusScore {
    display: flex;
}

.option_QusScore .QusScore {
    width: 56px;
    padding-right: 11px;
}

.web_icon .st0 {
    display: block;
}

ul.side-menu-list.nav.nav-tabs a {
    padding: 10px;
}
ul.side-menu-list.nav.nav-tabs .svg {
    width: 36px;
}
.side-menu-list.nav.nav-tabs>li.active>a path, .side-menu-list.nav.nav-tabs>li.active>a:focus path, .side-menu-list.nav.nav-tabs>li.active>a:hover path {
    fill: #2C3545;
}


/*------neelam-----------------*/

.Learnar-dashboard-E2 .flexMain {
    display: flex;
    flex-wrap: nowrap;
	width:100%
}
.L-E-box .col-sm-4 {
    margin-right: 5px;
}
.col.flexItem70 {
    width: 70%;
    margin-right: 40px;
}
.col.flexItem30 {
    width: 30%;
}
.SearchboxE2 {
    display: inline-block;
    position: relative;
    margin-top: 40px;
}
.SearchboxE2 input {
    height: 50px;
    background: #fff;
    border: 1px solid #e2e2e2;
	width:250px;
}
.SearchboxE2 .input-group-append.serchBTN{
	padding-top:15px;
}
img.img-fluid {
    max-width: 100%;
}
.L-E2part-4 .col-sm-3,
.L-E2part-4 .col-sm-6 {
    margin-top: 40px;
}
.L-E2part-4 .col-sm-3{
	border-right:1px solid #e2e2e2;
}
.L-E2part-4 .col-sm-12{
    margin-top: 25px;
}
.L-E2part-4 .col-sm-3 h5,
.L-E2part-4 .col-sm-6 h5{
    text-align: center;
}
.Echart p{
	font-size:16px;
	color:#fff;
}
.Echart img{
	width:100%;
}
.Echart{
	background:#11375b;
	padding:15px;
	margin-bottom:15px;
}
.Echart.B4{
	background:#dc713d;
}
.Echart.B5{
	background:#f7b642;
}
.Echart.B5 p{
	color:#000;
}
.L-calender .input-group-addon {
    background: transparent;
    border: none;
}

.L-calender input#reportrange {
    background: #fff;
    border: none;
    box-shadow: none;
    border-bottom: 1px solid #e2e2e2;
}
.L-calender .fa.fa-calendar {
    font-size: 25px;
	color:#edb007;
}
.F20{
	font-size:25px;
	font-weight:600;
}
.register_password1 {
    display: flex;
}
input#password_1 {
    border-right: 0px solid;
}
.input-group-append {
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    color: #555;
    text-align: center;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left: 0px;
}
.password-strength__visibility {
    background-color: white;
    padding: 5px 12px;
}
.progress, .progress1 {
    box-shadow: inset 0 0px 0px rgba(0, 0, 0, .1);
    margin-top: -13px;
    border: 0px solid #CCCCCC;
    background-color: #d8e3ea;
    height: 10px;
    margin-bottom: 9px;
}
.progress {
    margin-left: 30px;
    margin-right: 30px;
}
.progress-bar {
    font-size: 9px;
    line-height: 7px;
}
.bg-danger {
    background-color: #ec583f;
}
.bg-success {
    background-color: #39c26d;
}
.bg-info {
    background-color: #17a2b8;
}
.bg-warning {
    background-color: #f6a61d;
}
.web_icon .st0 {
    display: block;
}

ul.side-menu-list.nav.nav-tabs .svg {
    width: 36px;
}
.side-menu-list.nav.nav-tabs>li.active>a path, .side-menu-list.nav.nav-tabs>li.active>a:focus path, .side-menu-list.nav.nav-tabs>li.active>a:hover path {
    fill: #2C3545;
}

/*------neelam-----------------*/

.Learnar-dashboard-E2 .flexMain {
    display: flex;
    flex-wrap: nowrap;
	width:100%
}
.col-container {
    display: flex;
    width: 100%;
    background: #fff;
    padding-top: 15px;
    padding-right: 15px;
    padding-bottom: 15px;

}

.col.flexItem70 {
    width: 70%;
    margin-right: 15px;
}

.col.flexItem30 {
    width: 30%;
}

.green {
	background: #416632;
	display: inline-block;
	padding: 15px;
	color:#fff;
	text-align:center;
	}

.blue {
    background: #6e8b53;
    display: inline-block;
    padding: 15px;
	color:#fff;
	text-align:center;
}
.SearchboxE2 {
    display: inline-block;
    position: relative;
    margin-top: 40px;
}

.SearchboxE2 input {
    height: 50px;
    background: #fff;
    border: 1px solid #e2e2e2;
	width:250px;
}
.SearchboxE2 .input-group-append.serchBTN{
	padding-top:15px;
}
img.img-fluid {
    max-width: 100%;
}
.L-E2part-4 .col-sm-3,
.L-E2part-4 .col-sm-6 {
    margin-top: 40px;
}
.L-E2part-4 .col-sm-3{
	border-right:1px solid #e2e2e2;
}
.L-E2part-4 .col-sm-12{
    margin-top: 25px;
}
.L-E2part-4 .col-sm-3 h5,
.L-E2part-4 .col-sm-6 h5{
    text-align: center;
}
.Echart p{
	font-size:16px;
	color:#fff;
}
.Echart img{
	width:100%;
}
.Echart{
	background:#11375b;
	padding:15px;
	margin-bottom:15px;
}
.Echart.B4{
	background:#dc713d;
}
.Echart.B5{
	background:#f7b642;
}
.Echart.B5 p{
	color:#000;
}
.L-calender .input-group-addon {
    background: transparent;
    border: none;
}

.L-calender input#reportrange {
    background: #fff;
    border: none;
    box-shadow: none;
    border-bottom: 1px solid #e2e2e2;
}
.L-calender .fa.fa-calendar {
    font-size: 25px;
	color:#edb007;
}
.F20{
	font-size:25px;
	font-weight:600;
}
.datebottontext .svg {
    width: 25px;
	margin-left:40px;
}
.L-E-text .svg{
	width:35px;
	margin-left:10px;
}
.align-middle {
    vertical-align: middle;
}
.LE2-top{
	margin-bottom:30px;
	margin-top:20px;
}
.DropboxE2{
	margin-top:40px;
}
.DropboxE2 .form-control{
	height:50px;
	border-radius:0;
	box-shadow:none;
}
.DropboxE2 select.form-control {
	background: url(../../img/br_down.png) no-repeat right #fff;
}
.DropboxE2 select.form-control:focus{
	background: url(../../img/br_up.png) no-repeat right #fff;
}
.regbtn_mobile {
    display: none;
}

.Tablecomp.table>tbody>tr>th,
.Tablecomp.table>tbody>tr>td{
	padding:5px;
}
.learner_download_btn_phone {
	display:none;
}