body {
	font-size: 14px;
	font-family: Segoe UI;
	background-color: #f1f3f4
}
.container-field {
	width: 90%;
	margin-left: 5%;
	margin-right: 5%;
}
.login-form {
	margin: 50px auto;
}
.login-form form {
	margin-bottom: 15px;
	background: #f7f7f7;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
	padding: 30px;
}
.login-form h2 {
	margin: 0 0 15px;
}
.form-control, .btn {
	min-height: 45px;
	border-radius: 2px;
}
.btn {
	font-size: 15px;
	font-weight: bold;
}
a {
	color: black;
}
a:hover {
	color: black;
}
.btn1 {
	margin-top: 20px;
	display: inline-block;
}
.image-upload img {
	cursor: pointer;
}
img {
	max-width: 100%;
	height: auto;
}
.header1 {
	background-color: #bdc1c3;
	padding: 6px;
	color: #fff;
	font-size: 24px;
	position: Fixed;
	width: 100%;
	z-index: 1
}
.fixed-footer {
	width: 100%;
	position: fixed;
	padding: 10px 0;
	color: #fff;
	bottom: 0;
	background-color: #333333;
	text-align: left;
}
.plus {
	margin-bottom: 10px;
	padding-left: 0px;
	padding-right: 0px;
	position: relative;
}
.bottom-left {
	position: absolute;
	color: white;
	font-size: 24px;
	background-color: #343434;
	width: 100%;
	padding: 28px;
	margin-top: -90px;
	opacity: 0.9;
}
.feedback {
	background-color: #dfe1e2;
	display: none;
}
.modal {
	/*display: block;*/
	padding-right: 0px;
	background-color: rgba(4, 4, 4, 0.8);
}
.modal-content {
	border-radius: 0px;
	border: none;
	top: 40%;
}
.modal-header {
	border-top: 10px solid #F68972;
	border-bottom: none;
	color: white;
}
.modal-title {
	color: red;
}
.modal-body1 {
	padding-top: 5%;
	padding-bottom: 8%;
}
.modal-body1 {
	padding-top: 3%;
	padding-bottom: 4%;
	padding-left: 2%;
	padding-right: 2%;
}
.modal-body2 {
	padding-top: 3%;
	padding-bottom: 4%;
	padding-left: 2%;
	padding-right: 2%;
}
/*  question css */

.option {
	margin: 0px auto;
	min-height: 42px;
	background: #fff;
	color: #000;
	float: left;
	width: 100%;
	cursor: pointer;
	position: relative;
	margin-bottom: 10px;
	font-size: 18px;
}
.input_box {
	width: 48px;
	float: left;
	height: 100%;
	text-align: center;
	position: absolute;
	background-color: #F68972
}
.questionTextWidth {
	width: 100% !important;
	box-sizing: border-box !important;
	padding: 0.4em 10px 0.4em 68px !important;
}
.questionContainer {
	margin-bottom: 10px;
}
/*  end question css */

/*  Response Panel */

.main_div {
	text-align: center;
	padding: 20px;
	width: 400px;
}
.inner_div {
	background: #fff;
	margin-top: 20px;
	height: 100px;
}
.buttons a {
	font-size: 16px;
}
.buttons a:hover {
	cursor: pointer;
	font-size: 16px;
}
/*  end Response Panel */

.carousel {
	margin-bottom: 0;
	padding: 0 40px 30px 40px;
}
/* The controlsy */

.carousel-control {
	left: -12px;
	height: 40px;
	width: 40px;
	background: none repeat scroll 0 0 #f68972;
	border: 4px solid #FFFFFF;
	border-radius: 23px 23px 23px 23px;
	margin-top: 90px;
}
.carousel-control.right {
	right: -12px;
}
/* The indicators */

.carousel-indicators {
	right: 50%;
	top: auto;
	bottom: -10px;
	margin-right: -19px;
}
/* The colour of the indicators */

.carousel-indicators li {
	background: #cecece;
}
.carousel-indicators .active {
	background: #428bca;
}
.calling {
	display: inline-flex;
}
.btn-circle {
	width: 30px;
	height: 30px;
	text-align: center;
	border-radius: 15px;
}
.btn-circle.btn-lg {
	width: 50px;
	height: 50px;
	padding: 9px 13px;
	font-size: 18px;
	border-radius: 25px;
}
.btn-default {
	border-color: #F68972;
}
/*#quiz1 {
	background-color: #3b3b3b;
	padding: 10px;
}
#quiz2 {
	background-color: #3b3b3b;
	padding: 10px;
}
#quiz3 {
	background-color: #3b3b3b;
	padding: 10px;
}
#quiz4 {
	background-color: #3b3b3b;
	padding: 10px;
}
#quiz5 {
	background-color: #3b3b3b;
	padding: 10px;
}*/
.col-sm-1 {
	width: 19.333%;
}
.img1 {
	max-width: 100%
}
.creatqa {
	margin-top: 50px;
}
.nav > li > a {
	position: relative;
	display: block;
	padding: 8px 15px;
}
.text {
	padding: 30px;
}
.logo {
	max-width: 100%;
	height: auto;
	margin-top: 11px;
}
#imageUpload {
	display: none;
}
#profileImage {
	cursor: pointer;
}
#profile-container {
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
}
#profile-container img {
	width: 150px;
	height: 150px;
}
#imageUpload1 {
	display: none;
}
#profileImage1 {
	cursor: pointer;
}
#profile-container1 {
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
}
#profile-container1 img {
	width: 237px;
	height: 136px;
}
.form-submit-button {
	background: #73CDD6;
	color: #fff;
	border: 1px solid #eee;
	box-shadow: 10px 10px 10px #eee;
	text-shadow: none;
	width: 10em;
	height: 3.5em;
}
.form-submit-button:hover {
	background: #508f95;
	color: #fff;
	border: 1px solid #eee;
	box-shadow: 10px 10px 10px #eee;
	text-shadow: none;
	width: 10em;
	height: 3.5em;
}
.modal-lg {
	width: 70%;
	/* New width for large modal */
	height: auto;
}
.modal-lg1 {
	width: 60%;
	/* New width for large modal */
	height: auto;
}
.move {
	position: absolute;
	margin-left: -28%;
	margin-top: 30px;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;
}
th, td {
	text-align: left;
	padding: 8px;
	padding-left: 60px;
}
tr {
	background-color: #fff;
	border: 1px solid #F1F3F4;
}
h3 {
	color: #73CDD6;
}
.popupmodel {
	margin-top: 100px;
}
 @media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px) {
.popupmodel {
	margin-top: 100px;
}
}



/*  --------------------------------------------   */

@media (min-width: 992px) and (max-width: 1199px) {
.visible-md-inline {
	display: inline !important;
}
.bottom-left {
	position: absolute;
	color: white;
	font-size: 24px;
	background-color: #343434;
	width: 100%;
	padding: 19px;
	margin-top: -72px;
	opacity: 0.9;
}
.col-sm-1 {
	width: 19.333%;
	padding-left: 5px;
	padding-right: 5px;
}
.header1 {
	background-color: #bdc1c3;
	padding: 6px;
	color: #fff;
	font-size: 24px;
	position: Fixed;
	width: 100%;
	z-index: 1
}
.img1 {
	max-width: 100%
}
.creatqa {
	margin-top: 50px;
}
.fixed-footer {
	width: 100%;
	position: fixed;
	padding: 10px 0;
	color: #fff;
	bottom: 0;
	background-color: #333333;
	text-align: center;
}
.modal-lg {
	width: 90%;
	/* New width for large modal */
	height: auto;
}
.modal-lg1 {
	width: 90%;
	/* New width for large modal */
	height: auto;
}
.move {
	position: absolute;
 margin-left: -33%%;
	margin-top: 30px;
}
.popupmodel {
	margin-top: 100px;
}
}
 @media (min-width: 768px) and (max-width: 991px) {
.hidden-sm {
	display: none !important;
}
.col-md-12 {
	width: 100%;
	float: left;
}
.bottom-left {
	position: absolute;
	color: white;
	font-size: 17px;
	background-color: #343434;
	width: 100%;
	padding: 13px;
	padding-bottom: 13px;
	margin-top: -53px;
	opacity: 0.9;
	padding-bottom: 6px;
}
.header1 {
	background-color: #bdc1c3;
	padding: 6px;
	color: #fff;
	font-size: 24px;
	position: Fixed;
	width: 100%;
	z-index: 1
}
.col-sm-1 {
	width: 19.333%;
	padding-left: 5px;
	padding-right: 5px;
}
.img1 {
	max-width: 100%
}

.calling {
	display: inline-flex;
}
.creatqa {
	margin-top: 0px;
}
.fixed-footer {
	width: 100%;
	position: fixed;
	padding: 10px 0;
	color: #fff;
	bottom: 0;
	background-color: #333333;
	text-align: center;
}
.modal-lg {
	width: 90%;
	/* New width for large modal */
	height: auto;
}
.modal-lg1 {
	width: 90%;
	/* New width for large modal */
	height: auto;
}
.move {
	position: absolute;
 margin-left: -33%%;
	margin-top: 30px;
}
.popupmodel {
	margin-top: 100px;
}
}
 @media (max-width: 767px) {
.hidden-xs {
	display: none !important;
}
.col-md-12 {
	width: 100%;
	float: left;
}
.bottom-left {
	position: absolute;
	color: white;
	font-size: 17px;
	background-color: #343434;
	width: 100%;
	padding: 11px;
	margin-top: -52px;
	opacity: 0.9;
}
.header1 {
	background-color: #bdc1c3;
	padding: 6px;
	color: #fff;
	font-size: 24px;
	position: Fixed;
	width: 100%;
	z-index: 1
}
.creatqa {
	margin-top: 0px;
}
.col-sm-1 {
	padding-left: 5px;
	padding-right: 5px;
}
.img1 {
	max-width: 100%
}

.calling {
	display: inline-flex;
}
.fixed-footer {
	width: 100%;
	position: fixed;
	padding: 10px 0;
	color: #fff;
	bottom: 0;
	background-color: #333333;
	text-align: center;
}
.logo {
	max-width: 100%;
	height: auto;
	margin-top: 19px;
	margin-left: 15px;
}
.modal-lg {
	width: 90%;
	/* New width for large modal */
	height: auto;
}
.modal-lg1 {
	width: 90%;
	/* New width for large modal */
	height: auto;
}
.move {
	position: absolute;
 margin-left: -33%%;
	margin-top: 30px;
}
.popupmodel {
	margin-top: 100px;
}
}
 @media only screen and (min-device-width: 280px) and (max-device-width: 667px) {
.hidden-xs {
	display: none !important;
}
.bottom-left {
	position: absolute;
	color: white;
	font-size: 17px;
	background-color: #343434;
	width: 100%;
	padding: 11px;
	margin-top: -52px;
	opacity: 0.9;
}
.fixed-footer {
	width: 100%;
	position: fixed;
	padding: 10px 0;
	color: #fff;
	bottom: 0;
	background-color: #333333;
	text-align: center;
}
.creatqa {
	margin-top: 0px;
}
.header1 {
	background-color: #bdc1c3;
	color: #fff;
	font-size: 14px;
	position: Fixed;
	width: 100%;
	z-index: 1
}

.calling {
	display: inline-flex;
}
.col-md-12 {
	width: 100%;
	float: left;
}
.img1 {
	max-width: 100%
}
.col-sm-1 {
	padding-left: 0px;
	padding-right: 0px;
}
.audio {
	display: none;
}
.nav > li > a {
	position: relative;
	display: block;
	padding: 8px 11px;
}
.logo {
	max-width: 100%;
	height: auto;
	margin-top: 19px;
	margin-left: 15px;
}
.text_button {
	display: none;
}
.modal-lg {
	width: 90%;
	/* New width for large modal */
	height: auto;
}
.modal-lg1 {
	width: 90%;
	/* New width for large modal */
	height: auto;
}
.move {
	position: absolute;
 margin-left: -33%%;
	margin-top: 30px;
}
.blink {
	-moz-animation: blink normal 2s infinite ease-in-out;
	/* Firefox */
	-webkit-animation: blink normal 2s infinite ease-in-out;
	/* Webkit */
	-ms-animation: blink normal 2s infinite ease-in-out;
	/* IE */
	animation: blink normal 2s infinite ease-in-out;/* Opera and prob css3 final iteration */
}
 @keyframes blink {
 0% {
 box-shadow: 0px 0px 20px 10px white;
}
 50% {
 box-shadow: 0 0 0 0;
}
 100% {
 box-shadow: 0px 0px 20px 10px white;
}
}
.circle-icon {
	background: #F68972;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	text-align: center;
	line-height: 45px;
	vertical-align: middle;
}
.popupmodel {
	margin-top: 100px;
}
}
 @media only screen and (max-width: 760px),  (min-device-width: 768px) and (max-device-width: 1024px) {

.dashboardTable {
	border: 1px solid #c5c6c6;
	margin-top: 10px;
	box-shadow: 2px 2px white;
}
.w3-btn, .w3-btn:link, .w3-btn:visited {
	color: #FFFFFF;
	text-align: center;
}
a.btnviewall, a.btnviewall:link, a.btnviewall:visited {
	background-color: #F39913;
	padding : 10px 10px 2px 10px;
	float: right;
	border: solid 1px;
	width: 150px;
	height: 40px;
}
a.btnviewall:hover, a.btnviewall:active {
	background-color: #ffffff;
	padding : 10px 10px 2px 10px;
	float: right;
	border: solid 1px;
	color: #F39913;
	text-decoration: none;
}
a.btnviewall:hover {
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
a.btncalltoaction, a.btncalltoaction:link, a.btncalltoaction:visited {
	text-decoration: none;
	width: 5px;
	opacity: 0.5
}
a.btncalltoaction:hover, a.btncalltoaction:active {
	text-decoration: none;
	opacity: 0.9
}
a.btncalltoaction:hover {
	text-decoration: none;
	opacity: 0.9
}
img.icoctc {
	width: 28px;
}
#tab {
	width: 355px;
	height: 100px;
	margin: 5px;
}
#tab ul {
	width: 350px;
	height: 75px;
	margin: 1px;
	list-style: none;
	padding: 0;
}
#tab .left {
	width: 75px;
	height: 80px;
	margin: 5px;
	float: left;
	padding: 0;
}
#tab .right {
	width: 255px;
	height: 80px;
	margin: 5px;
	float: right;
	padding: 0;
}
}
