/* .tree ul { */
	/* padding-top: 20px; position: relative; */
	
	/* transition: all 0.5s; */
	/* -webkit-transition: all 0.5s; */
	/* -moz-transition: all 0.5s; */
/* } */
.grayQh {
    background: #000;
    padding: 5px 10px;
    font-size: 14px;
    color: #fff;
	width: 125px !important;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.q-icon-banner.clearfix.classicQBaN{
	margin-left: 35px;
	margin-right: 20px;
}
.grayTh {
    padding: 5px 10px;
    background: #fff;
    font-size: 14px;
    color: #000;
	width: 125px !important;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
/* .tree li { */
	/* float: left; text-align: center; */
	/* list-style-type: none; */
	/* position: relative; */
	/* padding: 20px 5px 0 5px; */
	
	/* transition: all 0.5s; */
	/* -webkit-transition: all 0.5s; */
	/* -moz-transition: all 0.5s; */
/* } */

/*We will use ::before and ::after to draw the connectors*/

/* .tree li::before, .tree li::after{ */
	/* content: ''; */
	/* position: absolute; top: 0; right: 50%; */
	/* border-top: 1px solid #2c3545; */
	/* width: 50%; height: 20px; */
/* } */
.tree li::after{
	right: auto; left: 50%;
	border-left: 1px solid #000;
}

/*We need to remove left-right connectors from elements without 
any siblings*/
.tree li:only-child::after, .tree li:only-child::before {
	display: none;
}

/*Remove space from the top of single children*/
/* .tree li:only-child{ padding-top: 0;} */

/*Remove left connector from first child and 
right connector from last child*/
/* .tree li:first-child::before, .tree li:last-child::after{ */
	/* border: 0 none; */
/* } */
/*Adding back the vertical connector to the last nodes*/
.tree li:last-child::before{
	border-right: 1px solid #000;
	border-radius: 0 0px 0 0;
	-webkit-border-radius: 0 0px 0 0;
	-moz-border-radius: 0 0px 0 0;
}
/* .tree li:first-child::after{ */
	/* border-radius: 0px 0 0 0; */
	/* -webkit-border-radius: 0px 0 0 0; */
	/* -moz-border-radius: 0px 0 0 0; */
/* } */

/*Time to add downward connectors from parents*/
/* .tree ul ul::before{ */
	/* content: ''; */
	/* position: absolute; top: 0; left: 50%; */
	/* border-left: 1px solid #2c3545; */
	/* width: 0; height: 20px; */
/* } */

/* .tree li a{ */
	/* border: 1px solid #ccc; */
	/* text-decoration: none; */
	/* color: #666; */
	/* font-family: arial, verdana, tahoma; */
	/* font-size: 11px; */
	/* display: inline-block; */
	/* position:relative; */
	/* transition: all 0.5s; */
	/* -webkit-transition: all 0.5s; */
	/* -moz-transition: all 0.5s; */
/* } */

/*Time for some hover effects*/
/*We will apply the hover effect the the lineage of the element also*/
.tree li a:hover, .tree li a:hover+ul li a {
	background: #c8e4f8; color: #000; border: 1px solid #edaf08;
}
/*Connector styles on hover*/
.tree li a:hover+ul li::after, 
.tree li a:hover+ul li::before, 
.tree li a:hover+ul::before, 
.tree li a:hover+ul ul::before{
	border-color:  #000;
}


/*--------------------branching start-------------------*/
* {margin: 0; padding: 0;}
.tree.branching_tree {
    text-align: center;
    margin: 0 auto;	
    padding-top: 50px;
}

.branching_tree ul {
    padding-top: 20px; position: relative;

    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
}

.branching_tree li {
display: inline-block;
white-space: nowrap;
vertical-align: top;
margin: 0 -2px 0 -2px;
text-align: center;
list-style-type: none;
position: relative;
padding: 20px 5px 0 5px;

transition: all 0.5s;
-webkit-transition: all 0.5s;
-moz-transition: all 0.5s;
}

/*We will use ::before and ::after to draw the connectors*/

.branching_tree li::before, .branching_tree li::after{
    content: '';
    position: absolute; top: 0; right: 50%;
    border-top: 1px solid #000;
    width: 50%; height: 20px;
}
.branching_tree li::after{
    right: auto; left: 50%;
    border-left: 1px solid #000;
}

/*We need to remove left-right connectors from elements without 
any siblings*/
.branching_tree li:only-child::after, .branching_tree li:only-child::before {
    display: none;
}

/*Remove space from the top of single children*/
.branching_tree li:only-child{ padding-top: 0;}

/*Remove left connector from first child and 
right connector from last child*/
.branching_tree li:first-child::before, .branching_tree li:last-child::after{
    border: 0 none;
}
/*Adding back the vertical connector to the last nodes*/
.branching_tree li:last-child::before{
    border-right: 1px solid #000;
    border-radius: 0 5px 0 0;
    -webkit-border-radius: 0 5px 0 0;
    -moz-border-radius: 0 5px 0 0;
}
.branching_tree li:first-child::after{
    border-radius: 5px 0 0 0;
    -webkit-border-radius: 5px 0 0 0;
    -moz-border-radius: 5px 0 0 0;
}

/*Time to add downward connectors from parents*/
.branching_tree ul ul::before{
    content: '';
    position: absolute; top: 0; left: 50%;
    border-left: 1px solid #000;
    width: 0; height: 20px;
}

.branching_tree li a{
    border: 1px solid #ccc;
    padding: 0px;
    text-decoration: none;
    color: #000;
    font-family: arial, verdana, tahoma;
    font-size: 11px;
    display: inline-block;
    border-radius: 0px !important;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
	position: relative;
    -moz-transition: all 0.5s;
}

/*Time for some hover effects*/
/*We will apply the hover effect the the lineage of the element also*/
.branching_tree li a:hover, .branching_tree li a:hover+ul li a {
    background: #c8e4f8; color: #000; border: 1px solid #94a0b4;
}
/*Connector styles on hover*/
.branching_tree li a:hover+ul li::after, 
.branching_tree li a:hover+ul li::before, 
.branching_tree li a:hover+ul::before, 
.branching_tree li a:hover+ul ul::before{
    border-color:  #94a0b4;
}
/*-------------------------branching-tree-end------------------------------------*/
.ApendShortOption-banner.shortINGinput .ApendShortOption-box:first-child .shortbox2 ,
.ApendShortOption-banner.shortINGinput .ApendShortOption-box .SA-choicebox{
    width: 101%;
}
.classicQ .QueBoxIcon.feedQ h5 {
    padding-left: 5px;
}
.Ansbox.LinerClassicTMPAns .AnsHeading {
    margin-left: 0;
}
img.img-fluid.info_icon {
    display: inline-block;
    width: 15px;
    float: right;
}
.add_question_block {
    position: absolute;
    bottom: -6px;
    right: 40%;
	z-index:9;
}
.MCQOption.bannermcq .checkstyle,
.MMCQOption.bannermcq .checkstyle {
    right: 30px !important;
}
.add_question_block img {
    width: 16px;
}

#wrapper {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-right: 0px;
}
.form-group.formwidth {
    margin-bottom: 3px;
}
.checkbox.radiobtn.bluecheckbox.OneCharIMG {
	margin-left: 70px;
	margin-top:0px;
}
#sidebar-wrapper {
    z-index: 20;
    position: fixed;
    right: 0;
    height: calc(100% - 130px);
    width: 0;
    overflow-y: auto;
    background: #e5e6e6;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
	top: 72px;
}
.multiDropbox .box.navy {
    position: relative;
    width: 100%;
    left: unset;
    right: unset;
    top: unset;
    transform: unset;
	margin-top:2px;
	border:2px solid #abdd89;
}
.coloredittool {
	width: 25%;
}
.widthQ100.classic-template {
    padding-left: 215px;
}
.widthQ100.branchingclassic-template {
    padding-left: calc(100% - 63%);
	padding-right: 50px;
}
.Simulation_det.BSimulation_det .skilQue {
    padding-left: 30px;
}
.Simulation_det.BSimulation_det .skills{
	padding-right: 15px;
}
.MatchingQusTextmtf.bounce.animated h3 {
    margin-top: 0;
}
 .main_sim_scroll.TogglelistwidthQ100 .skilQue {
    padding-left: 40px;
}
.flex33 {
    display:flex;
	flex-wrap: wrap;
	position:relative;
}

.flex33.DCbanner{
    justify-content: center;
    margin-left: -40px;
    padding: 0 15px;
}
.flexheight33 {
    flex: 0 0 25%;
    padding: 0px 8px;
	position:relative;
}
.qusHeading .MatchingQusTextmtf.bounce.animated p {
    margin-bottom: 0;
}
.widthQ100.classic-template.TogglelistwidthQ100,
.widthQ100.branchingclassic-template.TogglelistwidthQ100 {
    padding-left: 20px;
}
.coloredittool-box {
	display: flex;
}
.multiDBDbox img {
    width: 100%;
    display: block;
    margin: 0 auto;
    padding: 12px;
}
button:focus {
    outline: 1px solid transparent;
    outline-offset: -4px;
}
.multiDBDbox {
    background: #fff;
    height: 270px;
}
.Drag_Drop.imgDNDS .multiDBDbanner{	
	margin-top:5px;
}
.Drag_Drop.imgDNDS .dragBox {
    border-style: dotted;
	border: 2px dotted #ececec;
	background: #ffffff40 !important;
}
.mtfqq_assets_data {
    display: inline-block;
}
#left-wrapper {
	z-index: 9;
    position: fixed;
    left: 50px;
    height: calc(100% - 128px);
    width: 195px;
    overflow-y: auto;
    background: #e5e6e6;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    border-right: 1px solid #b7b6b6;
    top: 72px;
    overflow: hidden;
}
.zoombranching-banner {
    position: absolute;
    right: 10px;
    top: 40%;
}
.zoombranching-banner svg {
    width: 20px !important;
    padding-bottom: 5px;
	cursor:pointer;
}

.zoombranching-banner li {
    width: 13px;
    background: #b7b6b6;
    height: 2px;
    margin-bottom: 5px;
    margin-left: 4px;
}
.zoombranching-banner svg:hover path{
	fill:#edb007;
}
.topbannericon.topbannericon40 {
    background: #b7b6b6;
    position: fixed;
    width: calc(100% - 65%);
	transition: all 0.5s ease;
}
.topbannericon.topbannericon40.topleftremclass {
    width: 0;
}
.list-icon.list-icon40 {
    width: 100%;
    transition: all 0.5s ease;
    position: absolute;
    bottom: 0;
}
.toggledlist .list-icon.list-icon40{
	width: 0;
}
#left-wrapper40 {
    z-index: 99;
    position: fixed;
    left: 50px;
    height: calc(100% - 128px);
    width: calc(100% - 65%);
    background: #e5e6e6;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
	border-right:1px solid #b7b6b6;
	top:72px;
	overflow: hidden;
}
.question-list-banner {
    height: calc(100% - 84px);
    overflow: hidden;
}
.quest_template_btn.Q-left a {
    padding: 0 25px;
}
.quest_template_btn.Q-leftbranching a {
    padding: 0 25px;
}
.svg.close_panel.replaced-svg {
	width: 25px !important;
}
ul.side-menu-list.nav.nav-tabs a {
    cursor: pointer;
}
#wrapper.toggled #sidebar-wrapper{
    width: 195px;
}
#wrapper.toggledlist #left-wrapper, 
#wrapper.toggledlist .topbannericon {
    width: 0px;
}
#wrapper.toggledlist #left-wrapper40 {
    width: 0px;
}

ul.nav.nav-QusTempTab .active,
ul.nav.nav-QusTempTab li:hover {
   background-Color:#000;
}
.QusTempBanner .nav-QusTempTab {
    border-bottom: none;
	padding-top: 58px;
}
.nav>li>a:focus, .nav>li>a:hover, .nav>li>a:active {
    background-Color:#000;
}
.nav.nav-QusTempTab>li>a:focus, .nav.nav-QusTempTab>li>a:hover, .nav.nav-QusTempTab>li>a:active {
	background-Color:#000;
}
.Check-box.suffel.VSuffle {
    padding-right: unset;
}
#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding-left: 40px;
}
.tab-pane.fade.in {
    padding-left: 0px;
}
#wrapper.toggled #page-content-wrapper {
    position: absolute;
}
/* Sidebar Styles */
.sidebar-nav {
    position: absolute;
    top: 0;
    width: 195px;
    margin: 0;
    padding: 0;
    list-style: none;
}
.videoboxBanner.videoboxBannerPB .VideoTimebox {
    display: none;
}

.videoboxBanner.videoboxBannerPB {
    padding-bottom: 15px;
    padding-top: 15px;
}
.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}
.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999999;
}
.radiomark.SelC {
    top: 0;
    left: -50px;
}
.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
}
.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}
.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}
.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}
.nav-QusTempTab{
	padding:9px 9px;
}
ul.nav.nav-QusTempTab li {
    background: #000;
    margin-bottom: 5px;
	padding:7px;
}
ul.nav.nav-QusTempTab li{
	text-align:center;
}
ul.nav.nav-QusTempTab .VideoQ .svg {
    width: 95px !important;
}
svg.img-fluid.svg.replaced-svg {
    width: 95px;
    display: block;
    margin: 0 auto;
}
.row.back-margin {
    margin-left: 30px;
	margin-top: 30px;
}
.row.char-margin{
	margin-top:20px;
}
.user_text {
    font-size: 16px;
    font-weight: bold;
	margin-bottom: 10px;
}
.row.back-margin .radiostyle {
    padding-left: 45px;
    margin-top: -5px;
}

.radiomark.white{
	top:0;
}
.ui-state-default a {
    display: inline-block;
}
.ui-state-default{
	border-bottom:1px solid #ccc;
	margin-bottom:0px;
	width:100%;
	background: #efefef;
}
.ui-state-default:hover {
    background: #e2e2e2;
}
span.ui-icon.ui-icon-arrowthick-2-n-s {
	padding-left: 15px;
	font-size: 18px;
	color: #c3c4c4;
	cursor:pointer;
}

.ui-state-default .form-control.ques_no {
    height: unset;
    margin-left: 10px;
}
.Scen-preview.bgsi img {
    width: 150px !important;
}
.Group_managment .container{
    width: 98%;
}
.browsebtncreate {
    margin: 0 auto;
    text-align: right;
    margin-bottom: 20px;
}
.dropdown-header{
	font-size:14px;
	color:#000;
	font-weight:600;
}
.user_text.addtext {
    margin-top: 20px;
}
.Scen-preview.edit-sim img {
    width: 150px !important;
}
button.btn.btn-edititem.dropdown-toggle {
    background: #fff;
    border-radius: 0;
    border: 1px solid #ccc;
	position:absolute;
}
.branding-color .dropdown-menu {
	position: relative;
	top: 31px;
	left: 0;
	border-radius: 0px;
	-webkit-box-shadow: none;
	box-shadow: none;
}


.addsce-img.bgsi {
	padding-left: 45px;
}
.user_text.fonts {
    margin-top: 40px;
    margin-bottom: 20px;
}
	span.colorb {
    margin-right: 10px;
	margin-top: 7px;
	width:120px;
}
input#type-color-on-page {
    margin-top: 7px;
}
.form-control.tcounter {
    width: 58px;
    padding-right: 5px;
}
.quest_template_btn {
    position: fixed;
    right: 0;
    z-index: 9999;
    height: calc(100% - 180px);
    background: #bbbbbb;
	width:35px;
	top:121px;
}
.quest_template_btn.Q-left {
    left: 50px;
}
.quest_template_btn.Q-leftbranching {
    left: 50px;
}
.quest_template_btn a {
    border: none;
    background: none;
    padding: 6px 25px;
	border-radius:0;
	background:#bbbbbb;
	-webkit-backface-visibility: hidden;
	-webkit-transform: translateX(-84%) rotate(90deg);
	-webkit-transform-origin: right top;
	-moz-transform: translateX(-84%) rotate(90deg);
	-moz-transform-origin: right top;
	-o-transform: translateX(-84%) rotate(90deg);
	-o-transform-origin: right top;
	transform: translateX(-84%) rotate(90deg);
	transform-origin: right top;
	font-weight:bold;
	margin-top:430px;
}
.tab-content{
	padding-left:0;
}
.Simulation_det{
	padding-left:28px;
	
}
.question_tree_banner.tab-content.clearfix{
	margin-left:0px;
}
.Simulation_det.clearfix {
    padding-left: 28px;
}
.previewQus.Sbtn img {
    width: 35px !important;
}

.Simulation_det.stopb.clearfix h3 {display: table-cell;}
.previewQus {
    text-align: right;
    width: unset;
    margin-top: unset;
    float: unset;
    display: table-cell;
	vertical-align: middle;
	padding-top: 5px;
}
.Radio-box, .Check-box{
	height:unset !important;
}
.Simulation_det.stopb.clearfix {
    display: table;
	position:fixed;
	z-index:9;
	width:98%;
}
.Simulation_det.stopb.clearfix.unsetp{
	position:unset;
	width:100%;
	margin-top:68px;
}
.btn-default.active, .btn-default.focus, .btn-default:active, .btn-default:focus, .btn-default:hover, .open>.dropdown-toggle.btn-default{
	background:#bbbbbb;
}

#Qimage-holder img {
    width: 80px;
}
.quesbox .form-control, .Ansbox .form-control{
	height: 45px;
	box-shadow:none;
}

.col-sm-12.DND02Q {
	width: 95.6%;
	margin-top: 10px;
}
.TogglelistwidthQ100 .widthQ100.branchingmultitemp {
    padding-left: 0;
}
.AnsHeading{
	margin-top:25px;
	margin-left:15px;
}
/*.question-list-banner {
    position: fixed;
    height: calc(100% - 243px);
    background: #e5e6e6;
	 border-right: 1px solid #b7b6b6;
}*/
.DNDOption-box2 {
    display: inline-flex;
    width: 100%;
}
.MatchOption-box1 .col-sm-6 {
    padding: 0;
}
.question-list li,
.Cuequestion-list li {
    padding: 5px 1px;
	padding-left:5px;
	font-size:18px;
}

.widthQ100.multitemp{
	display: block;
	width: 102%;
	padding-left:215px;
	padding-top:50px;
	padding-bottom:20px;
}

.widthQ100.branchingmultitemp{
	display: block;
	width: 102%;
	padding-left:675px;
	padding-top:50px;
	padding-bottom:20px;
}
.UpDowm img{
    width: 10px !important;
    display: inline-block;
}
span.UpDowm {
    margin-left: 40px;
}
.main_sim_scroll.M-S-branching .Simulation_det.stopb.clearfix.unsetp {
    padding-left: 760px !important;
}
.main_sim_scroll.M-S-branching.TogglelistwidthQ100 .Simulation_det.stopb.clearfix.unsetp {
    padding-left: 125px !important;
}
.main_sim_scroll.M-S-branching .skilQue {
    padding-left: 0;
}
.list-icon img {
    width: 16px;
}
.skilQue {
    display: table-cell;
	padding-left:40px;
	vertical-align: bottom;
}
li.DelIcon {
    padding-right: 7px !important;
}
.fa.fa-chevron-up.unpinvideo,
.fa.fa-chevron-down.pinvideo {
    float: right;
    padding-right: 15px;
}
.list-icon li {
    display: inline-block;
	padding: 7px 10px;
}
.previewQus.Sbtn img {
    background: transparent !important;
    border: none !important;
}
.list-icon ul{
	text-align:right;
}
.list-icon {
    position: absolute;
    bottom: 0px;
    background: #cccccc;
    width: 195px;
	z-index: 99;
}

.Option-box, .MatchOption-box1{
	margin-bottom:0px;
}
.Qusfeedback .form-control{
	margin-top:15px;
	min-height:0px;
}
.AddAns-Option img{
	margin-top:10px;
}
.Option-box, .MatchOption-box1{
	width:100%
}
ul.QueBoxIcon{	
	right:10px;
	top:8px;
}
	.branding-flex {
		display: inline-block;
    	padding-right: 30px;	
		margin-bottom: 20px;
	}
.form-group.QusScore .form-control {
    background: #edaf08;
	text-align:center;
}
#matchingQuestion, #SequanceQuestion, #DregDropQuestion, #MCQQuestion, #MMCQQuestion, #DNDQuestion, #SwapingQuestion{
	height: calc(100vh - 175px);
	overflow-y:auto;
	overflow-x:hidden;
	width: 100.8%;
	padding-right: 20px;
}
.classicTempBnnaR #matchingQuestion, .classicTempBnnaR #SequanceQuestion, .classicTempBnnaR #DregDropQuestion, .classicTempBnnaR #MCQQuestion, .classicTempBnnaR #MMCQQuestion, .classicTempBnnaR #DNDQuestion, .classicTempBnnaR #SwapingQuestion{
	padding-right: 0px;
	width: 100%;
}
.branchingclassic-tabContent #MCQQuestion,
.branchingclassic-tabContent #DNDQuestion, 
.branchingclassic-tabContent #SwapingQuestion{
	width: 101%;
    padding-right: 0px;
}
.Ansbox .col-sm-6{
	padding-right:10px !important;
}
span.QusNo {
    font-size: 18px;
    font-weight: bold;
    margin-right: 10px;
    margin-top: 3PX;
}
.matchbox .form-group{
	padding-right:2px;
	margin-bottom:3px;
}
.Ansbox .col-sm-6 {
    padding: 0;
}
span.QuesNo {
    font-size: 14px;
    font-weight: 600;
    margin-right: 5px;
    line-height: 35px;
}
.form-group.QusScore .form-control{
	padding:0;
}
.quesbox-flex .form-group{
	margin-bottom:0px;
}

.matchbox,
.Swa-box,
.Radio-box,
.Check-box,
.Video-box{
	margin-bottom:0px;
}
.question-list,
.Cuequestion-list {
    height: 100%;
    overflow: auto;
    background: #efefef;
    width: 194px;
}
.widthQ100.TogglewidthQ100,
modal.Ques-pop-style.in.TogglewidthQ100{
	padding-right:190px;
}

.widthQ100.TogglelistwidthQ100{
	padding-left:10px;
	margin-left:0px !important
}

.tab-pane .container-fluid {
    padding-left: 10px;
}
.radiomark,
.checkmark{
	top:9px;
}
.AddAns-Checkbox,
.AddAns-videobox{
	margin-top:8px;
}
.tooltip.uploadicon.mtfq_assets img {
    margin-right: 6px;
}
.radiostyle,
.checkstyle,
.radiostyle1{
	margin-top:0px;
	margin-bottom:0px;
}
.choicebox{
	margin-bottom:3px;
}
.Radio-box{
	width:100%
	margin-bottom:0px;
}
.AddAns-Radio{
	margin-top:7px;
}
ul.QueBoxIcon.feed.LMfeed {
    padding-bottom: 5px;
}
.browse{
	height:37px;
}
.QuesForm, .FeedForm{
	PADDING-RIGHT:40px;
}	
.Qusfeedback .QueBoxIcon{
	position: relative;
	top:0;
	left:0
	bottom:0;
	right:0;
	display:block;
	border-bottom:1px solid #b7b6b6;
}
.dropdown-menu {
    box-shadow: none;
}

.matchbox{
	width:100%;
}
.modal-dialog.priverbox.vertical-align-center .modal-content {
    box-shadow: none;
    border-radius: 0;
}
.vertical-alignment-helper.priverbanner {
    background: #000;
}
div#previewscenario {
    margin-top: 118px;
    bottom: 60px;
}
.modal-dialog.priverbox.vertical-align-center .modal-header {
    display: flex;
}

.modal-dialog.priverbox.vertical-align-center .modal-header h4 {
	flex: 1;
}
.modal-dialog.priverbox.vertical-align-center {
    width: 70%;
}
.closesce {
    width: 20px !important;
}
.modal-dialog.priverbox.vertical-align-center .modal-header {
    padding: 10px 15px;
    border-bottom: 0;
}
.videoq_box label {
    margin-bottom: 0px !important;
}
.videoq_box .tooltip1 .img-fluid{
	margin-left: 5px !important;
}
.Radio-boxclasstmpR {
    display: flex;
    width: 100%;
}
.form-popup {
	top: 23.5%;
	position: fixed;
	background: white;
	border: 3px solid transparent;
	z-index: 16;
	margin-left: auto;
	margin-right: auto;
	min-height: 473px;
	left: 205px;
}
.Radio-boxclasstmpR {
    display: flex;
    width: 100%;
}
ul.nav.nav-QusTempTab a{
	padding:0;	
	color:#fff;
}
ul.nav.nav-QusTempTab li:last-child {
	margin-bottom: 0px;
}
.admin-dashboard.Ev2 .nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{
	padding: 7px 10px;
	border-bottom:0px;
}
.checkbox input:after, .radio:after,
.checkbox input,
.checkbox.radiobtn input{
	height:20px;
	width:20px;
}	
.checkbox input{
	line-height:18px;
}
.checkbox.radiobtn input:after, .radio:after{
	top:-3px;
	left:-2px;
}
.Scen-preview img {
    margin-left: 0 !important;
    margin-right: 20px;
    width: unset !important;
}
.main_sim.question_tree_menu .form-control{
	height:35px;
}
.main_sim .form-group{
	padding:10px 30px;
}
#question_tree_menu2 img{
	width:96px;
}
#question_tree_menu1 img{
	width:135px;
}
ul.QueBoxIcon.feed {
    margin-left: 90px;
}
.plus_comp,
.remove.minusComp{
	top:15px;
	cursor:pointer;
}
.AddAns-Option img {
    cursor: pointer;
}
.usermanage-form {
    background: transparent;
    padding: 0;
}
.checkbox.radiobtn.bluecheckbox{
	margin-left:30px;
}
.add_comp_option{
	padding-left:0px;
}
.Option-box, .MatchOption-box1,
.Option-box, .DNDOption-box1,
.Option-box, .MatchOption-box2,
.matchbox1,
.Radio-box,
.Check-box,
.Video-box,
.Swa-box{
	width:100%;
	
}
.AnsHeading.matcht.Mcchoice {
    padding-left: 20px;
}
.MMCQApendOption .choicebox {
    padding-left: 5px;
}
h3.AnsHeading.matcht.drchoice {
    margin-left: -15px;
}
.usermanage-form .form-group{
	width:100%;
}
.TwoChar {
	margin-left: 32px;
}
.matchbox1 .form-group{
	padding-right:0px;
}
.radiostyle,
.checkstyle{
	margin-left:0;
}
.side-menu-list>li>a:focus, .side-menu-list>li>a:hover, .side-menu-list>li>a:active{
	background-Color:transparent;
}
li.matchingQ svg path,
li.SequanceQ svg path,
li.DregDropQ svg path,
li.VideoQ svg path,
li.MCQQ svg path,
li.MMCQQ svg path,
li.SwapingQ svg path {
    fill: #fff !important;
}  

li.matchingQ.active svg path, 
li.matchingQ svg path:hover,
li.SequanceQ.active svg path, 
li.SequanceQ svg path:hover,
li.DregDropQ.active svg path,
li.DregDropQ svg path:hover,  
li.VideoQ.active svg path, 
li.VideoQ svg path:hover, 
li.MCQQ.active svg path, 
li.MCQQ svg path:hover, 
li.MMCQQ.active svg path, 
li.MMCQQ svg path:hover, 
li.SwapingQ.active svg path,
li.SwapingQ svg path:hover  {
    fill: #edb007;
}
li.Add_Scenario svg path,
li.image_menu svg path,
li.char_menu svg path,
li.Add_Branding svg path,
li.main_menu svg path,
li.main_menu svg rect,
li.QUeS_menu.main_menu svg path,
li.Add_Web svg path{
	fill:#fff !important;
}
.Add_Scenario.active svg path,
.image_menu.active svg path,
.char_menu.active svg path,
.Add_Branding.active svg path,
.main_menu.active svg path,
.QUeS_menu.main_menu.active svg path,
.Add_Web.active svg path{
	fill:#edb007;
}    
ul.side-menu-list.nav.nav-tabs {
	border-bottom: none;
}
.addsce-img .btn.btn-primary {
    height: 40px;
    margin-right:15px
}
.checkbox.bluecheckbox.TwoCharIMG {
    padding-left: 25px;
}
.imgpath .form-control {
    height: 40px;
}
.matchbox1{
	margin-bottom:3px;
}
.nav.nav-QusTempTab>li>a:focus, .nav.nav-QusTempTab>li>a:hover{
	background-color: #000;
	color:white;
	outline-offset: unset;
	outline: unset;
}
.matchbox2{
	height:unset;
}

.ShortingNum{
	margin-top:2px;
}
.MMCQApendOption{
	padding-right:15px;
}
a.btn.btn-default .fa.fa-chevron-up {
	display: none;
}
a.btn.btn-default .fa.fa-chevron-down {
	display: inline-block;
} 
a.btn.btn-default.changebtn .fa.fa-chevron-up {
	display: inline-block;
}
a.btn.btn-default.changebtn .fa.fa-chevron-down {
	display: none;
} 

a.btn.btn-default .fa.fa-chevron-up.listleft {
	display: inline-block;
}
a.btn.btn-default .fa.fa-chevron-down.listleft {
	display: none;
} 
a.btn.btn-default.changebtnleft .fa.fa-chevron-up.listleft {
	display: none;
}
a.btn.btn-default.changebtnleft .fa.fa-chevron-down.listleft {
	display: inline-block;
} 
.match-Tab li {
	display: inline-block;
}
.match-Tab ul {
	text-align: center;
	border-bottom: unset;
}
.match-Tab {
	background: #fff;
	position:fixed;
	width:100%;
	z-index:16;
}
.match-Tab .nav-tabs>li>a{
	font-size:16px;
	font-weight:600;
	padding:10px 30px;
}
.feedback-flex {
    display: flex;
}

.feedback-flex h4 {
    margin-top: 15px;
    margin-right: 10px;
	width:87px;
}
.match-Tab .nav>li>a:focus, .match-Tab .nav>li>a:hover, .match-Tab .nav>li>a:active{
	background-color: transparent;
	color: #555;
	font-size:16px;
	font-weight:600;
	padding:10px 30px;
}

.match-Tab .nav-tabs>li.active>a, .match-Tab .nav-tabs>li.active>a:focus, .match-Tab .nav-tabs>li.active>a:hover {
	color: #555;
	cursor: default;
	background-color: transparent;
	border: transparent;
	font-size:16px;
	font-weight:600;
	padding:10px 30px;
	width:100% !important;
}	
.match-Tab li.active>a:after {
    width: 100%;
    background: #edaf08;
}

.match-Tab .nav-tabs>li.active>a:focus:after, .match-Tab .nav-tabs>li.active>a:hover:after, .match-Tab .nav-tabs>li.active>a:active:after{
	width:100% !important;
	background: #edaf08;
}
.match-Tab li>a:after {
	content: '';
	height: 3px;
	width: 0;
	left: 0;
	right: 0;
	bottom: 0;
	position: absolute;
	-webkit-transition: .5s;
    transition: .5s
}

.Ques-pop-style{
	top: 19.7%;
	left: 245px;
	bottom: 64px;
	right: 0px;
	background:#fff;
}
	.modal.Ques-pop-style.in.TogglelistwidthQ100 {
    left: 50px;
}
	.modal.Ques-pop-style.in.QTogglelistwidthQ100 {
    left: 50px;
}
.textarea .form-control{
	width:100%;
	min-height:480px;
}
ul.QueBoxIcon.QueBoxIcon1 {
	position: relative;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin-top:0px;
	display:inline-block;
	float:left;
}

ul.QueBoxIcon.QueBoxIcon1 h5 {
    margin: 4px;
}
.q-icon-banner{	
	border-bottom:1px solid #b7b6b6;
	padding-bottom:5px;
}
.Qimgbanner {
	padding-top: 5px;
}
.qusHeading{
	margin-top:18px;
}
.form-group.QusScore {
    width: 45px;
}
.Ques-comp {
    text-align: right;
	display:inline-block;
	float:right
}
.Ques-comp h5 {
    margin-top: 3px;
    margin-bottom: 3px;
}
.Ques-comp .form-control::placeholder {
    color: #2c3545;
}
.textarea{
	width:unset;
}
.modal-backdrop{
	position:unset;
}
.addsce-img {
    display: flex;
}
.webicon {
    margin-bottom: 10px;
}
.modal-footer {
    border-top: 0px;
    padding: 5px 0px;
}
.Check-box.suffel {
    display: inline-block !important;
    width: unset;
    float: right;
    padding-right: 50px;
	margin-top: -5px;
}
.Check-box.suffel.suffe2 {
	 padding-right:62px;
}
.col-sm-12.Questiontmpbanner.Qtempmmcq {
    padding-right: 75px;
}
.Check-box.suffel.suffe3{
	padding-right: 55px;
}
.Check-box.suffel .checkmark {
    background-color: #fff;
    border: 1px solid #000;
    top: 8px;
    left: -25px;
    width: 20px;
    height: 20px;
}
h3.AnsHeading.matcht {
    display: inline-block;
	margin-left:0px;
}
span.shuffleT {
    padding-top: 8px;
    display: inline-block;
    font-weight: bold;
	font-size:14px;
}
.Check-box.suffel .checkmark:after {
	left: 6px;
	top: 4px;
	width: 6px;
	height: 10px;
}
.shortbox2,
 .Option-box{
    display: flex;
    width: 100%;
}


.shortbox2 .form-group,
.Option-box .form-group{
    width: 100%;
    margin-right: 15px;
}
h3.AnsHeading.dragH {
    margin-left: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 12px;
}
.choicebox.ShortAC .form-group {
    margin-right: 15px;
}
.choicebox.ShortAC .form-control {
    background: #cccccc;
}

.ApendShortOption-banner {
    margin-bottom: 30px;
}
.ApendShortOption-box,
.ApendShortOption-box1 {
    margin-bottom: 30px;
	padding-right:10px;
}
.form-group.feed textarea {
    height: 70px;
}
li.VideoQ .svg {
    width: 55px !important;
}
.DNDOption-box1{
	display:inline-flex;
}
.question-type {
    display: inline-block;
    font-size: 12px;
	margin-bottom: 0;
}
.DD01,
.DD02 {
    display: inline-block;
}

.DD01 img,
.DD02 img {
    width: 60px;
    margin-left: 5px;
}
.Radio-box.Dragradio {
    display: inline-flex;
    width: unset;
	margin-right:25px;
}
.DNDOptionbanner {
    margin-top: 15px;
}

.match-Tab.widthQ100 {
    margin-top: 0;
    padding-left: 0;
    display: block;
    width: 88%;
	margin-left: 195px;
	border-bottom: 1px solid #ddd;
}
.match-Tab.widthQ100mult {
    margin-top: 0;
    padding-left: 0;
    display: block;    
	width: 100%;
	padding-left: 670px;
}
.col-sm-12.mcwidth {
    width: 96.5%;
	padding-left: 5px;
}
.MMCQCheck .col-sm-12.mcwidth {
   width: 95%;
}
.DNDOptionbanner>li.active>a, .DNDOptionbanner>li.active>a:focus, .DNDOptionbanner>li.active>a:hover {
    background: transparent;
}
.DNDOptionbanner .radiomark{
	left:0px;
}

.tabpadding150 .col-sm-12.DND02Q{
	width: 96.6% !important;
}

.question-list a,
.Cuequestion-list a {
    color: #000;
}
.question-list a:active, .question-list a:hover {
    color: #303030;
}
span.text-R p {
    display: block;
    margin-bottom: 0px;
}
.edit-sim-radio.Linerm {
    margin-left: 50px;
    margin-top: 20px;
    margin-bottom: 30px;
}

.usermanage-form .col-sm-12 {
    padding-left: 0;
    padding-right: 0;
}
.edit-sim-box .user_text {
    padding-bottom: 5px;
    background: #dbdbdb;
	padding: 5px 10px;
	font-weight: normal !important;
}
.linersim {
    border-bottom: 1px solid #ebebeb;
    margin-bottom: 20px;
    padding-bottom: 10px;
}
img.editsimimg {
    width: 25px;
    margin-left: 10px;
}
img.editsimimg {
    width: 25px;
    margin-left: 10px;
}
.linersim.linersimlast {
    border-bottom: 0px;
}
.edit-sim-box .form-control {
    box-shadow: none;
    border-radius: 0;
    width: 40%;
    display: inline-block;
}
.Scen-preview.edit-sim img {
    border: 1px solid #ccc;
}
.edit-sim-box {
    margin-bottom: 50px;
	margin-top: 15px;
}
span.leftIMG {
    right: -63px;
}
.edit-sim-box svg {
    display: inline-block !important;
    width: 25px !important;
    margin-left: 20px !important;
    vertical-align: middle;
}
#Add_Branding .Group_managment {
    padding-top: 80px;
}
#Add_Branding .branding-flex{
	display: flex;
}
#Add_Branding .Simulation_det.stopb.clearfix {
    padding-left: 28px !important;
	width: 100%;
}
#Add_Branding .branding-flex.brandingbox {
    display: block !important;
}
#main_menu .main_sim.question_tree_menu .form-control {
    width: 160px;
}

.Group_managment {
    padding-top: 50px;
}
.quesbox.CQtmp,
.classicQ{
    width: 100%;
}
.imgpath .form-control {
    width: 100%;
    background: #fff;
	border-radius: 0;
    box-shadow: none;
}
.edit-sim-radio {
    display: flex;
}
span.text-R {
    margin-top: 8px;
    margin-left: 10px;
	font-size:16px;
	vertical-align: middle;
}
span.smallT p {
    display: block;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 35px;
}
.linersim .radiostyle {
    display: inline-block;
}
span.text-R img {
    width: 25px;
    margin-left: 10px;
}
.edit-sim-box .form-group {
    display: table;
    width: 100%;
    vertical-align: middle;
}
.Q-left {
	position: absolute;
    left: 50px;
    background: #b7b6b6;
    z-index: 99;
    top: -50px;
}
.Q-leftbranching{
	position: fixed;
    left: 50px;
    background: #b7b6b6;
    z-index: 9999999;
    top: 72px;
}
}
.Q-left.left150,
.Q-leftbranching.left150  {
	margin-left: 0;
}
.match-Tab.widthQ100.TogglelistwidthQ100 {
		margin-left: 0px;
		width: 98%;
}
.match-Tab.widthQ100mult.TogglelistwidthQ100 {
	padding-left: 0px;
}
.Radio-boxclasstmpR.classicChAling {
    WIDTH: 104%;
}

.classicQ.classicFEED {
    padding-left: 35px;
}
.classicQ .form-group.feed {
	width: 100%;
	margin-bottom: 20px;
}
.classicQ .QueBoxIcon.feedQ {
position: relative;
}
.MCQApendOption-box {
    margin-bottom: 40px;
}
.match-Q.tab-pane.fade.in.active.tabpadding150 .modal.Ques-pop-style.in {
    left: 50px;
}
.match-Q.tab-pane.fade.in.active .modal.Ques-pop-style.in {
    left: 204px;
}
.widthQ100.branchingmultitemp .match-Q.tab-pane.fade.in.active .modal.Ques-pop-style.in,
.widthQ100.branchingclassic-template .match-Q.tab-pane.fade.in.active .modal.Ques-pop-style.in {
    left: 722px;
}

.widthQ100.branchingmultitemp.TogglelistwidthQ100 .match-Q.tab-pane.fade.in.active .modal.Ques-pop-style.in.TogglelistwidthQ100,
.widthQ100.branchingclassic-template.TogglelistwidthQ100 .match-Q.tab-pane.fade.in.active .modal.Ques-pop-style.in.TogglelistwidthQ100 {
    left: 50px;
}
.widthQ100.branchingmultitemp .Ques-pop-style,
.widthQ100.branchingclassic-template .Ques-pop-style {
    left: 722px;
}
.widthQ100.branchingmultitemp.TogglelistwidthQ100 .match-Q.tab-pane.fade.in.active .modal.Ques-pop-style.in,
.widthQ100.branchingclassic-template.TogglelistwidthQ100 .match-Q.tab-pane.fade.in.active .modal.Ques-pop-style.in {
    left: 50px;
}

.linersim .Radio-box {
    display: unset;
}
.videotab {
    margin-left: 30px;
    padding-top:15px
}

.videotab .Radio-box {
    display: inline-block;
    width: unset;
}

.videotab img {
    width: 65px;
    display: inline-block;
}
.videotab .radiomark.SelC {
    left: -5px;
}


.plus_page img {
    width: 30px !important;
}

.add_page_option.appendSCE {
    position: relative;
}

.remove.minusComp img {
    width: 30px !important;
}

.remove.minusComp {
    position: absolute;
    right: -10px;
}
.sp-colorize {
    width: 100%;
    height: 100%;
}

.sp-colorize-container.sp-add-on {
    width: 32px !important;
	border:1px inset rgb(183 183 183) !important;
}
.add_page_option input {
    width: 100% !important;
}
.plus_comp_option.linaer .remove.minusComp {
    right: 50px;
}
.plus_page {
    position: absolute;
    top: 10px;
    right: -10px;
}
.cke_reset {
    width: 100% !important;
}
.add_page_option.appendSCE input {
	width: 98% !important;
}
input.spectrum.with-add-on{
	padding-left:2px !important;
	width:100px;
}
.Radio-box.VideobX {
    margin-left: 25px;
}
/*.sidebar-wrapper:after {
    width: 100%;
    height: 100%;
    content: '';
    position: absolute;
    top: 0;
    background: red;
    opacity: 0;
}*/
.sidebar-wrapper.sidebarPatch:after {
    display: none;
}
ul.QueBoxIcon li label{
	margin-bottom: 0px;
}
.videoflexcrossbtn.browsebtn {
    position: absolute;
    right: 0px;
    font-size: 25px;
    top: 0px;
	z-index: 9;
}
.videouplaodingbox {
    background: white;
    width: 320px;
    margin: 0 auto;
    min-height: 225px;
	position:relative;
	display: flex;
    align-items: center;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    justify-content: center;
}
.panel.panel-video {
    margin-bottom: 0px !important;
	margin-left:-30px;
	margin-right:-10px;
	position:relative;
	border:none;
	-webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.panel.panel-video img {
    width: 25px;
}
.panel-heading .collapsed {
    top: 0;
    bottom: unset !important;
}
.panel.panel-video .panel-heading {
    text-align: right;
    padding: 0;
	background:#bbbbbb;
}

#DNDQuestion .panel-heading .collapsed,
#SwapingQuestion .panel-heading .collapsed {
    margin-right: 37px !important;
}
.panel.panel-video .panel-body {
    padding: 0;
}
.videotext {
    padding-bottom: 10px;
    padding-left: 5px;
}
.video-text {
    color: #2c3545;
    padding-top: 10px;
	padding-bottom: 10px;
    padding-left: 40px;
    font-size: 16px;
    font-weight: bold;
	text-align:left;
}
.videoboxBanner img {
    width: 40px;
}
.video-text.unpin-heading .unpinvideo {
    display: none !important;
}

.video-text.unpin-heading .pinvideo {
    display: inline !important;
}
.videoBasedtmp #page-content-wrapper {
		width: 100%;
}
.addsce-img .col-sm-6 {
    padding-left: 0;
}
.videoboxBanner {
	background: #a7a7a7;
	padding-top: 10px;
	padding-bottom: 10px;
}
.cuepointbtn .btn.btn-primary {
    padding-left: 0;
    width: 130px;
    height: 30px;
    background-color:#daa40d;
    border:1px solid #daa40d;
	color:#2c3545;
	margin-left: 10px;
}
.cuepointbtn .btn.btn-primary:hover {
    background-color:#2c3545;
    border:1px solid #2c3545;
	color:#fff;
}
.cuepointbtn {
    display: inline-block;
}
.VideoTimebox .form-group {
    width: 85px;
}
.VideoTimebox .form-group {
    width: 65px;
}
.VideoTimebox {
    text-align: center;
	padding-top:0px;
	padding-bottom:10px;
	position: absolute;
}
.VideoTimebox .form-control {	
	height:30px !important;
	width: 65px;
	border-radius: 0;
	box-shadow: none;
}
.unpinvideo{
	display:none;
}
.matchingchicesuffle {
    display: none;
}
.MatchOption-box2.MSuffle {
    margin-bottom: 0px;
}
.sqq_assets_data,
.mmcqq_assets_data,
.mcqq_assets_data {
    display: inline-block;
}
.main_sim.question_tree_menu {
    width: 98%;
}
.AnsHeading.Mchoice {
    display: inline-block;
	margin-left:30px;
}
.widthQ100.branchingclassic-template .Radio-box.classtmpR{
	width: 107%;
}
.widthQ100.branchingclassic-template .classicQ.classicFEED {
    width: 102%;
}
.widthQ100.branchingclassic-template .quesbox.CQtmp {
    width: 102%;
}
.widthQ100.branchingclassic-template.TogglelistwidthQ100 .quesbox.CQtmp {
    width: 100.5%;
}
.widthQ100.branchingclassic-template .Radio-boxclasstmpR.classicChAling {
    width: 107%;
}

.widthQ100.branchingclassic-template.TogglelistwidthQ100 .Radio-boxclasstmpR.classicChAling {
    width: 103.5%;
}
.widthQ100.branchingclassic-template.TogglelistwidthQ100 .col-sm-12.mcwidth {
    width: 100%;
}
.widthQ100.branchingclassic-template .matchbox.DNDQfIeLd.classicdnd {
    width: 102.5%;
}
.widthQ100.branchingclassic-template.TogglelistwidthQ100 .matchbox.DNDQfIeLd.classicdnd {
    width: 101%;
}
.widthQ100.branchingclassic-template.TogglelistwidthQ100 .classicQ.classicFEED {
    width: 100.7%;
}

.widthQ100.branchingclassic-template.TogglelistwidthQ100 .Radio-box.classtmpR{
	width: 103.6%;
}

.widthQ100.classic-template.TogglelistwidthQ100 .Radio-box.classtmpR{
	width: 102.9%;
}
.widthQ100.classic-template .Radio-box.classtmpR {
	width: 104.3%;
}

.widthQ100.classic-template.TogglewidthQ100 .Radio-box.classtmpR{
	width: 104.3%;
}
.Radio-box.classtmpR {
    margin-top: 30px;
}
.form-group.feed h5 {
    margin-top: 5px;
    margin-bottom: 5px;
}
.Check-box.suffel.classicCH {
    padding-right: 5px;
}
.overlay .SwipeOption .large-12.columns {
    padding: 0px 60px;
}
.textwraping.dtwraping {
    padding: 0;
}
.C_liner_managment .quesbox.CQtmp {
    padding-right: 10px;
}

.C_liner_managment .Ansbox {
    padding-right: 10px;
}
.LinerClassicTMPAns .col-sm-12.mcwidth {
    width: 95.3%;
	padding-left: 10px;
}
.Ansbox.LinerClassicTMPAns .choicebox .form-group {
    padding-left: 0px;
}
.widthQ100.classic-template.educaterAuthTemp .col-sm-12.Questiontmpbanner {
    padding-right: 20px !important;
}

.widthQ100.classic-template.educaterAuthTemp .quesbox.CQtmp {
    width: 100%;
}
.form-group.branching {
    padding: 10px 15px;
}
#MCQQuestion .Check-box.suffel.suffe2,
#SwapingQuestion .Check-box.suffel.suffe2 {
    padding-right: 52px;
}
.col-sm-12.Qusfeedback {
    padding-right: 50px;
}
input.form-control.ques_no.ui-state-CheCK {
    width: 25px;
    margin-top: 10px;
    margin-left: 8px;
}

a.ui-state-text {
    width: 100%;
}

.ui-state-default {
    display: flex;
}
.SingleVidEotmp .AnsHeading {
    margin-left: 0;
}
@media (min-width: 768px) and (max-width: 1024px) {

	.MCQOption.bannermcq .checkstyle, .MMCQOption.bannermcq .checkstyle {
		right: 10px !important;
	}
}


@media (max-width: 1450px) and (min-width: 1025px){
	
	.add_page_option.appendSCE input {
		width: 97% !important;
	}
	.main_sim_scroll.M-S-branching .Simulation_det.stopb.clearfix.unsetp {
		padding-left: 550px !important;
	}
	.MMCQCheck .col-sm-12.mcwidth {
		padding-right: 10px;
	}
	.shortbox2 .form-group,
	.Option-box .form-group{
		margin-right: 15px;
	}
	.submitMTFcenter.col-sm-12 {
		margin-top: 25px;
	}
	.col-sm-12.Qusfeedback {
		padding-right: 20px;
	}
	.plus_page {		
		top: 5px;
		right: 0px;
	}
	.Radio-boxclasstmpR.classicChAling {
		WIDTH: 103.3%;
	}
	.plus_comp,
	.remove.minusComp{
		right: 0;
	}
	.plus_comp_option.linaer .remove.minusComp {
		right: 0;
	}
	.widthQ100.classic-template.educaterAuthTemp .col-sm-12.Questiontmpbanner {
		padding-right: 0px !important;
	}
	
	.classicTempBnnaR #matchingQuestion, .classicTempBnnaR #SequanceQuestion, .classicTempBnnaR #DregDropQuestion, .classicTempBnnaR #MCQQuestion, .classicTempBnnaR #MMCQQuestion, .classicTempBnnaR #DNDQuestion, .classicTempBnnaR #SwapingQuestion{
		width: 100.8%;
	}
	.classicQ.classicFEED {
		padding-left: 35px;
	}
	.btn.btn-primary {
	    width: 190px;
	}
	.matchbox.DNDQfIeLd.classicdnd {
		width: 99%;
	}
	.LinerClassicTMPAns .col-sm-12.mcwidth {
		width: 96.3%;
	}
	.Check-box.suffel.suffe2 {
		 padding-right:60px;
	}
	.col-sm-12.mcwidth {
		width: 100%;
	    padding-left: 0;
	}

	.main_sim_scroll .Simulation_det.BSimulation_det {
		padding-left: 520px !important;
	}
	.panel.panel-video {
		margin-right:-15px;
	}
	.Simulation_det.stopb.clearfix {
		width:97%;
	}
	
	.list-icon {
		width: 155px;
	}
	.form-popup {
		width: 82.4%;
	}
	.widthQ100.branchingmultitemp .match-Q.tab-pane.fade.in.active .modal.Ques-pop-style.in,
	.widthQ100.branchingclassic-template .match-Q.tab-pane.fade.in.active .modal.Ques-pop-style.in	{
		left: 542px;
	}
	
	.widthQ100.branchingmultitemp .Ques-pop-style,
	.widthQ100.branchingclassic-template .Ques-pop-style	{
		left: 542px;
	}
	.widthQ100.branchingmultitemp.TogglelistwidthQ100 .match-Q.tab-pane.fade.in.active .modal.Ques-pop-style.in.TogglelistwidthQ100,
	.widthQ100.branchingclassic-template.TogglelistwidthQ100 .match-Q.tab-pane.fade.in.active .modal.Ques-pop-style.in.TogglelistwidthQ100 {
		left: 50px;
	}
	.widthQ100.branchingmultitemp.TogglelistwidthQ100 .match-Q.tab-pane.fade.in.active .modal.Ques-pop-style.in,
    .widthQ100.branchingclassic-template.TogglelistwidthQ100 .match-Q.tab-pane.fade.in.active .modal.Ques-pop-style.in	{
		left: 50px;
	}
	.quesbox.CQtmp,
	.classicQ{
		width: 98.5%;
	}
	.widthQ100.branchingclassic-template .Radio-box.classtmpR{
		width: 105.6%;
	}
	.widthQ100.branchingclassic-template.TogglelistwidthQ100 .Radio-box.classtmpR{
		width: 103.6%;
	}
	.widthQ100.classic-template.TogglelistwidthQ100 .Radio-box.classtmpR{
		width: 102.9%;
	}
	.widthQ100.classic-template .Radio-box.classtmpR {
		width: 103.3%;
	}
	.widthQ100.classic-template.TogglewidthQ100 .Radio-box.classtmpR{
		width: 104.3%;
	}
	input.spectrum.with-add-on{
		width:75px;
	}
	.widthQ100.classic-template {
		padding-left: 150px;
	}
	.widthQ100.multitemp{
		padding-left:160px;
		width: 103%;
	}
	.widthQ100.branchingmultitemp{
		padding-left:500px;
		width: 103%;
	}
	.widthQ100.branchingmultitemp{
		padding-left:490px;
		width: 103%;
	}
	.topbannericon {
		width: 155px;
	}
	.main_sim_scroll .Simulation_det {
		padding-left: 185px !important;
	}
		.match-Tab.widthQ100 {
		margin-left: 155px;
	}
	.match-Tab.widthQ100mult {
		padding-left: 475px;
	}
	.widthQ100.multitemp.TogglelistwidthQ100,
	.widthQ100.branchingmultitemp.TogglelistwidthQ100 {
		padding-left: 10px;
	}
	
	.tabpadding150 .col-sm-12.DND02Q{
		width: 94.8% !important;
	}
	.radiomark,
	.checkmark{
		top:5px;
	}	
	.Adddbackgroundbg .radiomark,
	.Adddbackgroundbg .checkmark{
		top:0px;
	}	
	.match-Tab.widthQ100 {
		width: 85%;
	}
	.match-Tab.widthQ100.TogglelistwidthQ100 {
		margin-left: 0px;
		width: 97%;
	}
	.SA-choicebox{
		width:100%;
	}
	.branding-flex.brandingbox {
		display: block;
	}	
	.SA-choicebox{
		width:100%;
	}
	li.VideoQ .svg {
		width: 37px !important;
	}
	.Qusfeedback .form-group{
		padding-right:15px;
	}
	/* #page-content-wrapper { */
		/* width: 95.6%; */
		/* margin-left:40px; */
	/* } */
	.quest_template_btn a {
		margin-top:350px;
	}
	.question-list,
	.Cuequestion-list	{
		width: 154px;
	}
	.main_sim .form-group{
		
		margin-left:0px;
	}


	.add_comp_option{
		padding-left:0px;
	}
	.radiomark.SelC {
		top: 0;
		left: -50px;
	}
	#question_tree_menu2 img{
		width:90px;
	}
	#question_tree_menu1 img{
		width:115px;
	}
	ul.nav.nav-QusTempTab .VideoQ .svg {
		width: 55px !important;
	}
	svg.img-fluid.svg.replaced-svg{
		width:55px;
	}
	ul.nav.nav-QusTempTab a{
		font-size:12px;
		font-weight:600;
		padding:0;
		color:#fff;
	}
	span.UpDowm {
		margin-left: 25px;
	}
	.question-list li,
	.Cuequestion-list li{
		font-size:14px;
	}
	ul.nav.nav-QusTempTab li {
		padding: 4px;
	}
	.checkbox.bluecheckbox{
		margin-left:0;
	}
	.Scen-preview img {
    width: 90px !important;
	}
	.Ques-pop-style{
		top: 23.6%;
		bottom: 64px;
		right: 0px;
		left: 204px;
		width: 85%;
	}

	.textarea .form-control{
		min-height:240px;
	}
	.quesbox .form-control, .Ansbox .form-control{
		height:40px;
	}
	#left-wrapper {
		width: 155px;
	}
	.vertical-alignment-helper {
		display:table;
		height: 100%;
		width: 100%;
	}
	.vertical-align-center {
		/* To center vertically */
		display: table-cell;
		vertical-align: middle;
	}
	.modal-content {
		/* Bootstrap sets the size of the modal in the modal-dialog class, we need to inherit it */
		width:inherit;
		height:inherit;
		/* To center horizontally */
		margin: 0 auto;
	}
}
