.card {
    margin-bottom: 20px;
    border: 1px solid rgba(0,0,0,.1);
}
.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid #e9ecef;
    border-radius: 0;
}
.card-body {
    flex: 1 1 auto;
    padding: 1.25rem;
}
.timeline {
	position: relative;
	padding: 20px 0;
	list-style: none;
	max-width: 1200px;
	margin: 0 auto
}
.timeline:before {
	content: " ";
	position: absolute;
	top: 0;
	bottom: 0;
	left: 50%;
	width: 3px;
	margin-left: -1.5px;
	background-color: #e9ecef
}
.timeline>.timeline-item {
	position: relative;
	margin-bottom: 20px
}
.timeline>.timeline-item:after, .timeline>.timeline-item:before {
	content: " ";
	display: table
}
.timeline>.timeline-item:after {
	clear: both
}
.timeline>.timeline-item>.timeline-panel {
	float: left;
	position: relative;
	width: 46%;
	padding: 20px;
	border: 1px solid #e9ecef;
	border-radius: 2px;
	-webkit-box-shadow: 0 1px 6px rgba(0,0,0,.05);
	box-shadow: 0 1px 6px rgba(0,0,0,.05)
}
.timeline>.timeline-item>.timeline-panel:before {
	content: " ";
	display: inline-block;
	position: absolute;
	top: 26px;
	right: -8px;
	border-top: 8px solid transparent;
	border-right: 0 solid #e9ecef;
	border-bottom: 8px solid transparent;
	border-left: 8px solid #e9ecef
}
.timeline>.timeline-item>.timeline-panel:after {
	content: " ";
	display: inline-block;
	position: absolute;
	top: 27px;
	right: -7px;
	border-top: 7px solid transparent;
	border-right: 0 solid #fff;
	border-bottom: 7px solid transparent;
	border-left: 7px solid #fff
}
.timeline>.timeline-item>.timeline-badge {	
	position: absolute;
	top: 16px;
	left: 50%;
	width: 50px;
	height: 50px;
	margin-left: -25px;
	border-radius: 50%;
	text-align: center;
	font-size: 1.4em;
	line-height: 50px;
	color: #fff;
	overflow: hidden
}
.timeline-left>.timeline-item>.timeline-panel, .timeline-right>.timeline-item>.timeline-panel {
	width: calc(100% - 80px)
}
.timeline>.timeline-item.timeline-inverted>.timeline-panel {
	float: right
}
.timeline>.timeline-item.timeline-inverted>.timeline-panel:before {
	right: auto;
	left: -8px;
	border-right-width: 8px;
	border-left-width: 0
}
.timeline>.timeline-item.timeline-inverted>.timeline-panel:after {
	right: auto;
	left: -7px;
	border-right-width: 7px;
	border-left-width: 0
}
.timeline-badge.primary {
	background-color: #7460ee
}
.timeline-badge.success {
	background-color: #22c6ab
}
.timeline-badge.warning {
	background-color: #ffbc34
}
.timeline-badge.danger {
	background-color: #ef6e6e
}
.timeline-badge.info {
	background-color: #4798e8
}
.timeline-title {
	margin-top: 0;
	color: inherit;
	font-weight: 400
}
.dd-handle, .dd-item>button {
	font-weight: 700;
	margin: 5px 0
}
.timeline-body>p, .timeline-body>ul {
	margin-bottom: 0
}
.timeline-left:before {
	left: 30px
}
.timeline-left>.timeline-item>.timeline-badge {
	left: 30px;
	top: 9px
}
.timeline-right:before {
	right: 30px;
	left: auto
}
.timeline-right>.timeline-item>.timeline-badge {
	right: 5px;
	top: 9px;
	left: auto
}
.cd-horizontal-timeline .events a {
	padding-bottom: 6px;
	color: #4798e8
}
.dd, .dd-list {
	display: block;
	padding: 0;
	list-style: none
}
.cd-horizontal-timeline .events a.selected::after, .cd-horizontal-timeline .filling-line {
	background: #4798e8
}
.cd-horizontal-timeline .events a.selected::after {
	border-color: #4798e8
}
.cd-horizontal-timeline .m-t-40 {
	margin-top: 40px!important
}
.dd, .dd-list {
	margin: 0;
	position: relative
}
